/****** Object:  View [dbo].[VWMarketingActivity]    Script Date: 1/7/2022 4:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWMarketingActivity]
AS SELECT [FactDateKey]
      ,[FactDate] MarketingActivityDateUTC
	 , FactDate MarketingActivityDateEST
      ,[MarketingActivityDate] 
      ,[MarketingActivityTime]
      ,[LocalAirTime]
      ,[TransactionId]
      ,Case when [AgencyName] like '%KingStar%' then 'Kingstar Media'
	  else [AgencyName] end AgencyName
      ,[File]
      ,[BudgetAmount]
      ,Case when agency='Pure Digital' and medium='Shop' then 0 else [GrossSpend] end [GrossSpend]
      ,[Discount]
      ,[Fees]
      ,Case when agency='Pure Digital' and medium='Shop' then 0 else [NetSpend] end [NetSpend]
      ,[SpotDate]
      ,[Spots]
      ,[Telephone]
      ,[SourceCode]
      ,[PromoCode]
      ,[Url]
      ,[Impressions18-65]
      ,[Affiliate]
      ,[Station]
      ,[Show]
      ,[ContentType]
      ,[Content]
      ,[Isci]
      ,[MasterNumber]
      ,[DMAkey]
      ,[DMA]
      ,[AgencyKey]
      ,Case when [Agency] like '%KingStar%' then 'Kingstar Media'
	  else [Agency] end Agency
      ,[AudienceKey]
      ,[Audience]
      ,[ChannelKey]
      ,case when lower([medium])='ott' then 'Television'
	   else [Channel] end Channel
	   ,Case 
	  When Agency='Launch' and Channel in ('Paid Social','Display') Then 'Paid Social & Display'
	  When Agency='Pure Digital' and Channel in ('Paid Search','Display','Shop') Then 'Paid Search & Display'
	  When Agency='In-House' and Channel in ('Paid Search','Paid Social') Then 'Multiple'
	  When Agency='In-House' and Medium='Sports' then 'Poker'
	  When lower([medium])='ott' then 'Television'
	  else Channel end ChannelGroup
	  ,[FormatKey]
      ,[Format]
      ,[TacticKey]
      ,[Tactic]
      ,[SourceKey]
      ,case 
	  when agency='A360' then 'Multiple'
	  When Agency='In-House' and Medium='Sports' then 'Multiple'
	  when marketingactivitydate is not  null and channel='Television' then 'Linear' 
	  when agency='In-House'  then 'Multiple'
	   when agency='Mediapoint'  then 'Multiple'
	  When agency='Pure Digital' and channel='Paid Search' and source in ('Bing','Google') then 'Multiple'
	   When agency='Valassis' and channel='Display' and source in ('Bing','Google') then 'Multiple'
	 when agency='Venator' then 'Multiple'
	  When source='Unknown' then 'Multiple'
	   else source end source
      ,[MediumKey]
	  ,Medium Mediumsource
      ,Case When Agency='Jane Creative' then 'Image & Video'
	   When Agency='Launch' and medium='Unknown' then 'Traditional Ads'
	   When Agency='In-House' and medium='Cpc' then 'Listings'
	   when  medium='Banner' then 'Retargeting'
	   When Agency='In-House' and Medium='Sports' then 'Poker'	 
	   When medium like 'Short Form%' then 'Short Form'
	   When medium='Sponsored Content' then 'Retargeting'
	   When medium='Localized Ads' then 'Localization Ads'
	  else [medium] end Medium 
      ,[PurposeKey]
      ,[Purpose]
      ,[MethodKey]
      ,[Method]
      ,[BudgetTypeKey]
      ,  BudgetName 
      ,[BudgetType]
      ,[CampaignKey]
      ,[Campaign]
      ,[CompanyKey]
      ,[Company]
      ,[LocationKey]
      ,[Location]
      ,[LanguageKey]
      ,case 
	  when [Language]='En' then 'English' 
	  when [Language]='Es' then 'Spanish'
	  else isnull([Language],'Unknown') end [Language]
	  ,LogType
      ,[NumberOfLeads]
      ,[NumberOfLeadsTarget]
      ,[NumertOfOpportunities]
      ,[NumberOfOpportunitiesTarget]
      ,[NumberOfSales]
      ,[NumberOfSalesTarget]
      ,[DWH_LoadDate]
  FROM [dbo].[FactMarketingActivity];
GO
