/****** Object:  Table [dbo].[DimDate]    Script Date: 1/7/2022 4:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate]
(
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[ISODate] [varchar](12) NULL,
	[YearNumber] [smallint] NULL,
	[YearQuarterNumber] [int] NULL,
	[YearMonthNumber] [int] NULL,
	[YearQuarterMonthNumber] [int] NULL,
	[YearWeekNumber] [int] NULL,
	[DateName] [varchar](12) NULL,
	[WeekName] [varchar](7) NULL,
	[WeekNameWithYear] [varchar](13) NULL,
	[WeekShortName] [varchar](4) NULL,
	[WeekShortNameWithYear] [varchar](9) NULL,
	[WeekNumber] [smallint] NULL,
	[FirstDateOfWeek] [date] NULL,
	[LastDateOfWeek] [date] NULL,
	[DayOfWeek] [smallint] NULL,
	[DayOfWeekName] [varchar](10) NULL,
	[IsWeekday] [bit] NULL,
	[IsWeekend] [bit] NULL,
	[MonthName] [varchar](10) NULL,
	[MonthNameWithYear] [varchar](15) NULL,
	[MonthShortName] [varchar](3) NULL,
	[MonthShortNameWithYear] [varchar](8) NULL,
	[MonthNumber] [smallint] NULL,
	[FirstDateOfMonth] [date] NULL,
	[LastDateOfMonth] [date] NULL,
	[DayOfMonth] [smallint] NULL,
	[DayOfMonthName] [varchar](16) NULL,
	[IsLastDayOfMonth] [bit] NULL,
	[QuarterName] [varchar](9) NULL,
	[QuarterNameWithYear] [varchar](15) NULL,
	[QuarterShortName] [varchar](2) NULL,
	[QuarterShortNameWithYear] [varchar](7) NULL,
	[QuarterNumber] [smallint] NULL,
	[FirstDateOfQuarter] [date] NULL,
	[LastDateOfQuarter] [date] NULL,
	[DayOfQuarter] [smallint] NULL,
	[DayOfQuarterName] [varchar](16) NULL,
	[HalfName] [varchar](9) NULL,
	[HalfNameWithYear] [varchar](15) NULL,
	[HalfShortName] [varchar](2) NULL,
	[HalfShortNameWithYear] [varchar](7) NULL,
	[HalfNumber] [smallint] NULL,
	[YearHalfNumber] [int] NULL,
	[FirstDateOfHalf] [date] NULL,
	[LastDateOfHalf] [date] NULL,
	[DayOfHalf] [smallint] NULL,
	[DayOfHalfName] [varchar](16) NULL,
	[YearName] [varchar](4) NULL,
	[YearShortName] [varchar](2) NULL,
	[FirstDateOfYear] [date] NULL,
	[LastDateOfYear] [date] NULL,
	[DayOfYear] [smallint] NULL,
	[DayOfYearName] [varchar](20) NULL,
	[CalendarQuarter] [smallint] NULL,
	[CalendarYear] [smallint] NULL,
	[CalendarYearMonth] [varchar](7) NULL,
	[CalendarYearQtr] [varchar](7) NULL,
	[FiscalYear] [smallint] NULL,
	[FiscalWeek] [smallint] NULL,
	[FiscalPeriod] [smallint] NULL,
	[FiscalMonth] [smallint] NULL,
	[FiscalQuarter] [smallint] NULL,
	[FiscalYearFiscalWeek] [int] NULL,
	[FiscalYearFiscalPeriod] [int] NULL,
	[FiscalYearFiscalMonth] [int] NULL,
	[FiscalYearFiscalQuarter] [int] NULL,
	[FiscalYearFiscalQuarterFiscalMonth] [int] NULL,
	[FiscalYearName] [varchar](4) NULL,
	[FiscalYearLongName] [varchar](16) NULL,
	[FiscalYearShortName] [varchar](6) NULL,
	[FiscalQuarterName] [varchar](1) NULL,
	[FiscalQuarterLongName] [varchar](16) NULL,
	[FiscalQuarterNameWithYear] [varchar](7) NULL,
	[FiscalQuarterLongNameWithYear] [varchar](34) NULL,
	[FiscalQuarterShortName] [varchar](3) NULL,
	[FiscalQuarterShortNameWithYear] [varchar](21) NULL,
	[FiscalMonthName] [varchar](2) NULL,
	[FiscalMonthNameWithYear] [varchar](8) NULL,
	[FiscalMonthShortName] [varchar](4) NULL,
	[FiscalMonthShortNameWithYear] [varchar](14) NULL,
	[FiscalMonthCalendarShortName] [varchar](16) NULL,
	[FiscalMonthCalendarShortNameWithYear] [varchar](22) NULL,
	[FiscalWeekName] [varchar](2) NULL,
	[FiscalWeekLongName] [varchar](14) NULL,
	[FiscalWeekNameWithYear] [varchar](8) NULL,
	[FiscalWeekLongNameWithYear] [varchar](20) NULL,
	[FiscalWeekShortName] [varchar](4) NULL,
	[FiscalWeekShortNameWithYear] [varchar](10) NULL,
	[FiscalPeriodName] [varchar](2) NULL,
	[FiscalPeriodLongName] [varchar](16) NULL,
	[FiscalPeriodNameWithYear] [varchar](8) NULL,
	[FiscalPeriodLongNameWithYear] [varchar](22) NULL,
	[FiscalPeriodShortName] [varchar](4) NULL,
	[FiscalPeriodShortNameWithYear] [varchar](10) NULL,
	[CummWorkdays] [int] NULL,
	[MonthWorkdays] [int] NULL,
	[MonthWorkdaysTotal] [int] NULL,
	[IsHoliday] [bit] NULL,
	[MonthOfQuarter] [int] NULL,
	[BroadcastYearBroadcastQuarter] [int] NULL,
	[BroadcastYearBroadcastMonth] [int] NULL,
	[BroadcastYearBroadcastWeek] [int] NULL,
	[BroadcastYearQtrMonthWeekDay] [int] NULL,
	[BroadcastYearQtrMonth] [int] NULL,
	[BroadcastYearShortName] [varchar](250) NULL,
	[BroadcastYearLongName] [varchar](250) NULL,
	[BroadcastYeartName] [varchar](250) NULL,
	[BroadcastQuarterName] [varchar](250) NULL,
	[BroadcastWeekName] [varchar](250) NULL,
	[BroadcastDayName] [varchar](250) NULL,
	[msrepl_tran_version] [varchar](250) NULL,
	[DWH_LoadDate] [datetime] NULL,
	[DWH_LastUpdateDate] [datetime] NULL,
	[SourceSystem] [varchar](50) NULL
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED INDEX
	(
		[DateKey] ASC
	)
)
GO
