/****** Object:  Table [ODS].[SFDC_ConsultationForm]    Script Date: 1/7/2022 4:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SFDC_ConsultationForm]
(
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[Additional_Information__c] [nvarchar](max) NULL,
	[Birthdate__c] [datetime2](7) NULL,
	[Communication_Preferences__c] [nvarchar](max) NULL,
	[Contact_Information__c] [nvarchar](max) NULL,
	[Country__calling__codes__c] [nvarchar](max) NULL,
	[Date__c] [datetime2](7) NULL,
	[Email__c] [nvarchar](max) NULL,
	[First_Name__c] [nvarchar](max) NULL,
	[Gender__c] [nvarchar](max) NULL,
	[Goal_Of_Visit_Other__c] [nvarchar](max) NULL,
	[Goal_Of_Visit__c] [nvarchar](max) NULL,
	[Hair_Loss_Effects_Other__c] [nvarchar](max) NULL,
	[Hair_Loss_Effects__c] [nvarchar](max) NULL,
	[Hair_Loss_Information__c] [nvarchar](max) NULL,
	[Head_Img_Name__c] [nvarchar](max) NULL,
	[How_Long_Thinking__c] [nvarchar](max) NULL,
	[How_did_you_hear_about_Hair__club__c] [nvarchar](max) NULL,
	[Is__completed__c] [bit] NULL,
	[Last_Modified_Online__c] [datetime2](7) NULL,
	[Last_Name__c] [nvarchar](max) NULL,
	[Last_Saved_Page_Number__c] [decimal](10, 7) NULL,
	[Lead__c] [nvarchar](max) NULL,
	[Ludwig_Scale__c] [decimal](10, 7) NULL,
	[Mailing__city__c] [nvarchar](max) NULL,
	[Mailing__country__c] [nvarchar](max) NULL,
	[Mailing_Postal__code__c] [nvarchar](max) NULL,
	[Mailing_State__c] [nvarchar](max) NULL,
	[Mailing_Street__c] [nvarchar](max) NULL,
	[Marketing_Preference__call__c] [nvarchar](max) NULL,
	[Martial_Status__c] [nvarchar](max) NULL,
	[Norwood_Scale__c] [decimal](10, 7) NULL,
	[Other_Information__c] [nvarchar](max) NULL,
	[PDF_URL__c] [nvarchar](max) NULL,
	[PdfPreview__c] [nvarchar](max) NULL,
	[Personal_Information__c] [nvarchar](max) NULL,
	[Phone__c] [nvarchar](max) NULL,
	[Reason_For_Hair_Back__c] [nvarchar](max) NULL,
	[Referred_By__c] [nvarchar](max) NULL,
	[Research_Done__c] [nvarchar](max) NULL,
	[Scale_Hair_Restore__c] [decimal](10, 7) NULL,
	[Signatue_Date__c] [datetime2](7) NULL,
	[Signature_IP_Address__c] [nvarchar](max) NULL,
	[Signature__c] [nvarchar](max) NULL,
	[Special_Events_Impacted__c] [nvarchar](max) NULL,
	[Steps_Taken__c] [nvarchar](max) NULL,
	[Attachment_Id__c] [nvarchar](max) NULL,
	[Told_Who__c] [nvarchar](max) NULL,
	[Transaction_Preference__call__c] [nvarchar](max) NULL,
	[Work_Phone__c] [nvarchar](max) NULL,
	[Tell_Anyone__c] [nvarchar](max) NULL,
	[CenterName__c] [nvarchar](max) NULL,
	[CenterID__c] [nvarchar](max) NULL,
	[Birthdate1__c] [datetime2](7) NULL,
	[Email1__c] [nvarchar](max) NULL,
	[FirstName__c] [nvarchar](max) NULL,
	[Gender1__c] [nvarchar](max) NULL,
	[LastName__c] [nvarchar](max) NULL,
	[MailingCity__c] [nvarchar](max) NULL,
	[MailingCountry__c] [nvarchar](max) NULL,
	[MailingPostalCode__c] [nvarchar](max) NULL,
	[MailingState__c] [nvarchar](max) NULL,
	[MailingStreet__c] [nvarchar](max) NULL,
	[MaritalStatus__c] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
