/****** Object:  Table [ODS].[zipcode]    Script Date: 1/7/2022 4:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[zipcode]
(
	[C1] [nvarchar](30) NULL,
	[C2] [nvarchar](30) NULL,
	[C3] [nvarchar](30) NULL,
	[C4] [nvarchar](30) NULL,
	[C5] [nvarchar](30) NULL,
	[C6] [nvarchar](30) NULL,
	[C7] [nvarchar](30) NULL,
	[C8] [nvarchar](30) NULL,
	[C9] [nvarchar](30) NULL,
	[C10] [nvarchar](30) NULL,
	[C11] [nvarchar](30) NULL,
	[C12] [nvarchar](30) NULL,
	[C13] [nvarchar](30) NULL,
	[C14] [nvarchar](30) NULL,
	[C15] [nvarchar](30) NULL,
	[C16] [nvarchar](30) NULL,
	[C17] [nvarchar](30) NULL,
	[C18] [nvarchar](30) NULL,
	[C19] [nvarchar](30) NULL,
	[C20] [nvarchar](30) NULL,
	[C21] [nvarchar](30) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
