/****** Object:  Table [ODS].[SFDC_Survey_Response_c]    Script Date: 1/7/2022 4:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SFDC_Survey_Response_c]
(
	[Id] [varchar](8000) NULL,
	[OwnerId] [varchar](8000) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [varchar](8000) NULL,
	[CurrencyIsoCode] [varchar](8000) NULL,
	[RecordTypeId] [varchar](8000) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [varchar](8000) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [varchar](8000) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[API_ID__c] [varchar](8000) NULL,
	[Case_Id__c] [varchar](8000) NULL,
	[Case__c] [varchar](8000) NULL,
	[Chat_Transcript_Id__c] [varchar](8000) NULL,
	[Chat_Transcript__c] [varchar](8000) NULL,
	[City__c] [varchar](8000) NULL,
	[Completion_Time__c] [datetime2](7) NULL,
	[Contact_Id__c] [varchar](8000) NULL,
	[Contact__c] [varchar](8000) NULL,
	[Country_Code__c] [varchar](8000) NULL,
	[Country_Name__c] [varchar](8000) NULL,
	[Email__c] [varchar](8000) NULL,
	[First_Name__c] [varchar](8000) NULL,
	[Full_Text__c] [varchar](8000) NULL,
	[GF1_10__c] [numeric](38, 18) NULL,
	[GF1_20__c] [numeric](38, 18) NULL,
	[GF1_30__c] [numeric](38, 18) NULL,
	[GF1_40__c] [numeric](38, 18) NULL,
	[GF1_50__c] [numeric](38, 18) NULL,
	[GF1_60__c] [numeric](38, 18) NULL,
	[GF1_70__c] [numeric](38, 18) NULL,
	[GF1_80__c] [numeric](38, 18) NULL,
	[GF1_90__c] [numeric](38, 18) NULL,
	[GF2_10__c] [numeric](38, 18) NULL,
	[GF2_20__c] [numeric](38, 18) NULL,
	[GF2_30__c] [numeric](38, 18) NULL,
	[GF2_40__c] [numeric](38, 18) NULL,
	[GF2_50__c] [numeric](38, 18) NULL,
	[GF2_60__c] [numeric](38, 18) NULL,
	[GF2_70__c] [numeric](38, 18) NULL,
	[GF2_80__c] [numeric](38, 18) NULL,
	[GF2_90__c] [numeric](38, 18) NULL,
	[GF3100__c] [numeric](38, 18) NULL,
	[GF310__c] [numeric](38, 18) NULL,
	[GF3110__c] [varchar](8000) NULL,
	[GF3120__c] [numeric](38, 18) NULL,
	[GF3130__c] [varchar](8000) NULL,
	[GF3140__c] [numeric](38, 18) NULL,
	[GF3150__c] [varchar](8000) NULL,
	[GF3160__c] [numeric](38, 18) NULL,
	[GF3170__c] [varchar](8000) NULL,
	[GF3180__c] [varchar](8000) NULL,
	[GF3190__c] [numeric](38, 18) NULL,
	[GF3200__c] [numeric](38, 18) NULL,
	[GF320__c] [numeric](38, 18) NULL,
	[GF3210__c] [varchar](8000) NULL,
	[GF3220__c] [numeric](38, 18) NULL,
	[GF3230__c] [numeric](38, 18) NULL,
	[GF330__c] [numeric](38, 18) NULL,
	[GF340__c] [numeric](38, 18) NULL,
	[GF350__c] [numeric](38, 18) NULL,
	[GF360__c] [varchar](8000) NULL,
	[GF370__c] [numeric](38, 18) NULL,
	[GF380__c] [varchar](8000) NULL,
	[GF390__c] [varchar](8000) NULL,
	[GF4100__c] [numeric](38, 18) NULL,
	[GF410__c] [numeric](38, 18) NULL,
	[GF4110__c] [varchar](8000) NULL,
	[GF4120__c] [varchar](8000) NULL,
	[GF4130__c] [numeric](38, 18) NULL,
	[GF4140__c] [varchar](8000) NULL,
	[GF4150__c] [numeric](38, 18) NULL,
	[GF4160__c] [varchar](8000) NULL,
	[GF4170__c] [numeric](38, 18) NULL,
	[GF4180__c] [varchar](8000) NULL,
	[GF4190__c] [numeric](38, 18) NULL,
	[GF4200__c] [varchar](8000) NULL,
	[GF420__c] [numeric](38, 18) NULL,
	[GF4210__c] [varchar](8000) NULL,
	[GF4220__c] [numeric](38, 18) NULL,
	[GF4230__c] [numeric](38, 18) NULL,
	[GF4240__c] [numeric](38, 18) NULL,
	[GF4250__c] [numeric](38, 18) NULL,
	[GF4260__c] [numeric](38, 18) NULL,
	[GF4270__c] [numeric](38, 18) NULL,
	[GF4280__c] [numeric](38, 18) NULL,
	[GF4290__c] [numeric](38, 18) NULL,
	[GF4300__c] [numeric](38, 18) NULL,
	[GF430__c] [numeric](38, 18) NULL,
	[GF4310__c] [numeric](38, 18) NULL,
	[GF4320__c] [numeric](38, 18) NULL,
	[GF440__c] [numeric](38, 18) NULL,
	[GF450__c] [numeric](38, 18) NULL,
	[GF460__c] [numeric](38, 18) NULL,
	[GF470__c] [varchar](8000) NULL,
	[GF480__c] [numeric](38, 18) NULL,
	[GF490__c] [varchar](8000) NULL,
	[IP_Address__c] [varchar](8000) NULL,
	[Language__c] [varchar](8000) NULL,
	[Last_Name__c] [varchar](8000) NULL,
	[Lead_Id__c] [varchar](8000) NULL,
	[Lead__c] [varchar](8000) NULL,
	[Link_to_Response__c] [varchar](8000) NULL,
	[Link_to_Summary_Report__c] [varchar](8000) NULL,
	[Postal_Code__c] [varchar](8000) NULL,
	[Region_Code__c] [varchar](8000) NULL,
	[Region_Name__c] [varchar](8000) NULL,
	[Review_Status__c] [varchar](8000) NULL,
	[Reviewed_By__c] [varchar](8000) NULL,
	[Start_Time__c] [datetime2](7) NULL,
	[Status__c] [varchar](8000) NULL,
	[Survey_Name__c] [varchar](8000) NULL,
	[Trigger_Task_Id__c] [varchar](8000) NULL,
	[gf_id__c] [varchar](8000) NULL,
	[gf_unique__c] [varchar](8000) NULL,
	[GF1_100__c] [numeric](38, 18) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
