/****** Object:  Table [ODS].[CNCT_lkpOccupation]    Script Date: 3/12/2022 7:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CNCT_lkpOccupation]
(
	[OccupationID] [int] NULL,
	[BOSOccupationCode] [nvarchar](max) NULL,
	[OccupationSortOrder] [int] NULL,
	[OccupationDescription] [nvarchar](max) NULL,
	[OccupationDescriptionShort] [nvarchar](max) NULL,
	[IsActiveFlag] [bit] NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateUser] [nvarchar](max) NULL,
	[LastUpdate] [datetime2](7) NULL,
	[LastUpdateUser] [nvarchar](max) NULL,
	[UpdateStamp] [varbinary](max) NULL,
	[DescriptionResourceKey] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
