/****** Object:  Table [ODS].[SF_Lead]    Script Date: 3/2/2022 1:09:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SF_Lead]
(
	[Id] [varchar](8000) NULL,
	[IsDeleted] [bit] NULL,
	[MasterRecordId] [varchar](8000) NULL,
	[LastName] [varchar](8000) NULL,
	[FirstName] [varchar](8000) NULL,
	[Salutation] [varchar](8000) NULL,
	[MiddleName] [varchar](8000) NULL,
	[Suffix] [varchar](8000) NULL,
	[Name] [varchar](8000) NULL,
	[RecordTypeId] [varchar](8000) NULL,
	[Title] [varchar](8000) NULL,
	[Company] [varchar](8000) NULL,
	[Street] [varchar](8000) NULL,
	[City] [varchar](8000) NULL,
	[State] [varchar](8000) NULL,
	[PostalCode] [varchar](8000) NULL,
	[Country] [varchar](8000) NULL,
	[StateCode] [varchar](8000) NULL,
	[CountryCode] [varchar](8000) NULL,
	[Latitude] [numeric](38, 18) NULL,
	[Longitude] [numeric](38, 18) NULL,
	[GeocodeAccuracy] [varchar](8000) NULL,
	[Phone] [varchar](8000) NULL,
	[MobilePhone] [varchar](8000) NULL,
	[Fax] [varchar](8000) NULL,
	[Email] [varchar](8000) NULL,
	[Website] [varchar](8000) NULL,
	[PhotoUrl] [varchar](8000) NULL,
	[Description] [varchar](8000) NULL,
	[LeadSource] [varchar](8000) NULL,
	[Status] [varchar](8000) NULL,
	[Industry] [varchar](8000) NULL,
	[Rating] [varchar](8000) NULL,
	[CurrencyIsoCode] [varchar](8000) NULL,
	[AnnualRevenue] [numeric](38, 18) NULL,
	[NumberOfEmployees] [int] NULL,
	[OwnerId] [varchar](8000) NULL,
	[HasOptedOutOfEmail] [bit] NULL,
	[IsConverted] [bit] NULL,
	[ConvertedDate] [datetime2](7) NULL,
	[ConvertedAccountId] [varchar](8000) NULL,
	[ConvertedContactId] [varchar](8000) NULL,
	[ConvertedOpportunityId] [varchar](8000) NULL,
	[IsUnreadByOwner] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [varchar](8000) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [varchar](8000) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[DoNotCall] [bit] NULL,
	[HasOptedOutOfFax] [bit] NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[LastTransferDate] [datetime2](7) NULL,
	[Jigsaw] [varchar](8000) NULL,
	[JigsawContactId] [varchar](8000) NULL,
	[EmailBouncedReason] [varchar](8000) NULL,
	[EmailBouncedDate] [datetime2](7) NULL,
	[et4ae5__HasOptedOutOfMobile__c] [bit] NULL,
	[et4ae5__Mobile_Country_Code__c] [varchar](8000) NULL,
	[Disc__c] [varchar](8000) NULL,
	[DoNotContact__c] [bit] NULL,
	[DoNotEmail__c] [bit] NULL,
	[DoNotMail__c] [bit] NULL,
	[DoNotText__c] [bit] NULL,
	[Ethnicity__c] [varchar](8000) NULL,
	[External_Id__c] [varchar](8000) NULL,
	[Gender__c] [varchar](8000) NULL,
	[HairLossExperience__c] [varchar](8000) NULL,
	[HairLossFamily__c] [varchar](8000) NULL,
	[HairLossOrVolume__c] [varchar](8000) NULL,
	[HairLossProductOther__c] [varchar](8000) NULL,
	[HairLossProductUsed__c] [varchar](8000) NULL,
	[HairLossSpot__c] [varchar](8000) NULL,
	[HardCopyPreferred__c] [bit] NULL,
	[Language__c] [varchar](8000) NULL,
	[LudwigScale__c] [varchar](8000) NULL,
	[MaritalStatus__c] [varchar](8000) NULL,
	[NorwoodScale__c] [varchar](8000) NULL,
	[Referral_Code_Expiration_Date__c] [datetime2](7) NULL,
	[Referral_Code__c] [varchar](8000) NULL,
	[Service_Territory__c] [varchar](8000) NULL,
	[SolutionOffered__c] [varchar](8000) NULL,
	[Text_Reminer_Opt_In__c] [bit] NULL,
	[Age__c] [numeric](38, 18) NULL,
	[Birthdate__c] [datetime2](7) NULL,
	[Lead_Qualifier__c] [varchar](8000) NULL,
	[Lead_Rescheduler__c] [varchar](8000) NULL,
	[Promo_Code__c] [varchar](8000) NULL,
	[GCLID__c] [varchar](8000) NULL,
	[Occupation__c] [nvarchar](1024) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
