/****** Object:  Table [dbo].[SLF_UAT2_ServiceResource2]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_ServiceResource2](
	[ACCOUNTID] [nvarchar](1) NULL,
	[CREATEDBYID] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[CURRENCYISOCODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](1) NULL,
	[EXTERNAL_ID_C] [nvarchar](1) NULL,
	[ID] [nvarchar](50) NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[LASTMODIFIEDBYID] [nvarchar](50) NOT NULL,
	[LASTMODIFIEDDATE] [datetime2](7) NOT NULL,
	[LASTREFERENCEDDATE] [nvarchar](50) NULL,
	[LASTVIEWEDDATE] [nvarchar](50) NULL,
	[LOCATIONID] [nvarchar](1) NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[OWNERID] [nvarchar](50) NOT NULL,
	[RELATEDRECORDID] [nvarchar](50) NOT NULL,
	[RESOURCETYPE] [nvarchar](50) NOT NULL,
	[SYSTEMMODSTAMP] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
