/****** Object:  Table [dbo].[ShowsTaskLeadsDELTA]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowsTaskLeadsDELTA](
	[ShowResult] [nvarchar](max) NULL,
	[ShowSolutionOffered] [nvarchar](max) NULL,
	[ShowDate] [datetime] NULL,
	[WhoId] [nvarchar](max) NULL,
	[ToDelete] [int] NOT NULL,
	[ShowOwnerOp] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
