/****** Object:  Table [dbo].[SLF_Final_TollFreeNumber]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_TollFreeNumber](
	[Id] [varchar](1) NOT NULL,
	[ActiveCampaignsDesktop__c] [decimal](38, 18) NULL,
	[ActiveCampaignsMobile__c] [decimal](38, 18) NULL,
	[ACEDescription__c] [nvarchar](max) NULL,
	[Company__c] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Description__c] [nvarchar](max) NULL,
	[DNIS__c] [decimal](38, 18) NULL,
	[LanguageCode__c] [decimal](38, 18) NULL,
	[LocationCode__c] [decimal](38, 18) NULL,
	[Misc_Code__c] [decimal](38, 18) NULL,
	[Notes__c] [nvarchar](max) NULL,
	[Number__c] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[PDNIS__c] [decimal](38, 18) NULL,
	[PromoCode__c] [nvarchar](max) NULL,
	[SourceCode__c] [nvarchar](max) NULL,
	[SystemModstamp] [varchar](1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TotalCampaignsDesktop__c] [decimal](38, 18) NULL,
	[TotalCampaignsMobile__c] [decimal](38, 18) NULL,
	[TotalActiveCampaigns__c] [decimal](38, 18) NULL,
	[TotalCampaigns__c] [decimal](38, 18) NULL,
	[External_ID__c] [nvarchar](max) NULL,
	[Upsert] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
