/****** Object:  Table [dbo].[SLF_UAT2_ServiceTerritory_V2]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_ServiceTerritory_V2](
	[ALTERNATIVE_PHONE_C] [varchar](250) NULL,
	[AREAMANAGER_C] [varchar](250) NULL,
	[AREA_C] [varchar](250) NULL,
	[ASSISTANTMANAGER_C] [varchar](250) NULL,
	[BACKLINEPHONE_C] [varchar](250) NULL,
	[BESTTRESSEDOFFERED_C] [varchar](250) NOT NULL,
	[CALLER_ID_C] [varchar](250) NULL,
	[CENTERALERT_C] [varchar](250) NULL,
	[CENTERNUMBER_C] [varchar](250) NULL,
	[CENTEROWNER_C] [varchar](250) NULL,
	[CENTERTYPE_C] [varchar](250) NULL,
	[CITY] [varchar](250) NOT NULL,
	[COMPANYID_C] [varchar](250) NULL,
	[COMPANY_C] [varchar](250) NULL,
	[CONFIRMATIONCALLERIDENGLISH_C] [varchar](250) NULL,
	[CONFIRMATIONCALLERIDFRENCH_C] [varchar](250) NULL,
	[CONFIRMATIONCALLERIDSPANISH_C] [varchar](250) NULL,
	[COUNTRY] [varchar](250) NOT NULL,
	[COUNTRYCODE] [varchar](250) NOT NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[CUSTOMERSERVICELINE_C] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[DISPLAYNAME_C] [varchar](250) NULL,
	[EXTERNAL_ID_C] [varchar](250) NULL,
	[GEOCODEACCURACY] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[IMAGECONSULTANT_C] [varchar](250) NULL,
	[ISACTIVE] [varchar](250) NOT NULL,
	[ISDELETED] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[LATITUDE] [float] NOT NULL,
	[LONGITUDE] [float] NOT NULL,
	[MDPOFFERED_C] [varchar](250) NOT NULL,
	[MDPPERFORMED_C] [varchar](250) NOT NULL,
	[MAIN_PHONE_C] [varchar](250) NULL,
	[MANAGERNAME_C] [varchar](250) NULL,
	[MAP_SHORT_LINK_C] [varchar](250) NULL,
	[MGRCELLPHONE_C] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[OFFERPRP_C] [varchar](250) NOT NULL,
	[OPERATINGHOURSID] [varchar](250) NOT NULL,
	[OTHERCALLERIDENGLISH_C] [varchar](250) NULL,
	[OTHERCALLERIDFRENCH_C] [varchar](250) NULL,
	[OTHERCALLERIDSPANISH_C] [varchar](250) NULL,
	[OUTBOUNDDIALINGALLOWED_C] [varchar](250) NOT NULL,
	[OWNERID] [varchar](250) NOT NULL,
	[PARENTTERRITORYID] [varchar](250) NULL,
	[POSTALCODE] [varchar](250) NOT NULL,
	[PROFILECODE_C] [varchar](250) NULL,
	[REGION_C] [varchar](250) NULL,
	[STATE] [varchar](250) NULL,
	[STATECODE] [varchar](250) NULL,
	[STATUS_C] [varchar](250) NULL,
	[STREET] [varchar](250) NOT NULL,
	[SUPPORTED_APPOINTMENT_TYPES_C] [varchar](250) NOT NULL,
	[SURGERYOFFERED_C] [varchar](250) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL,
	[TIMEZONE_C] [varchar](250) NULL,
	[TOPLEVELTERRITORYID] [varchar](250) NOT NULL,
	[TYPE_C] [varchar](250) NULL,
	[TYPICALINTERRITORYTRAVELTIME] [varchar](250) NULL,
	[WEBPHONE_C] [varchar](250) NULL,
	[WEB_PHONE_C] [varchar](250) NULL,
	[X1APPTPERSLOT_C] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
