/****** Object:  Table [dbo].[SLF_Prod_Script_DELTA]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Script_DELTA](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[ScriptDetails__c] [nvarchar](max) NULL,
	[Active__c] [bit] NULL,
	[Company__c] [nvarchar](max) NULL,
	[Female__c] [bit] NULL,
	[Male__c] [bit] NULL,
	[NotAvailableGender__c] [bit] NULL,
	[DISC__c] [nvarchar](max) NULL,
	[NotAvailableLanguage__c] [bit] NULL,
	[Category__c] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
