/****** Object:  Table [dbo].[SLF_UAT_PromoCode]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT_PromoCode](
	[Id] [varchar](1) NOT NULL,
	[Active__c] [bit] NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DiscountType__c] [nvarchar](max) NULL,
	[EndDate__c] [nvarchar](4000) NULL,
	[LastActivityDate] [nvarchar](4000) NOT NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[LastModifiedDate] [nvarchar](4000) NOT NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[LastViewedDate] [nvarchar](4000) NOT NULL,
	[NCCAvailable__c] [bit] NULL,
	[OwnerId] [nvarchar](max) NULL,
	[External_Id__c] [nvarchar](max) NULL,
	[PromoCodeDisplay__c] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[PromoCodeSort__c] [decimal](38, 18) NULL,
	[StartDate__c] [nvarchar](4000) NULL,
	[Upsert] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
