/****** Object:  Table [dbo].[Final_User_Dani]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Final_User_Dani](
	[Id] [varchar](250) NULL,
	[FirstName] [varchar](250) NULL,
	[LastName] [varchar](250) NULL,
	[Email] [varchar](250) NULL,
	[UserName] [varchar](250) NULL,
	[Profile] [varchar](250) NULL,
	[Role] [varchar](250) NULL,
	[Job] [varchar](250) NULL,
	[Active] [bit] NULL,
	[PROFILEID] [varchar](250) NULL,
	[ROLEID] [varchar](250) NULL
) ON [PRIMARY]
GO
