/****** Object:  Table [dbo].[SLF_UAT2_WorkType_V2]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_WorkType_V2](
	[BLOCKTIMEAFTERAPPOINTMENT] [varchar](250) NULL,
	[BLOCKTIMEAFTERUNIT] [varchar](250) NOT NULL,
	[BLOCKTIMEBEFOREAPPOINTMENT] [varchar](250) NULL,
	[BLOCKTIMEBEFOREUNIT] [varchar](250) NOT NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[DEFAULTAPPOINTMENTTYPE] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[DURATIONINMINUTES] [varchar](250) NOT NULL,
	[DURATIONTYPE] [varchar](250) NOT NULL,
	[ESTIMATEDDURATION] [varchar](250) NOT NULL,
	[EXTERNAL_ID_C] [varchar](250) NULL,
	[ID] [varchar](250) NOT NULL,
	[ISDELETED] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[OPERATINGHOURSID] [varchar](250) NULL,
	[OWNERID] [varchar](250) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL,
	[TIMEFRAMEENDUNIT] [varchar](250) NOT NULL,
	[TIMEFRAMESTARTUNIT] [varchar](250) NOT NULL,
	[TIMEFRAMEEND] [varchar](250) NULL,
	[TIMEFRAMESTART] [varchar](250) NULL
) ON [PRIMARY]
GO
