/****** Object:  Table [dbo].[SLF_Final_Opportunity_Delta]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Opportunity_Delta](
	[Id] [varchar](1) NOT NULL,
	[AccountId] [nvarchar](max) NULL,
	[CampaignId] [nvarchar](max) NULL,
	[CloseDate] [nvarchar](50) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [varchar](3) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[GCLID__c] [nvarchar](max) NULL,
	[Hair_Loss_Experience__c] [nvarchar](max) NULL,
	[Hair_Loss_Family__c] [nvarchar](max) NULL,
	[Hair_Loss_Or_Volume__c] [nvarchar](max) NULL,
	[Hair_Loss_Product_Other__c] [nvarchar](max) NULL,
	[Hair_Loss_Product_Used__c] [nvarchar](max) NULL,
	[Hair_Loss_Spot__c] [nvarchar](max) NULL,
	[LeadSource] [nvarchar](max) NULL,
	[Ludwig_Scale__c] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Norwood_Scale__c] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[RecordTypeId] [varchar](18) NOT NULL,
	[SolutionOffered__c] [varchar](15) NULL,
	[StageName] [varchar](16) NOT NULL,
	[REFERRALCODE__C] [nvarchar](max) NULL,
	[ReferralCodeExpireDate__C] [nvarchar](4000) NULL,
	[Service_Territory__c] [nvarchar](100) NULL,
	[Promo_Code__c] [nvarchar](max) NULL,
	[FlagPAD] [varchar](9) NULL,
	[RowNumber] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
