/****** Object:  Table [dbo].[ChangeCrossStreet]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeCrossStreet](
	[Description__c] [varchar](255) NULL,
	[CenterNumber] [varchar](255) NULL,
	[CrossStreets__c] [varchar](255) NULL,
	[Language] [varchar](250) NULL
) ON [PRIMARY]
GO
