/****** Object:  Table [dbo].[SLF_Final_ServiceTerritoryZipCodes_F]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_ServiceTerritoryZipCodes_F](
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](240) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[Account_Zip_Code__c] [nvarchar](18) NULL,
	[CenterId] [int] NULL,
	[City__c] [nvarchar](3900) NULL,
	[ZipCenter_id__c] [nvarchar](765) NULL,
	[Zip_Code_Center__c] [nvarchar](18) NULL,
	[NewServiceTerritoryId] [varchar](250) NULL,
	[NewZipCodeId] [varchar](250) NULL,
	[rn] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
