/****** Object:  Table [dbo].[Business_Inactive_Users_PROD]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_Inactive_Users_PROD](
	[User_ID] [varchar](250) NOT NULL,
	[First_Name] [varchar](250) NULL,
	[Last_Name] [varchar](250) NOT NULL,
	[Profile] [varchar](250) NOT NULL,
	[Username] [varchar](250) NOT NULL,
	[Active] [varchar](250) NOT NULL,
	[New_User_Id] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
