/****** Object:  Table [dbo].[MappingServiceTerritory]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MappingServiceTerritory](
	[CENTER_ID_PROD] [varchar](250) NOT NULL,
	[CENTER_NUMBER_C_PROD] [varchar](3) NULL,
	[CENTER_NAME_PROD] [varchar](250) NOT NULL,
	[isactive_prod] [bit] NULL,
	[CENTER_ID_INT] [nvarchar](50) NULL,
	[CENTER_NUMBER_C_INT] [varchar](3) NULL,
	[CENTER_NAME_INT] [nvarchar](50) NULL,
	[EXTERNAL_ID_C_INT] [nvarchar](50) NULL,
	[isactive_int] [bit] NULL,
	[CENTER_ID_UAT2] [varchar](max) NULL,
	[CENTER_NUMBER_C_UAT2] [varchar](max) NULL,
	[CENTER_NAME_UAT2] [varchar](max) NULL,
	[isactive_uat2] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
