/****** Object:  Table [dbo].[SLF_Final_ServiceResourceSkill]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_ServiceResourceSkill](
	[CreatedById] [varchar](250) NOT NULL,
	[CreatedDate] [varchar](250) NOT NULL,
	[CurrencyIsoCode] [varchar](250) NOT NULL,
	[EffectiveEndDate] [varchar](250) NULL,
	[EffectiveStartDate] [varchar](250) NOT NULL,
	[External_Id__c] [varchar](250) NOT NULL,
	[Id] [varchar](1) NOT NULL,
	[IsDeleted] [varchar](250) NOT NULL,
	[LastModifiedById] [varchar](250) NOT NULL,
	[LastModifiedDate] [varchar](250) NOT NULL,
	[LastReferencedDate] [varchar](250) NULL,
	[LastViewedDate] [varchar](250) NULL,
	[ServiceResourceId] [varchar](250) NOT NULL,
	[SkillId] [varchar](250) NOT NULL,
	[SkillLevel] [varchar](250) NULL,
	[SkillNumber] [varchar](250) NOT NULL,
	[SystemModstamp] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
