/****** Object:  Table [dbo].[Leads_Campaign_20210901_HW_IncomingCalls]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads_Campaign_20210901_HW_IncomingCalls](
	[Time_Stamp] [datetime2](7) NULL,
	[name] [nvarchar](50) NULL,
	[Phone_Number] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[Postal_Code] [int] NULL,
	[account_id] [int] NULL,
	[sid] [nvarchar](50) NULL,
	[tracking_num] [nvarchar](50) NULL,
	[tracking_label] [nvarchar](100) NULL,
	[last_location] [nvarchar](550) NULL,
	[search] [nvarchar](50) NULL,
	[referrer] [nvarchar](100) NULL,
	[location] [nvarchar](550) NULL,
	[source] [nvarchar](50) NULL,
	[source_id] [nvarchar](1) NULL,
	[source_sid] [nvarchar](1) NULL,
	[tgid] [nvarchar](1) NULL,
	[likelihood] [nvarchar](1) NULL,
	[duration] [nvarchar](1) NULL,
	[direction] [nvarchar](1) NULL,
	[form] [nvarchar](1) NULL,
	[talk] [nvarchar](1) NULL,
	[column25] [nvarchar](1) NULL,
	[column26] [nvarchar](1) NULL,
	[column27] [nvarchar](1) NULL,
	[column28] [nvarchar](1) NULL,
	[column29] [nvarchar](1) NULL,
	[column30] [nvarchar](1) NULL,
	[column31] [nvarchar](1) NULL,
	[column32] [nvarchar](1) NULL,
	[column33] [nvarchar](1) NULL
) ON [PRIMARY]
GO
