/****** Object:  Table [dbo].[SLF_MappingRolesAndProfilesV2]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_MappingRolesAndProfilesV2](
	[OldProfileId] [varchar](250) NULL,
	[OldProfile] [varchar](250) NULL,
	[OldRoleId] [varchar](250) NULL,
	[OldRole] [varchar](250) NULL,
	[NewRoleId] [varchar](250) NULL,
	[NewRole] [varchar](250) NULL,
	[NewProfileId] [varchar](250) NULL,
	[NewProfile] [varchar](250) NULL
) ON [PRIMARY]
GO
