/****** Object:  Table [dbo].[AllTask-0426]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTask-0426](
	[Id] [varchar](250) NOT NULL,
	[OwnerId] [varchar](250) NOT NULL,
	[External_ID_c] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
