/****** Object:  Table [dbo].[SLF_Final_Leads_Delta]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Leads_Delta](
	[Id] [varchar](1) NOT NULL,
	[Address] [varchar](1) NOT NULL,
	[Age__c] [decimal](38, 18) NULL,
	[AnnualRevenue] [decimal](38, 18) NULL,
	[City] [nvarchar](max) NULL,
	[Birthdate__c] [nvarchar](4000) NULL,
	[IsConverted] [bit] NULL,
	[ConvertedAccountId] [nvarchar](max) NULL,
	[ConvertedContactId] [nvarchar](max) NULL,
	[ConvertedDate] [nvarchar](4000) NULL,
	[ConvertedOpportunityId] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[Jigsaw] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[Disc__c] [nvarchar](max) NULL,
	[DoNotCall] [bit] NULL,
	[DoNotContact__c] [bit] NULL,
	[DoNotEmail__c] [bit] NULL,
	[DoNotMail__c] [bit] NULL,
	[DoNotText__c] [bit] NULL,
	[Email] [nvarchar](max) NULL,
	[EmailBouncedDate] [nvarchar](4000) NOT NULL,
	[EmailBouncedReason] [nvarchar](max) NULL,
	[HasOptedOutOfEmail] [bit] NULL,
	[NumberOfEmployees] [int] NULL,
	[Ethnicity__c] [nvarchar](max) NULL,
	[External_Id__c] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[HasOptedOutOfFax] [bit] NULL,
	[FirstName] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Gender__c] [nvarchar](max) NULL,
	[GCLID__c] [nvarchar](max) NULL,
	[GeocodeAccuracy] [nvarchar](max) NULL,
	[HairLossExperience__c] [nvarchar](max) NULL,
	[HairLossFamily__c] [nvarchar](max) NULL,
	[HairLossOrVolume__c] [nvarchar](max) NULL,
	[HairLossProductOther__c] [nvarchar](max) NULL,
	[HairLossProductUsed__c] [nvarchar](max) NULL,
	[HairLossSpot__c] [nvarchar](max) NULL,
	[HardCopyPreferred__c] [bit] NULL,
	[Industry] [nvarchar](max) NULL,
	[JigsawContactId] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL,
	[LastActivityDate] [nvarchar](4000) NULL,
	[LastName] [nvarchar](max) NULL,
	[LastReferencedDate] [nvarchar](4000) NOT NULL,
	[LastTransferDate] [nvarchar](4000) NULL,
	[LastViewedDate] [nvarchar](4000) NOT NULL,
	[Latitude] [decimal](38, 18) NULL,
	[CurrencyIsoCode] [varchar](3) NOT NULL,
	[LeadSource] [nvarchar](max) NULL,
	[Longitude] [decimal](38, 18) NULL,
	[LudwigScale__c] [nvarchar](max) NULL,
	[MaritalStatus__c] [nvarchar](max) NULL,
	[MasterRecordId] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[NorwoodScale__c] [nvarchar](max) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[Occupation__c] [nvarchar](max) NULL,
	[PartnerAccountId] [varchar](1) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[PhotoUrl] [nvarchar](max) NULL,
	[Rating] [nvarchar](max) NULL,
	[RecordTypeId] [varchar](18) NOT NULL,
	[Salutation] [nvarchar](max) NULL,
	[SolutionOffered__c] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[StateCode] [nvarchar](max) NULL,
	[Status] [varchar](18) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[SystemModstamp] [varchar](1) NOT NULL,
	[Text_Reminer_Opt_In__c] [bit] NULL,
	[Title] [nvarchar](max) NULL,
	[IsUnreadByOwner] [bit] NULL,
	[Website] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[IndividualId] [varchar](1) NOT NULL,
	[Service_Territory__C] [nvarchar](max) NULL,
	[ReferralCode__c] [nvarchar](max) NULL,
	[ReferralCodeExpireDate__C] [nvarchar](4000) NULL,
	[Promo_Code__c] [nvarchar](max) NULL,
	[RowNumber] [bigint] NULL,
	[Flag] [nvarchar](50) NULL,
	[LoadEmergency] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
