/****** Object:  Table [dbo].[SLF_Prod_Campaign]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Campaign](
	[Id] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[ParentId] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[RecordTypeId] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[ExpectedRevenue] [decimal](38, 18) NULL,
	[BudgetedCost] [decimal](38, 18) NULL,
	[ActualCost] [decimal](38, 18) NULL,
	[ExpectedResponse] [decimal](38, 18) NULL,
	[NumberSent] [decimal](38, 18) NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[CampaignImageId] [nvarchar](max) NULL,
	[NumberOfLeads] [int] NULL,
	[NumberOfConvertedLeads] [int] NULL,
	[NumberOfContacts] [int] NULL,
	[NumberOfResponses] [int] NULL,
	[NumberOfOpportunities] [int] NULL,
	[NumberOfWonOpportunities] [int] NULL,
	[AmountAllOpportunities] [decimal](38, 18) NULL,
	[AmountWonOpportunities] [decimal](38, 18) NULL,
	[HierarchyNumberOfLeads] [int] NULL,
	[HierarchyNumberOfConvertedLeads] [int] NULL,
	[HierarchyNumberOfContacts] [int] NULL,
	[HierarchyNumberOfResponses] [int] NULL,
	[HierarchyNumberOfOpportunities] [int] NULL,
	[HierarchyNumberOfWonOpportunities] [int] NULL,
	[HierarchyAmountAllOpportunities] [decimal](38, 18) NULL,
	[HierarchyAmountWonOpportunities] [decimal](38, 18) NULL,
	[HierarchyNumberSent] [decimal](38, 18) NULL,
	[HierarchyExpectedRevenue] [decimal](38, 18) NULL,
	[HierarchyBudgetedCost] [decimal](38, 18) NULL,
	[HierarchyActualCost] [decimal](38, 18) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[CampaignMemberRecordTypeId] [nvarchar](max) NULL,
	[PromoCode__c] [nvarchar](max) NULL,
	[SourceCode__c] [nvarchar](max) NULL,
	[PromoCodeName__c] [nvarchar](max) NULL,
	[Channel__c] [nvarchar](max) NULL,
	[Location__c] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL,
	[Media__c] [nvarchar](max) NULL,
	[Source__c] [nvarchar](max) NULL,
	[Goal__c] [nvarchar](max) NULL,
	[Format__c] [nvarchar](max) NULL,
	[ACE_Decription__c] [nvarchar](max) NULL,
	[Gender__c] [nvarchar](max) NULL,
	[CampaignType__c] [nvarchar](max) NULL,
	[CommunicationType__c] [nvarchar](max) NULL,
	[Toll_Free_Number__c] [nvarchar](max) NULL,
	[DNIS__c] [nvarchar](max) NULL,
	[SourceCode_L__c] [nvarchar](max) NULL,
	[SourceID_L__c] [nvarchar](max) NULL,
	[SourceName_L__c] [nvarchar](max) NULL,
	[IsInHouseSourceFlag_L__c] [nvarchar](max) NULL,
	[PhoneID_L__c] [nvarchar](max) NULL,
	[Number_L__c] [nvarchar](max) NULL,
	[NumberTypeID_L__c] [nvarchar](max) NULL,
	[MediaID_L__c] [nvarchar](max) NULL,
	[NumberType_L__c] [nvarchar](max) NULL,
	[MediaCode_L__c] [nvarchar](max) NULL,
	[Media_L__c] [nvarchar](max) NULL,
	[Level02Location_L__c] [nvarchar](max) NULL,
	[Notes_L__c] [nvarchar](max) NULL,
	[CreationDate_L__c] [nvarchar](max) NULL,
	[LastUpdateDate_L__c] [nvarchar](max) NULL,
	[Level02LocationCode_L__c] [nvarchar](max) NULL,
	[Level05ID_L__c] [nvarchar](max) NULL,
	[Level05CreativeCode_L__c] [nvarchar](max) NULL,
	[Level05Creative_L__c] [nvarchar](max) NULL,
	[Level03ID_L__c] [nvarchar](max) NULL,
	[Level03LanguageCode_L__c] [nvarchar](max) NULL,
	[Level03Language_L__c] [nvarchar](max) NULL,
	[Level04ID_L__c] [nvarchar](max) NULL,
	[Level04FormatCode_L__c] [nvarchar](max) NULL,
	[Level04Format_L__c] [nvarchar](max) NULL,
	[Promo_Code_L__c] [nvarchar](max) NULL,
	[PromoCodeDisplay__c] [nvarchar](max) NULL,
	[TollFreeNumberMobile__c] [nvarchar](max) NULL,
	[DNISMobile__c] [decimal](38, 18) NULL,
	[URLDomain__c] [nvarchar](max) NULL,
	[Referrer__c] [nvarchar](max) NULL,
	[Campaign_Counter__c] [nvarchar](max) NULL,
	[TollFreeName__c] [nvarchar](max) NULL,
	[TollFreeMobileName__c] [nvarchar](max) NULL,
	[SourceCodeNumber__c] [nvarchar](max) NULL,
	[SCNumber__c] [nvarchar](max) NULL,
	[DPNCode__c] [nvarchar](max) NULL,
	[DWCCode__c] [nvarchar](max) NULL,
	[DWFCode__c] [nvarchar](max) NULL,
	[GenerateCodes__c] [bit] NULL,
	[MPNCode__c] [nvarchar](max) NULL,
	[MWCCode__c] [nvarchar](max) NULL,
	[MWFCode__c] [nvarchar](max) NULL,
	[ShortcodeChannel__c] [nvarchar](max) NULL,
	[ShortcodeFormat__c] [nvarchar](max) NULL,
	[ShortcodeMedia__c] [nvarchar](max) NULL,
	[ShortcodeOrigin__c] [nvarchar](max) NULL,
	[WebCode__c] [nvarchar](max) NULL,
	[ShortcodeLocation__c] [nvarchar](max) NULL,
	[DialerMiscCode__c] [nvarchar](max) NULL,
	[Company__c] [nvarchar](max) NULL,
	[Action_Criteria__c] [nvarchar](max) NULL,
	[Active__c] [bit] NULL,
	[BatchLastModified__c] [datetime2](7) NULL,
	[Contacts_Created_From__c] [datetime2](7) NULL,
	[Contacts_Created_Until__c] [datetime2](7) NULL,
	[Excluded_Centers__c] [nvarchar](max) NULL,
	[Gender_Criteria__c] [nvarchar](max) NULL,
	[Language_Criteria__c] [nvarchar](max) NULL,
	[Leads_Created_From__c] [datetime2](7) NULL,
	[Leads_Created_Until__c] [datetime2](7) NULL,
	[Priority__c] [nvarchar](max) NULL,
	[DB_Campaign_Tactic__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
