/****** Object:  StoredProcedure [dbo].[CreateCNTClients]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateCNTClients](@table varchar(100))
AS
BEGIN

DROP TABLE [CNT_Clients_Account_Final];

select *
into dbo.[CNT_Clients_Account_Final]
from dbo.[CNT_Clients_Account_Total];

DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].EMAILADDRESS)) = TRIM(LOWER(a.Email)) ; --3.879

DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE1)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.Phone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE1 != '0' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '999999%') ---714


DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE2)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.Phone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE2 != '0' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '999999%') ---34


DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE3)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.Phone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE3 != '0' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '999999%') --10


 
DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE1)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.MobilePhone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE1 != '0' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE1 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE1 not like '999999%') ---5


DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE2)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.MobilePhone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE2 != '0' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE2 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE2 not like '999999%') ---1


DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].PHONE3)) = REPLACE(
													REPLACE(
														REPLACE(
																TRIM(LOWER(a.MobilePhone))
																,'(','')
															,')','')
												,' ','')
where ([CNT_Clients_Account_Final].PHONE3 != '0' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '111111%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '222222%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '333333%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '444444%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '555555%' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '666666%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '777777%' 
				AND [CNT_Clients_Account_Final].PHONE3 not like '888888%'
				AND [CNT_Clients_Account_Final].PHONE3 not like '999999%') --1


DELETE [CNT_Clients_Account_Final]
FROM [CNT_Clients_Account_Final]
INNER JOIN [SLF_Prod_Leads] A
	ON TRIM(LOWER([CNT_Clients_Account_Final].firstname)) = TRIM(LOWER(a.FirstName))
		and TRIM(LOWER([CNT_Clients_Account_Final].lastname)) = TRIM(LOWER(a.lastname))

END
GO
