/****** Object:  Table [dbo].[Task_Description_NewProd]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Description_NewProd](
	[DESCRIPTION] [varchar](max) NULL,
	[ID] [varchar](max) NULL,
	[rn] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
