/****** Object:  Table [dbo].[SLF_UAT_TimeSlot]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT_TimeSlot](
	[CREATEDBYID] [varchar](max) NOT NULL,
	[CREATEDDATE] [varchar](max) NOT NULL,
	[CURRENCYISOCODE] [varchar](max) NOT NULL,
	[DAYOFWEEK] [varchar](max) NOT NULL,
	[ENDTIME] [varchar](max) NOT NULL,
	[EXTERNAL_ID_C] [varchar](max) NULL,
	[ID] [varchar](max) NOT NULL,
	[ISDELETED] [varchar](max) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](max) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](max) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](max) NULL,
	[LASTVIEWEDDATE] [varchar](max) NULL,
	[MAXAPPOINTMENTS] [varchar](max) NOT NULL,
	[OPERATINGHOURSID] [varchar](max) NOT NULL,
	[STARTTIME] [varchar](max) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](max) NOT NULL,
	[TIMESLOTNUMBER] [varchar](max) NOT NULL,
	[TYPE] [varchar](max) NOT NULL,
	[WORKTYPEGROUPID] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
