/****** Object:  Table [dbo].[SLF_NEW_Task_Without_SA_20210729_DevOps5393]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Task_Without_SA_20210729_DevOps5393](
	[Id] [nvarchar](50) NULL,
	[WhoId] [nvarchar](50) NULL,
	[AccountId] [nvarchar](50) NULL,
	[WhatId] [nvarchar](50) NULL,
	[Opportunity_c] [nvarchar](1) NULL,
	[Result_c] [nvarchar](50) NULL,
	[CallType] [nvarchar](50) NULL,
	[TaskSubtype] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[Service_Appointment_c] [nvarchar](1) NULL,
	[ActivityDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
