/****** Object:  Table [dbo].[SLF_Prod_PromoCode]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_PromoCode](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[PromoCodeDisplay__c] [nvarchar](max) NULL,
	[DiscountType__c] [nvarchar](max) NULL,
	[StartDate__c] [datetime2](7) NULL,
	[EndDate__c] [datetime2](7) NULL,
	[Active__c] [bit] NULL,
	[NCCAvailable__c] [bit] NULL,
	[PromoCodeSort__c] [decimal](38, 18) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
