/****** Object:  Table [dbo].[SLF_Final_Person_Account_Delta]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Person_Account_Delta](
	[Id] [varchar](1) NOT NULL,
	[CurrencyIsoCode] [varchar](3) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[AccountSource] [nvarchar](max) NULL,
	[Birthdate__c] [nvarchar](4000) NULL,
	[BillingCity] [nvarchar](max) NULL,
	[BillingCountry] [nvarchar](max) NULL,
	[BillingCountryCode] [nvarchar](max) NULL,
	[BillingGeocodeAccuracy] [nvarchar](max) NULL,
	[BillingLatitude] [decimal](38, 18) NULL,
	[BillingLongitude] [decimal](38, 18) NULL,
	[BillingState] [nvarchar](max) NULL,
	[BillingStateCode] [nvarchar](max) NULL,
	[BillingStreet] [nvarchar](max) NULL,
	[BillingPostalCode] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[Jigsaw] [nvarchar](max) NULL,
	[Disc__pc] [nvarchar](max) NULL,
	[DoNotContact__pc] [bit] NULL,
	[DoNotEmail__pc] [bit] NULL,
	[DoNotMail__pc] [bit] NULL,
	[DoNotText__pc] [bit] NULL,
	[PersonEmail] [nvarchar](max) NULL,
	[PersonEmailBouncedDate] [nvarchar](4000) NOT NULL,
	[PersonEmailBouncedReason] [nvarchar](max) NULL,
	[NumberOfEmployees] [int] NULL,
	[Ethnicity__pc] [nvarchar](max) NULL,
	[External_Id__c] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[Gender__pc] [nvarchar](max) NULL,
	[HairLossExperience__pc] [nvarchar](max) NULL,
	[HairLossFamily__pc] [nvarchar](max) NULL,
	[HairLossOrVolume__pc] [nvarchar](max) NULL,
	[HairLossProductOther__pc] [nvarchar](max) NULL,
	[HairLossProductUsed__pc] [nvarchar](max) NULL,
	[HairLossSpot__pc] [nvarchar](max) NULL,
	[HardCopyPreferred__pc] [bit] NULL,
	[Industry] [nvarchar](max) NULL,
	[JigsawCompanyId] [nvarchar](max) NULL,
	[Language__pc] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MaritalStatus__pc] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[PersonMobilePhone] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[Occupation__c] [nvarchar](max) NULL,
	[PhotoUrl] [nvarchar](max) NULL,
	[RecordTypeId] [varchar](18) NOT NULL,
	[Salutation] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[Text_Reminder_Opt_In__pc] [bit] NULL,
	[Website] [nvarchar](max) NULL,
	[Age__pc] [decimal](38, 18) NULL,
	[AnnualRevenue] [decimal](38, 18) NULL,
	[Fax] [nvarchar](max) NULL,
	[PersonDoNotCall] [bit] NULL,
	[PersonHasOptedOutOfEmail] [bit] NULL,
	[Rating] [nvarchar](max) NULL,
	[ClientGUID__c] [int] NULL,
	[Service_Territory__C] [nvarchar](100) NULL,
	[RowNumber] [bigint] NULL,
	[Flag] [varchar](9) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
