/****** Object:  Table [dbo].[SLF_UAT_User]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT_User](
	[User ID] [nvarchar](max) NULL,
	[About Me] [nvarchar](max) NULL,
	[Account ID] [nvarchar](max) NULL,
	[Active] [nvarchar](max) NULL,
	[ActivityRemindersPopup] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Admin Info Emails] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
	[Allow Forecasting] [nvarchar](max) NULL,
	[Apex Mobile User] [nvarchar](max) NULL,
	[ApexPagesDeveloperMode] [nvarchar](max) NULL,
	[Auto-login To Call Center] [nvarchar](max) NULL,
	[AutoBcc] [nvarchar](max) NULL,
	[AutoBccStayInTouch] [nvarchar](max) NULL,
	[AvantGo User] [nvarchar](max) NULL,
	[CacheDiagnostics] [nvarchar](max) NULL,
	[Call Center ID] [nvarchar](max) NULL,
	[Chat Display Name] [nvarchar](max) NULL,
	[Chat Photo Small] [nvarchar](max) NULL,
	[Chat User] [nvarchar](max) NULL,
	[Chatter Email Highlights Frequency] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Company Name] [nvarchar](max) NULL,
	[Contact ID] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Country Code] [nvarchar](max) NULL,
	[Created By ID] [nvarchar](max) NULL,
	[Created Date] [nvarchar](max) NULL,
	[Currency ISO Code] [nvarchar](max) NULL,
	[Default Currency ISO Code] [nvarchar](max) NULL,
	[Default Notification Frequency when Joining Groups] [nvarchar](max) NULL,
	[Delegated Approver ID] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Dialer ID] [nvarchar](max) NULL,
	[DisableAllFeedsEmail] [nvarchar](max) NULL,
	[DisableBookmarkEmail] [nvarchar](max) NULL,
	[DisableChangeCommentEmail] [nvarchar](max) NULL,
	[DisableEndorsementEmail] [nvarchar](max) NULL,
	[DisableFileShareNotificationsForApi] [nvarchar](max) NULL,
	[DisableFollowersEmail] [nvarchar](max) NULL,
	[DisableLaterCommentEmail] [nvarchar](max) NULL,
	[DisableLikeEmail] [nvarchar](max) NULL,
	[DisableMentionsPostEmail] [nvarchar](max) NULL,
	[DisableMessageEmail] [nvarchar](max) NULL,
	[DisableProfilePostEmail] [nvarchar](max) NULL,
	[DisableSharePostEmail] [nvarchar](max) NULL,
	[DisCommentAfterLikeEmail] [nvarchar](max) NULL,
	[DisMentionsCommentEmail] [nvarchar](max) NULL,
	[DisProfPostCommentEmail] [nvarchar](max) NULL,
	[Division] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Email Encoding] [nvarchar](max) NULL,
	[Email Sender Address] [nvarchar](max) NULL,
	[Email Sender Name] [nvarchar](max) NULL,
	[Email Signature] [nvarchar](max) NULL,
	[Employee Number] [nvarchar](max) NULL,
	[EnableAutoSubForFeeds] [nvarchar](max) NULL,
	[EventRemindersCheckboxDefault] [nvarchar](max) NULL,
	[Extension] [nvarchar](max) NULL,
	[External ID] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[First Name] [nvarchar](max) NULL,
	[Flow User] [nvarchar](max) NULL,
	[Full Name] [nvarchar](max) NULL,
	[Geocode Accuracy] [nvarchar](max) NULL,
	[Has Profile Photo] [nvarchar](max) NULL,
	[HideBiggerPhotoCallout] [nvarchar](max) NULL,
	[HideChatterOnboardingSplash] [nvarchar](max) NULL,
	[HideCSNDesktopTask] [nvarchar](max) NULL,
	[HideCSNGetChatterMobileTask] [nvarchar](max) NULL,
	[HideEndUserOnboardingAssistantModal] [nvarchar](max) NULL,
	[HideLightningMigrationModal] [nvarchar](max) NULL,
	[HideS1BrowserUI] [nvarchar](max) NULL,
	[HideSecondChatterOnboardingSplash] [nvarchar](max) NULL,
	[HideSfxWelcomeMat] [nvarchar](max) NULL,
	[Info Emails] [nvarchar](max) NULL,
	[Knowledge User] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Last Login] [nvarchar](max) NULL,
	[Last Modified By ID] [nvarchar](max) NULL,
	[Last Modified Date] [nvarchar](max) NULL,
	[Last Name] [nvarchar](max) NULL,
	[Last Password Change or Reset] [nvarchar](max) NULL,
	[Last Referenced Date] [nvarchar](max) NULL,
	[Last Viewed Date] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[LightningExperiencePreferred] [nvarchar](max) NULL,
	[Locale] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[Manager ID] [nvarchar](max) NULL,
	[Marketing User] [nvarchar](max) NULL,
	[Middle Name] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Nickname] [nvarchar](max) NULL,
	[Offline Edition Trial Expiration Date] [nvarchar](max) NULL,
	[Offline User] [nvarchar](max) NULL,
	[PathAssistantCollapsed] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[PreviewLightning] [nvarchar](max) NULL,
	[Profile ID] [nvarchar](max) NULL,
	[ReminderSoundOff] [nvarchar](max) NULL,
	[Role ID] [nvarchar](max) NULL,
	[Sales Anywhere Trial Expiration Date] [nvarchar](max) NULL,
	[Salesforce CRM Content User] [nvarchar](max) NULL,
	[SAML Federation ID] [nvarchar](max) NULL,
	[Service Cloud User] [nvarchar](max) NULL,
	[ShowCityToExternalUsers] [nvarchar](max) NULL,
	[ShowCityToGuestUsers] [nvarchar](max) NULL,
	[ShowCountryToExternalUsers] [nvarchar](max) NULL,
	[ShowCountryToGuestUsers] [nvarchar](max) NULL,
	[ShowEmailToExternalUsers] [nvarchar](max) NULL,
	[ShowEmailToGuestUsers] [nvarchar](max) NULL,
	[ShowFaxToExternalUsers] [nvarchar](max) NULL,
	[ShowFaxToGuestUsers] [nvarchar](max) NULL,
	[ShowManagerToExternalUsers] [nvarchar](max) NULL,
	[ShowManagerToGuestUsers] [nvarchar](max) NULL,
	[ShowMobilePhoneToExternalUsers] [nvarchar](max) NULL,
	[ShowMobilePhoneToGuestUsers] [nvarchar](max) NULL,
	[ShowPostalCodeToExternalUsers] [nvarchar](max) NULL,
	[ShowPostalCodeToGuestUsers] [nvarchar](max) NULL,
	[ShowProfilePicToGuestUsers] [nvarchar](max) NULL,
	[ShowStateToExternalUsers] [nvarchar](max) NULL,
	[ShowStateToGuestUsers] [nvarchar](max) NULL,
	[ShowStreetAddressToExternalUsers] [nvarchar](max) NULL,
	[ShowStreetAddressToGuestUsers] [nvarchar](max) NULL,
	[ShowTitleToExternalUsers] [nvarchar](max) NULL,
	[ShowTitleToGuestUsers] [nvarchar](max) NULL,
	[ShowWorkPhoneToExternalUsers] [nvarchar](max) NULL,
	[ShowWorkPhoneToGuestUsers] [nvarchar](max) NULL,
	[SightCall Use Case Id] [nvarchar](max) NULL,
	[SortFeedByComment] [nvarchar](max) NULL,
	[State/Province] [nvarchar](max) NULL,
	[State/Province Code] [nvarchar](max) NULL,
	[Stay-in-Touch Email Note] [nvarchar](max) NULL,
	[Stay-in-Touch Email Signature] [nvarchar](max) NULL,
	[Stay-in-Touch Email Subject] [nvarchar](max) NULL,
	[StayInTouchReminder] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[System Modstamp] [nvarchar](max) NULL,
	[TaskRemindersCheckboxDefault] [nvarchar](max) NULL,
	[Time Zone] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Url for banner photo] [nvarchar](max) NULL,
	[Url for full-sized Photo] [nvarchar](max) NULL,
	[Url for medium profile photo] [nvarchar](max) NULL,
	[User Photo badge text overlay] [nvarchar](max) NULL,
	[User Type] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Zip/Postal Code] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
