/****** Object:  Table [dbo].[SLF_Prod_Email__c]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Email__c](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[Primary__c] [bit] NULL,
	[DoNotEmail__c] [bit] NULL,
	[Status__c] [nvarchar](max) NULL,
	[Lead__c] [nvarchar](max) NULL,
	[OncContactEmailID__c] [nvarchar](max) NULL,
	[Customer__c] [nvarchar](max) NULL,
	[OncCreatedDate__c] [datetime2](7) NULL,
	[OncUpdatedDate__c] [datetime2](7) NULL,
	[OncCreatedByUserCode__c] [nvarchar](max) NULL,
	[OncLastUpdatedUserCode__c] [nvarchar](max) NULL,
	[OncContactID__c] [nvarchar](max) NULL,
	[ToBeProcessed__c] [bit] NULL,
	[LastProcessedDate__c] [datetime2](7) NULL,
	[Converted__c] [nvarchar](max) NULL,
	[SFDCOriginalLastModDate__c] [datetime2](7) NULL,
	[SFDCOriginalLastModifiedDate__c] [datetime2](7) NULL,
	[SFDCOriginalLeadId__c] [nvarchar](max) NULL,
	[Account__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
