/****** Object:  Table [dbo].[SLF_Final_Task_PA_ERRORS]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Task_PA_ERRORS](
	[AccountId] [varchar](250) NULL,
	[IsArchived] [varchar](250) NULL,
	[OwnerId] [varchar](250) NULL,
	[CallDurationInSeconds] [varchar](250) NULL,
	[CallObject] [varchar](250) NULL,
	[CallDisposition] [varchar](250) NULL,
	[CallType] [varchar](250) NULL,
	[IsClosed] [varchar](250) NULL,
	[Completed_Date_c] [varchar](250) NULL,
	[CreatedById] [varchar](250) NULL,
	[CreateDateOld] [varchar](250) NULL,
	[CreateDate] [varchar](250) NULL,
	[CurrencyIsoCode] [varchar](250) NULL,
	[IsDeleted] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[ActivityDate] [varchar](250) NULL,
	[External_ID_c] [varchar](250) NULL,
	[IsHighPriority] [varchar](250) NULL,
	[Lead_c] [varchar](250) NULL,
	[WhoId] [varchar](250) NULL,
	[Person_Account_c] [varchar](250) NULL,
	[Priority] [varchar](250) NULL,
	[IsVisibleInSelfService] [varchar](250) NULL,
	[Recording_Link_c] [varchar](250) NULL,
	[BrightPattern_SPRecordingOrTranscriptURL_c] [varchar](250) NULL,
	[WhatCount] [varchar](250) NULL,
	[WhatId] [varchar](250) NULL,
	[WhoCount] [varchar](250) NULL,
	[Result_c] [varchar](250) NULL,
	[Service_Territory_Caller_Id_c] [varchar](250) NULL,
	[SPRecordingOrTranscriptURL_c] [varchar](250) NULL,
	[Status] [varchar](250) NULL,
	[Subject] [varchar](250) NULL,
	[SystemModstamp] [varchar](250) NULL,
	[RecordTypeId] [varchar](250) NULL,
	[TaskSubtype] [varchar](250) NULL,
	[Type] [varchar](250) NULL,
	[RowNumber] [int] NULL
) ON [PRIMARY]
GO
