/****** Object:  Table [dbo].[CNT_Clients_ActiveMembership_Final]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNT_Clients_ActiveMembership_Final](
	[ClientGUID] [varchar](250) NULL,
	[ClientIdentifier] [int] NULL,
	[ClientNumber_Temp] [int] NULL,
	[CenterID] [int] NULL,
	[CountryID] [varchar](250) NULL,
	[SalutationID] [varchar](250) NULL,
	[ContactID] [varchar](250) NULL,
	[FirstName] [varchar](250) NULL,
	[MiddleName] [varchar](250) NULL,
	[LastName] [varchar](250) NULL,
	[Address1] [varchar](250) NULL,
	[Address2] [varchar](250) NULL,
	[Address3] [varchar](250) NULL,
	[City] [varchar](250) NULL,
	[StateID] [varchar](250) NULL,
	[PostalCode] [varchar](250) NULL,
	[ARBalance] [float] NULL,
	[GenderID] [varchar](250) NULL,
	[DateOfBirth] [varchar](250) NULL,
	[DoNotCallFlag] [varchar](250) NULL,
	[DoNotContactFlag] [varchar](250) NULL,
	[IsHairModelFlag] [varchar](250) NULL,
	[IsTaxExemptFlag] [varchar](250) NULL,
	[EMailAddress] [varchar](250) NULL,
	[TextMessageAddress] [varchar](250) NULL,
	[Phone1] [varchar](250) NULL,
	[Phone2] [varchar](250) NULL,
	[Phone3] [varchar](250) NULL,
	[Phone1TypeID] [varchar](250) NULL,
	[Phone2TypeID] [varchar](250) NULL,
	[Phone3TypeID] [varchar](250) NULL,
	[IsPhone1PrimaryFlag] [varchar](250) NULL,
	[IsPhone2PrimaryFlag] [varchar](250) NULL,
	[IsPhone3PrimaryFlag] [varchar](250) NULL,
	[CreateDate] [varchar](250) NULL,
	[CreateUser] [varchar](250) NULL,
	[LastUpdate] [varchar](250) NULL,
	[LastUpdateUser] [varchar](250) NULL,
	[UpdateStamp] [varchar](250) NULL,
	[IsHairSystemClientFlag] [varchar](250) NULL,
	[TaxExemptNumber] [varchar](250) NULL,
	[CurrentBioMatrixClientMembershipGUID] [varchar](250) NULL,
	[CurrentSurgeryClientMembershipGUID] [varchar](250) NULL,
	[CurrentExtremeTherapyClientMembershipGUID] [varchar](250) NULL,
	[IsAutoConfirmTextPhone1] [varchar](250) NULL,
	[IsAutoConfirmTextPhone2] [varchar](250) NULL,
	[IsAutoConfirmTextPhone3] [varchar](250) NULL,
	[ImportCreateDate] [varchar](250) NULL,
	[ImportLastUpdate] [varchar](250) NULL,
	[ClientMembershipCounter] [varchar](250) NULL,
	[RequiredNoteReview] [varchar](250) NULL,
	[SiebelID] [varchar](250) NULL,
	[EmergencyContactPhone] [varchar](250) NULL,
	[BosleyProcedureOffice] [varchar](250) NULL,
	[BosleyConsultOffice] [varchar](250) NULL,
	[IsAutoConfirmEmail] [varchar](250) NULL,
	[IsEmailUndeliverable] [varchar](250) NULL,
	[AcquiredDate] [varchar](250) NULL,
	[CurrentXtrandsClientMembershipGUID] [varchar](250) NULL,
	[ExpectedConversionDate] [varchar](250) NULL,
	[LanguageID] [varchar](250) NULL,
	[IsConfirmCallPhone1] [varchar](250) NULL,
	[IsConfirmCallPhone2] [varchar](250) NULL,
	[IsConfirmCallPhone3] [varchar](250) NULL,
	[AnniversaryDate] [varchar](250) NULL,
	[CanConfirmAppointmentByEmail] [varchar](250) NULL,
	[CanContactForPromotionsByEmail] [varchar](250) NULL,
	[DoNotVisitInRoom] [varchar](250) NULL,
	[DoNotMoveAppointments] [varchar](250) NULL,
	[IsAutoRenewDisabled] [varchar](250) NULL,
	[KorvueID] [varchar](250) NULL,
	[SalesforceContactID] [varchar](250) NULL,
	[ClientFullNameAltCalc] [varchar](250) NULL,
	[ClientFullNameCalc] [varchar](250) NULL,
	[ClientFullNameAlt2Calc] [varchar](250) NULL,
	[ClientFullNameAlt3Calc] [varchar](250) NULL,
	[AgeCalc] [int] NULL,
	[IsBioGraftClient] [varchar](250) NULL,
	[CurrentMDPClientMembershipGUID] [varchar](250) NULL,
	[LeadCreateDate] [varchar](250) NULL,
	[BosleySalesforceAccountID] [varchar](250) NULL,
	[ClientOriginalCenterID] [varchar](250) NULL
) ON [PRIMARY]
GO
