/****** Object:  Table [dbo].[SLF_Prod_AccountZ]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_AccountZ](
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[MasterRecordId] [nvarchar](18) NULL,
	[Name] [nvarchar](765) NULL,
	[LastName] [nvarchar](240) NULL,
	[FirstName] [nvarchar](120) NULL,
	[Salutation] [nvarchar](765) NULL,
	[MiddleName] [nvarchar](120) NULL,
	[Suffix] [nvarchar](120) NULL,
	[Type] [nvarchar](765) NULL,
	[RecordTypeId] [nvarchar](18) NULL,
	[ParentId] [nvarchar](18) NULL,
	[BillingStreet] [nvarchar](765) NULL,
	[BillingCity] [nvarchar](120) NULL,
	[BillingState] [nvarchar](240) NULL,
	[BillingPostalCode] [nvarchar](60) NULL,
	[BillingCountry] [nvarchar](240) NULL,
	[BillingStateCode] [nvarchar](765) NULL,
	[BillingCountryCode] [nvarchar](765) NULL,
	[BillingLatitude] [decimal](18, 15) NULL,
	[BillingLongitude] [decimal](18, 15) NULL,
	[BillingGeocodeAccuracy] [nvarchar](765) NULL,
	[ShippingStreet] [nvarchar](765) NULL,
	[ShippingCity] [nvarchar](120) NULL,
	[ShippingState] [nvarchar](240) NULL,
	[ShippingPostalCode] [nvarchar](60) NULL,
	[ShippingCountry] [nvarchar](240) NULL,
	[ShippingStateCode] [nvarchar](765) NULL,
	[ShippingCountryCode] [nvarchar](765) NULL,
	[ShippingLatitude] [decimal](18, 15) NULL,
	[ShippingLongitude] [decimal](18, 15) NULL,
	[ShippingGeocodeAccuracy] [nvarchar](765) NULL,
	[Phone] [nvarchar](120) NULL,
	[Fax] [nvarchar](120) NULL,
	[AccountNumber] [nvarchar](120) NULL,
	[Website] [nvarchar](765) NULL,
	[PhotoUrl] [nvarchar](765) NULL,
	[Sic] [nvarchar](60) NULL,
	[Industry] [nvarchar](765) NULL,
	[AnnualRevenue] [decimal](18, 0) NULL,
	[NumberOfEmployees] [int] NULL,
	[Ownership] [nvarchar](765) NULL,
	[TickerSymbol] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [nvarchar](765) NULL,
	[Site] [nvarchar](240) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[OwnerId] [nvarchar](18) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastActivityDate] [datetime2](0) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[IsPartner] [bit] NULL,
	[IsCustomerPortal] [bit] NULL,
	[PersonContactId] [nvarchar](18) NULL,
	[IsPersonAccount] [bit] NULL,
	[ChannelProgramName] [nvarchar](765) NULL,
	[ChannelProgramLevelName] [nvarchar](765) NULL,
	[PersonMailingStreet] [nvarchar](765) NULL,
	[PersonMailingCity] [nvarchar](120) NULL,
	[PersonMailingState] [nvarchar](240) NULL,
	[PersonMailingPostalCode] [nvarchar](60) NULL,
	[PersonMailingCountry] [nvarchar](240) NULL,
	[PersonMailingStateCode] [nvarchar](765) NULL,
	[PersonMailingCountryCode] [nvarchar](765) NULL,
	[PersonMailingLatitude] [decimal](18, 15) NULL,
	[PersonMailingLongitude] [decimal](18, 15) NULL,
	[PersonMailingGeocodeAccuracy] [nvarchar](765) NULL,
	[PersonOtherStreet] [nvarchar](765) NULL,
	[PersonOtherCity] [nvarchar](120) NULL,
	[PersonOtherState] [nvarchar](240) NULL,
	[PersonOtherPostalCode] [nvarchar](60) NULL,
	[PersonOtherCountry] [nvarchar](240) NULL,
	[PersonOtherStateCode] [nvarchar](765) NULL,
	[PersonOtherCountryCode] [nvarchar](765) NULL,
	[PersonOtherLatitude] [decimal](18, 15) NULL,
	[PersonOtherLongitude] [decimal](18, 15) NULL,
	[PersonOtherGeocodeAccuracy] [nvarchar](765) NULL,
	[PersonMobilePhone] [nvarchar](120) NULL,
	[PersonHomePhone] [nvarchar](120) NULL,
	[PersonOtherPhone] [nvarchar](120) NULL,
	[PersonAssistantPhone] [nvarchar](120) NULL,
	[PersonEmail] [nvarchar](240) NULL,
	[PersonTitle] [nvarchar](240) NULL,
	[PersonDepartment] [nvarchar](240) NULL,
	[PersonAssistantName] [nvarchar](120) NULL,
	[PersonLeadSource] [nvarchar](765) NULL,
	[PersonBirthdate] [datetime2](0) NULL,
	[PersonHasOptedOutOfEmail] [bit] NULL,
	[PersonHasOptedOutOfFax] [bit] NULL,
	[PersonDoNotCall] [bit] NULL,
	[PersonLastCURequestDate] [datetime2](0) NULL,
	[PersonLastCUUpdateDate] [datetime2](0) NULL,
	[PersonEmailBouncedReason] [nvarchar](765) NULL,
	[PersonEmailBouncedDate] [datetime2](0) NULL,
	[PersonIndividualId] [nvarchar](18) NULL,
	[Jigsaw] [nvarchar](60) NULL,
	[JigsawCompanyId] [nvarchar](60) NULL,
	[AccountSource] [nvarchar](765) NULL,
	[SicDesc] [nvarchar](240) NULL,
	[OperatingHoursId] [nvarchar](18) NULL,
	[Status__c] [nvarchar](765) NULL,
	[PhoneAbr__c] [nvarchar](3900) NULL,
	[AltCenter1__c] [nvarchar](18) NULL,
	[SecondaryPhone__c] [nvarchar](120) NULL,
	[Regional_Vice_President__c] [nvarchar](765) NULL,
	[DMA_Size__c] [nvarchar](765) NULL,
	[TimeZone__c] [nvarchar](765) NULL,
	[BackLinePhone__c] [nvarchar](120) NULL,
	[Main_Phone__c] [nvarchar](120) NULL,
	[CustomerServiceLine__c] [nvarchar](120) NULL,
	[Map_Short_Link__c] [nvarchar](765) NULL,
	[CompanyID__c] [nvarchar](765) NULL,
	[DisplayName__c] [nvarchar](765) NULL,
	[ProfileCode__c] [nvarchar](765) NULL,
	[AlternativePhone__c] [nvarchar](120) NULL,
	[CountryCode__c] [nvarchar](765) NULL,
	[SMSPhone__c] [nvarchar](120) NULL,
	[ClientID__c] [nvarchar](765) NULL,
	[ZipCode__c] [nvarchar](18) NULL,
	[Source_Code_Legacy__c] [nvarchar](192) NULL,
	[Promo_Code_Legacy__c] [nvarchar](192) NULL,
	[DoNotCall__c] [bit] NULL,
	[WebName__c] [nvarchar](765) NULL,
	[AltCenter2__c] [nvarchar](18) NULL,
	[AltCenter3__c] [nvarchar](18) NULL,
	[AltCenter4__c] [nvarchar](18) NULL,
	[AltCenter5__c] [nvarchar](18) NULL,
	[AltCenter6__c] [nvarchar](18) NULL,
	[AltCenter7__c] [nvarchar](18) NULL,
	[AltCenter8__c] [nvarchar](18) NULL,
	[AltCenter9__c] [nvarchar](18) NULL,
	[AltCenter10__c] [nvarchar](18) NULL,
	[CenterCloseFormatted__c] [nvarchar](3900) NULL,
	[ContactID__c] [nvarchar](765) NULL,
	[ClientEmail__c] [nvarchar](240) NULL,
	[CenterAlert__c] [nvarchar](765) NULL,
	[Duplicate__c] [nvarchar](18) NULL,
	[ConectCreationDate__c] [datetime2](0) NULL,
	[ConectLastUpdate__c] [datetime2](0) NULL,
	[Gender__c] [nvarchar](765) NULL,
	[English__c] [bit] NULL,
	[Spanish__c] [bit] NULL,
	[French__c] [bit] NULL,
	[MgrCellPhone__c] [nvarchar](120) NULL,
	[CenterOpenFormatted__c] [nvarchar](3900) NULL,
	[CenterType__c] [nvarchar](765) NULL,
	[SurgeryOffered__c] [bit] NULL,
	[X1Apptperslot__c] [bit] NULL,
	[OfferPRP__c] [bit] NULL,
	[ImageConsultant__c] [nvarchar](300) NULL,
	[Area__c] [nvarchar](765) NULL,
	[Region__c] [nvarchar](765) NULL,
	[CenterOpen__c] [nvarchar](765) NULL,
	[CenterClose__c] [nvarchar](765) NULL,
	[ManagerName__c] [nvarchar](300) NULL,
	[AssistantManager__c] [nvarchar](300) NULL,
	[AreaManager__c] [nvarchar](300) NULL,
	[DoNotSyncCenter__c] [bit] NULL,
	[Hair_Loss_Or_Volume__c] [nvarchar](765) NULL,
	[BestTressedOffered__c] [bit] NULL,
	[WebPhone__c] [nvarchar](120) NULL,
	[CenterOwner__c] [nvarchar](240) NULL,
	[MDPOffered__c] [bit] NULL,
	[MDPPerformed__c] [bit] NULL,
	[HardCopyPreferred__c] [bit] NULL,
	[Company__c] [nvarchar](765) NULL,
	[Virtual__c] [bit] NULL,
	[ConfirmationCallerIDEnglish__c] [nvarchar](90) NULL,
	[ConfirmationCallerIDFrench__c] [nvarchar](90) NULL,
	[ConfirmationCallerIDSpanish__c] [nvarchar](90) NULL,
	[OtherCallerIDEnglish__c] [nvarchar](90) NULL,
	[OtherCallerIDFrench__c] [nvarchar](90) NULL,
	[OtherCallerIDSpanish__c] [nvarchar](90) NULL,
	[OutboundDialingAllowed__c] [bit] NULL,
	[BlockedForBooking__c] [bit] NULL,
	[Client_Type__c] [nvarchar](765) NULL,
	[Service_Territory__c] [nvarchar](18) NULL,
	[Allow_Virtual_Center__c] [bit] NULL,
	[PersonMobilePhone_Number_Normalized__c] [nvarchar](120) NULL,
	[Gender__pc] [nvarchar](765) NULL,
	[Center__pc] [nvarchar](18) NULL,
	[ConfirmationCall__pc] [bit] NULL,
	[ConfirmationEmail__pc] [bit] NULL,
	[ConfirmationText__pc] [bit] NULL,
	[DoNotContact__pc] [bit] NULL,
	[DoNotEmail__pc] [bit] NULL,
	[DoNotMail__pc] [bit] NULL,
	[DoNotText__pc] [bit] NULL,
	[HairLossExperience__pc] [nvarchar](765) NULL,
	[HairLossFamily__pc] [nvarchar](765) NULL,
	[HairLossProductUsed__pc] [nvarchar](765) NULL,
	[HairLossSpot__pc] [nvarchar](765) NULL,
	[Language__pc] [nvarchar](765) NULL,
	[PromoCode__pc] [nvarchar](18) NULL,
	[SourceCode__pc] [nvarchar](18) NULL,
	[AgeRange__pc] [nvarchar](765) NULL,
	[Birthday__pc] [datetime2](0) NULL,
	[Age__pc] [decimal](3, 0) NULL,
	[Accommodation__pc] [nvarchar](765) NULL,
	[ContactID__pc] [nvarchar](765) NULL,
	[ContactStatus__pc] [nvarchar](765) NULL,
	[DateofLastAppoint__pc] [datetime2](0) NULL,
	[DeviceType__pc] [nvarchar](765) NULL,
	[Duplicate__pc] [nvarchar](18) NULL,
	[HairLossProductOther__pc] [nvarchar](765) NULL,
	[HTTPReferrer__pc] [nvarchar](max) NULL,
	[IPAddress__pc] [nvarchar](765) NULL,
	[OnCtCreatedDate__pc] [datetime2](0) NULL,
	[OnCtLastModifyDate__pc] [datetime2](0) NULL,
	[OriginalCampaign__pc] [nvarchar](18) NULL,
	[PhoneAbr__pc] [nvarchar](3900) NULL,
	[Promo_Code_Legacy__pc] [nvarchar](192) NULL,
	[RecentCampaign__pc] [nvarchar](18) NULL,
	[RecentPromoCode__pc] [nvarchar](18) NULL,
	[SourceCodeLegacy__pc] [nvarchar](192) NULL,
	[TotalNumberofAppointments__pc] [decimal](2, 0) NULL,
	[ZipCode__pc] [nvarchar](18) NULL,
	[OnCtCreatedByUser__pc] [nvarchar](30) NULL,
	[OriginalPromoCode__pc] [nvarchar](18) NULL,
	[TimeZone__pc] [nvarchar](3900) NULL,
	[DISC__pc] [nvarchar](765) NULL,
	[Ethnicity__pc] [nvarchar](765) NULL,
	[LudwigScale__pc] [nvarchar](765) NULL,
	[MaritalStatus__pc] [nvarchar](765) NULL,
	[NorwoodScale__pc] [nvarchar](765) NULL,
	[Occupation__pc] [nvarchar](765) NULL,
	[SolutionOffered__pc] [nvarchar](765) NULL,
	[SiebelID__pc] [nvarchar](765) NULL,
	[et4ae5__HasOptedOutOfMobile__pc] [bit] NULL,
	[et4ae5__Mobile_Country_Code__pc] [nvarchar](765) NULL,
	[HairLossOrVolume__pc] [nvarchar](765) NULL,
	[Consultation_Form__pc] [nvarchar](3900) NULL,
	[ConsultationFormURL__pc] [nvarchar](3900) NULL,
	[ReferralCode__pc] [nvarchar](60) NULL,
	[ReferralCodeExpireDate__pc] [datetime2](0) NULL,
	[RecentSourceCode__pc] [nvarchar](192) NULL,
	[HardCopyPreferred__pc] [bit] NULL,
	[SFMCExempt__pc] [bit] NULL,
	[Contact_Age__pc] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
