/****** Object:  Table [dbo].[SLF_NEW_Campaign_UpdateParent]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Campaign_UpdateParent](
	[Id] [nvarchar](18) NULL,
	[TollFreeNumber__c] [varchar](1) NOT NULL,
	[Toll_Free_Mobile__c] [nvarchar](18) NULL,
	[Toll_Free_Desktop__c] [nvarchar](18) NULL,
	[DPNCode__c] [varchar](1) NOT NULL,
	[DWCCode__c] [varchar](1) NOT NULL,
	[DWFCode__c] [varchar](1) NOT NULL,
	[MPNCode__c] [varchar](1) NOT NULL,
	[MWCCode__c] [varchar](1) NOT NULL,
	[MWFCode__c] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
