/****** Object:  Table [dbo].[SLF_Prod_Leads_Emergency]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Leads_Emergency](
	[External_ID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
