/****** Object:  Table [dbo].[SLF_Prod_TollFreeNumber_DELTA]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_TollFreeNumber_DELTA](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[DNIS__c] [decimal](38, 18) NULL,
	[SourceCode__c] [nvarchar](max) NULL,
	[TFN__c] [nvarchar](max) NULL,
	[ActiveCampaignsDesktop__c] [decimal](38, 18) NULL,
	[LocationCode__c] [decimal](38, 18) NULL,
	[LanguageCode__c] [decimal](38, 18) NULL,
	[ActiveCampaignsMobile__c] [decimal](38, 18) NULL,
	[PromoCode__c] [nvarchar](max) NULL,
	[Notes__c] [nvarchar](max) NULL,
	[Misc_Code__c] [decimal](38, 18) NULL,
	[PDNIS__c] [decimal](38, 18) NULL,
	[Description__c] [nvarchar](max) NULL,
	[TotalActiveCampaigns__c] [decimal](38, 18) NULL,
	[TotalCampaignsDesktop__c] [decimal](38, 18) NULL,
	[TotalCampaignsMobile__c] [decimal](38, 18) NULL,
	[TotalCampaigns__c] [decimal](38, 18) NULL,
	[ACEDescription__c] [nvarchar](max) NULL,
	[Company__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
