/****** Object:  Table [dbo].[SFL_INT_RecordType]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_INT_RecordType](
	[Record Type ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
