/****** Object:  Table [dbo].[AllTaskINT]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTaskINT](
	[n1] [nvarchar](1) NULL,
	[External_ID_c] [varchar](250) NOT NULL,
	[n2] [nvarchar](1) NULL
) ON [PRIMARY]
GO
