/****** Object:  Table [dbo].[SFL_NEW_PersonAcc_Dupl_20210625]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_NEW_PersonAcc_Dupl_20210625](
	[Id] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[PersonEmail] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Service_Territory] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](50) NULL,
	[LastModifiedById] [nvarchar](50) NULL,
	[ContactId] [varchar](250) NULL
) ON [PRIMARY]
GO
