/****** Object:  Table [dbo].[SLF_NEW_User]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_User](
	[User_ID] [nvarchar](50) NULL,
	[Alias] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[External_ID] [nvarchar](50) NULL,
	[Full_Name] [nvarchar](50) NULL,
	[Profile_ID] [nvarchar](50) NULL,
	[Role_ID] [nvarchar](50) NULL,
	[Username] [nvarchar](100) NULL
) ON [PRIMARY]
GO
