/****** Object:  Table [dbo].[SLF_Prod_WorkTypeGroupMember]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_WorkTypeGroupMember](
	[CREATEDBYID] [varchar](max) NOT NULL,
	[CREATEDDATE] [varchar](max) NOT NULL,
	[CURRENCYISOCODE] [varchar](max) NOT NULL,
	[ID] [varchar](max) NOT NULL,
	[ISDELETED] [varchar](max) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](max) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](max) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](max) NULL,
	[LASTVIEWEDDATE] [varchar](max) NULL,
	[NAME] [varchar](max) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](max) NOT NULL,
	[WORKTYPEGROUPID] [varchar](max) NOT NULL,
	[WORKTYPEID] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
