/****** Object:  Table [dbo].[User Export-05_19_2021-23_19_38]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User Export-05_19_2021-23_19_38](
	[User ID] [varchar](250) NULL,
	[About Me] [varchar](250) NULL,
	[Account ID] [varchar](250) NULL,
	[Active] [varchar](250) NULL,
	[ActivityRemindersPopup] [varchar](250) NULL,
	[Address] [varchar](250) NULL,
	[Admin Info Emails] [varchar](250) NULL,
	[Alias] [varchar](250) NULL,
	[Allow Forecasting] [varchar](50) NULL,
	[Apex Mobile User] [varchar](50) NULL,
	[ApexPagesDeveloperMode] [varchar](250) NULL,
	[Auto-login To Call Center] [varchar](50) NULL,
	[AutoBcc] [varchar](50) NULL,
	[AutoBccStayInTouch] [varchar](50) NULL,
	[AvantGo User] [varchar](50) NULL,
	[CacheDiagnostics] [varchar](50) NULL,
	[Call Center ID] [varchar](50) NULL,
	[Chat Display Name] [varchar](50) NULL,
	[Chat Photo Small] [varchar](50) NULL,
	[Chat User] [varchar](50) NULL,
	[Chatter Email Highlights Frequency] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Company Name] [varchar](50) NULL,
	[Contact ID] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Country Code] [varchar](50) NULL,
	[Created By ID] [varchar](50) NULL,
	[Created Date] [varchar](50) NULL,
	[Currency ISO Code] [varchar](50) NULL,
	[Default Currency ISO Code] [varchar](50) NULL,
	[Default Notification Frequency when Joining Groups] [varchar](50) NULL,
	[Delegated Approver ID] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Dialer ID] [varchar](50) NULL,
	[DisableAllFeedsEmail] [varchar](50) NULL,
	[DisableBookmarkEmail] [varchar](50) NULL,
	[DisableChangeCommentEmail] [varchar](50) NULL,
	[DisableEndorsementEmail] [varchar](50) NULL,
	[DisableFileShareNotificationsForApi] [varchar](50) NULL,
	[DisableFollowersEmail] [varchar](50) NULL,
	[DisableLaterCommentEmail] [varchar](50) NULL,
	[DisableLikeEmail] [varchar](50) NULL,
	[DisableMentionsPostEmail] [varchar](50) NULL,
	[DisableMessageEmail] [varchar](50) NULL,
	[DisableProfilePostEmail] [varchar](50) NULL,
	[DisableSharePostEmail] [varchar](50) NULL,
	[DisCommentAfterLikeEmail] [varchar](50) NULL,
	[DisMentionsCommentEmail] [varchar](50) NULL,
	[DisProfPostCommentEmail] [varchar](50) NULL,
	[Division] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Email Encoding] [varchar](50) NULL,
	[Email Sender Address] [varchar](50) NULL,
	[Email Sender Name] [varchar](50) NULL,
	[Email Signature] [varchar](50) NULL,
	[Employee Number] [varchar](50) NULL,
	[EnableAutoSubForFeeds] [varchar](50) NULL,
	[EventRemindersCheckboxDefault] [varchar](50) NULL,
	[Extension] [varchar](50) NULL,
	[External ID] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[First Name] [varchar](50) NULL,
	[Flow User] [varchar](50) NULL,
	[Full Name] [varchar](50) NULL,
	[Geocode Accuracy] [varchar](50) NULL,
	[Has Profile Photo] [varchar](50) NULL,
	[HideBiggerPhotoCallout] [varchar](50) NULL,
	[HideChatterOnboardingSplash] [varchar](50) NULL,
	[HideCSNDesktopTask] [varchar](50) NULL,
	[HideCSNGetChatterMobileTask] [varchar](50) NULL,
	[HideEndUserOnboardingAssistantModal] [varchar](50) NULL,
	[HideLightningMigrationModal] [varchar](50) NULL,
	[HideS1BrowserUI] [varchar](50) NULL,
	[HideSecondChatterOnboardingSplash] [varchar](50) NULL,
	[HideSfxWelcomeMat] [varchar](50) NULL,
	[Info Emails] [varchar](50) NULL,
	[Knowledge User] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Last Login] [varchar](50) NULL,
	[Last Modified By ID] [varchar](50) NULL,
	[Last Modified Date] [varchar](50) NULL,
	[Last Name] [varchar](50) NULL,
	[Last Password Change or Reset] [varchar](50) NULL,
	[Last Referenced Date] [varchar](50) NULL,
	[Last Viewed Date] [varchar](50) NULL,
	[Latitude] [varchar](50) NULL,
	[LightningExperiencePreferred] [varchar](50) NULL,
	[Locale] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[Manager ID] [varchar](50) NULL,
	[Marketing User] [varchar](50) NULL,
	[Middle Name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Nickname] [varchar](50) NULL,
	[Offline Edition Trial Expiration Date] [varchar](50) NULL,
	[Offline User] [varchar](50) NULL,
	[PathAssistantCollapsed] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Photo] [varchar](50) NULL,
	[PreviewLightning] [varchar](50) NULL,
	[Profile ID] [varchar](50) NULL,
	[ReminderSoundOff] [varchar](50) NULL,
	[Role ID] [varchar](50) NULL,
	[Sales Anywhere Trial Expiration Date] [varchar](50) NULL,
	[Salesforce CRM Content User] [varchar](50) NULL,
	[SAML Federation ID] [varchar](50) NULL,
	[Service Cloud User] [varchar](50) NULL,
	[ShowCityToExternalUsers] [varchar](250) NULL,
	[ShowCityToGuestUsers] [varchar](250) NULL,
	[ShowCountryToExternalUsers] [varchar](50) NULL,
	[ShowCountryToGuestUsers] [varchar](50) NULL,
	[ShowEmailToExternalUsers] [varchar](50) NULL,
	[ShowEmailToGuestUsers] [varchar](50) NULL,
	[ShowFaxToExternalUsers] [varchar](50) NULL,
	[ShowFaxToGuestUsers] [varchar](50) NULL,
	[ShowManagerToExternalUsers] [varchar](50) NULL,
	[ShowManagerToGuestUsers] [varchar](50) NULL,
	[ShowMobilePhoneToExternalUsers] [varchar](50) NULL,
	[ShowMobilePhoneToGuestUsers] [varchar](50) NULL,
	[ShowPostalCodeToExternalUsers] [varchar](50) NULL,
	[ShowPostalCodeToGuestUsers] [varchar](50) NULL,
	[ShowProfilePicToGuestUsers] [varchar](50) NULL,
	[ShowStateToExternalUsers] [varchar](50) NULL,
	[ShowStateToGuestUsers] [varchar](50) NULL,
	[ShowStreetAddressToExternalUsers] [varchar](50) NULL,
	[ShowStreetAddressToGuestUsers] [varchar](50) NULL,
	[ShowTitleToExternalUsers] [varchar](50) NULL,
	[ShowTitleToGuestUsers] [varchar](50) NULL,
	[ShowWorkPhoneToExternalUsers] [varchar](50) NULL,
	[ShowWorkPhoneToGuestUsers] [varchar](50) NULL,
	[SightCall Use Case Id] [varchar](50) NULL,
	[SortFeedByComment] [varchar](50) NULL,
	[State Province] [varchar](50) NULL,
	[State Province Code] [varchar](50) NULL,
	[Stay-in-Touch Email Note] [varchar](50) NULL,
	[Stay-in-Touch Email Signature] [varchar](50) NULL,
	[Stay-in-Touch Email Subject] [varchar](50) NULL,
	[StayInTouchReminder] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[Suffix] [varchar](50) NULL,
	[System Modstamp] [varchar](50) NULL,
	[TaskRemindersCheckboxDefault] [varchar](50) NULL,
	[Time Zone] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Url for banner photo] [varchar](50) NULL,
	[Url for full-sized Photo] [varchar](50) NULL,
	[Url for medium profile photo] [varchar](50) NULL,
	[User Photo badge text overlay] [varchar](50) NULL,
	[User Type] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Zip Postal Code] [varchar](50) NULL
) ON [PRIMARY]
GO
