/****** Object:  Table [dbo].[SFL_NEW_Opportunity]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_NEW_Opportunity](
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[AccountId] [nvarchar](18) NULL,
	[RecordTypeId] [nvarchar](18) NULL,
	[Name] [nvarchar](360) NULL,
	[Description] [nvarchar](max) NULL,
	[StageName] [nvarchar](765) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Probability] [decimal](3, 0) NULL,
	[CloseDate] [datetime2](0) NULL,
	[Type] [nvarchar](765) NULL,
	[NextStep] [nvarchar](765) NULL,
	[LeadSource] [nvarchar](765) NULL,
	[IsClosed] [bit] NULL,
	[IsWon] [bit] NULL,
	[ForecastCategory] [nvarchar](765) NULL,
	[ForecastCategoryName] [nvarchar](765) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[CampaignId] [nvarchar](18) NULL,
	[HasOpportunityLineItem] [bit] NULL,
	[Pricebook2Id] [nvarchar](18) NULL,
	[OwnerId] [nvarchar](18) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastActivityDate] [datetime2](0) NULL,
	[FiscalQuarter] [int] NULL,
	[FiscalYear] [int] NULL,
	[Fiscal] [nvarchar](6) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[SyncedQuoteId] [nvarchar](18) NULL,
	[ContractId] [nvarchar](18) NULL,
	[HasOpenActivity] [bit] NULL,
	[HasOverdueTask] [bit] NULL,
	[Budget_Confirmed__c] [bit] NULL,
	[Discovery_Completed__c] [bit] NULL,
	[ROI_Analysis_Completed__c] [bit] NULL,
	[Appointment_Source__c] [nvarchar](765) NULL,
	[Loss_Reason__c] [nvarchar](765) NULL,
	[Cancellation_Reason__c] [nvarchar](765) NULL,
	[Hair_Loss_Experience__c] [nvarchar](765) NULL,
	[Hair_Loss_Family__c] [nvarchar](765) NULL,
	[Hair_Loss_Or_Volume__c] [nvarchar](765) NULL,
	[Hair_Loss_Product_Other__c] [nvarchar](765) NULL,
	[Hair_Loss_Product_Used__c] [nvarchar](765) NULL,
	[Hair_Loss_Spot__c] [nvarchar](765) NULL,
	[IP_Address__c] [nvarchar](765) NULL,
	[Ludwig_Scale__c] [nvarchar](765) NULL,
	[Norwood_Scale__c] [nvarchar](765) NULL,
	[Referral_Code_Expiration_Date__c] [datetime2](0) NULL,
	[Referral_Code__c] [nvarchar](765) NULL,
	[Service_Territory__c] [nvarchar](18) NULL,
	[Source_Code__c] [nvarchar](765) NULL,
	[Submitted_for_Approval__c] [bit] NULL,
	[Ammount__c] [decimal](18, 2) NULL,
	[GCLID__c] [nvarchar](765) NULL,
	[Promo_Code__c] [nvarchar](18) NULL,
	[SolutionOffered__c] [nvarchar](765) NULL,
	[Approver__c] [nvarchar](18) NULL,
	[Email__c] [nvarchar](3900) NULL,
	[Goals_Expectations__c] [nvarchar](max) NULL,
	[How_many_times_a_week_do_you_think__c] [nvarchar](765) NULL,
	[How_much_time_a_week_do_you_spend__c] [nvarchar](max) NULL,
	[Mobile__c] [nvarchar](3900) NULL,
	[Opportunity_Owner__c] [nvarchar](3900) NULL,
	[Other_Reason__c] [nvarchar](max) NULL,
	[Owner__c] [nvarchar](18) NULL,
	[Phone__c] [nvarchar](3900) NULL,
	[What_are_your_main_concerns_today__c] [nvarchar](765) NULL,
	[What_else_would_be_helpful_for_your__c] [nvarchar](max) NULL,
	[What_methods_have_you_used_or_currently__c] [nvarchar](765) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
