/****** Object:  Table [dbo].[SLF_UAT2_User]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_User](
	[Id] [int] NULL,
	[AboutMe] [varchar](max) NULL,
	[AccountId] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Address] [varchar](max) NULL,
	[ReceivesAdminInfoEmails] [bit] NOT NULL,
	[Alias] [varchar](max) NOT NULL,
	[ForecastEnabled] [bit] NOT NULL,
	[UserPermissionsMobileUser] [bit] NOT NULL,
	[UserPreferencesApexPagesDeveloperMode] [bit] NOT NULL,
	[UserPermissionsCallCenterAutoLogin] [bit] NOT NULL,
	[EmailPreferencesAutoBcc] [bit] NOT NULL,
	[EmailPreferencesAutoBccStayInTouch] [bit] NOT NULL,
	[UserPermissionsAvantgoUser] [bit] NOT NULL,
	[UserPreferencesCacheDiagnostics] [bit] NOT NULL,
	[CallCenterId] [varchar](max) NULL,
	[Chat_Display_Name__c] [varchar](max) NULL,
	[Chat_Photo_Small__c] [varchar](max) NULL,
	[UserPermissionsLiveAgentUser] [varchar](max) NOT NULL,
	[DigestFrequency] [varchar](max) NOT NULL,
	[City] [varchar](max) NULL,
	[CompanyName] [varchar](max) NULL,
	[ContactId] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[CountryCode] [varchar](max) NULL,
	[CreatedById] [varchar](max) NOT NULL,
	[CreatedDate] [varchar](max) NOT NULL,
	[CurrencyIsoCode] [varchar](max) NOT NULL,
	[DefaultCurrencyIsoCode] [varchar](max) NOT NULL,
	[DefaultGroupNotificationFrequency] [varchar](max) NOT NULL,
	[DelegatedApproverId] [varchar](max) NULL,
	[Department] [varchar](max) NULL,
	[DialerID__c] [varchar](max) NULL,
	[UserPreferencesDisableAllFeedsEmail] [bit] NOT NULL,
	[UserPreferencesDisableBookmarkEmail] [bit] NOT NULL,
	[UserPreferencesDisableChangeCommentEmail] [bit] NOT NULL,
	[UserPreferencesDisableEndorsementEmail] [bit] NOT NULL,
	[UserPreferencesDisableFileShareNotificationsForApi] [bit] NOT NULL,
	[UserPreferencesDisableFollowersEmail] [bit] NOT NULL,
	[UserPreferencesDisableLaterCommentEmail] [bit] NOT NULL,
	[UserPreferencesDisableLikeEmail] [bit] NOT NULL,
	[UserPreferencesDisableMentionsPostEmail] [bit] NOT NULL,
	[UserPreferencesDisableMessageEmail] [bit] NOT NULL,
	[UserPreferencesDisableProfilePostEmail] [bit] NOT NULL,
	[UserPreferencesDisableSharePostEmail] [bit] NOT NULL,
	[UserPreferencesDisCommentAfterLikeEmail] [bit] NOT NULL,
	[UserPreferencesDisMentionsCommentEmail] [bit] NOT NULL,
	[UserPreferencesDisProfPostCommentEmail] [bit] NOT NULL,
	[Division] [varchar](max) NULL,
	[Email] [varchar](max) NOT NULL,
	[EmailEncodingKey] [varchar](max) NOT NULL,
	[SenderEmail] [varchar](max) NULL,
	[SenderName] [varchar](max) NULL,
	[Signature] [varchar](max) NULL,
	[EmployeeNumber] [varchar](max) NULL,
	[UserPreferencesEnableAutoSubForFeeds] [bit] NOT NULL,
	[Extension] [varchar](max) NULL,
	[External_Id__c] [varchar](max) NOT NULL,
	[Fax] [varchar](max) NULL,
	[FirstName] [varchar](max) NULL,
	[UserPermissionsInteractionUser] [bit] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[GeocodeAccuracy] [varchar](max) NULL,
	[IsProfilePhotoActive] [bit] NOT NULL,
	[UserPreferencesHideBiggerPhotoCallout] [bit] NOT NULL,
	[UserPreferencesHideChatterOnboardingSplash] [bit] NOT NULL,
	[UserPreferencesHideCSNDesktopTask] [bit] NOT NULL,
	[UserPreferencesHideCSNGetChatterMobileTask] [bit] NOT NULL,
	[UserPreferencesHideEndUserOnboardingAssistantModal] [bit] NOT NULL,
	[UserPreferencesHideLightningMigrationModal] [bit] NOT NULL,
	[UserPreferencesHideS1BrowserUI] [bit] NOT NULL,
	[UserPreferencesHideSecondChatterOnboardingSplash] [bit] NOT NULL,
	[UserPreferencesHideSfxWelcomeMat] [bit] NOT NULL,
	[ReceivesInfoEmails] [bit] NOT NULL,
	[IsPortalEnabled] [bit] NOT NULL,
	[UserPermissionsKnowledgeUser] [bit] NOT NULL,
	[LanguageLocaleKey] [varchar](max) NOT NULL,
	[LastLoginDate] [varchar](max) NULL,
	[LastModifiedById] [varchar](max) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[LastName] [varchar](max) NOT NULL,
	[LastPasswordChangeDate] [varchar](max) NULL,
	[LastReferencedDate] [varchar](max) NULL,
	[LastViewedDate] [varchar](max) NULL,
	[Latitude] [varchar](max) NULL,
	[UserPreferencesLightningExperiencePreferred] [bit] NOT NULL,
	[LocaleSidKey] [varchar](max) NOT NULL,
	[Longitude] [varchar](max) NULL,
	[ManagerId] [varchar](max) NULL,
	[UserPermissionsMarketingUser] [bit] NOT NULL,
	[MiddleName] [varchar](max) NULL,
	[MobilePhone] [varchar](max) NULL,
	[CommunityNickname] [varchar](max) NOT NULL,
	[OfflineTrialExpirationDate] [varchar](max) NULL,
	[UserPermissionsOfflineUser] [varchar](max) NOT NULL,
	[UserPreferencesPathAssistantCollapsed] [varchar](max) NOT NULL,
	[Phone] [varchar](max) NULL,
	[SmallPhotoUrl] [varchar](max) NOT NULL,
	[PortalRole] [varchar](max) NULL,
	[UserPreferencesPreviewLightning] [varchar](max) NOT NULL,
	[ProfileId] [varchar](max) NOT NULL,
	[UserRoleId] [varchar](max) NULL,
	[OfflinePdaTrialExpirationDate] [varchar](max) NULL,
	[UserPermissionsSFContentUser] [varchar](max) NOT NULL,
	[FederationIdentifier] [varchar](max) NULL,
	[UserPermissionsSupportUser] [varchar](max) NOT NULL,
	[UserPreferencesShowCityToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowCityToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowCountryToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowCountryToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowEmailToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowEmailToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowFaxToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowFaxToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowManagerToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowManagerToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowMobilePhoneToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowMobilePhoneToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowPostalCodeToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowPostalCodeToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowProfilePicToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowStateToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowStateToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowStreetAddressToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowStreetAddressToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowTitleToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowTitleToGuestUsers] [bit] NOT NULL,
	[UserPreferencesShowWorkPhoneToExternalUsers] [bit] NOT NULL,
	[UserPreferencesShowWorkPhoneToGuestUsers] [bit] NOT NULL,
	[UserPreferencesSortFeedByComment] [bit] NOT NULL,
	[State] [varchar](max) NULL,
	[StateCode] [varchar](max) NULL,
	[StayInTouchNote] [varchar](max) NULL,
	[StayInTouchSignature] [varchar](max) NULL,
	[StayInTouchSubject] [varchar](max) NULL,
	[EmailPreferencesStayInTouchReminder] [varchar](max) NOT NULL,
	[Street] [varchar](max) NULL,
	[Suffix] [varchar](max) NULL,
	[SystemModstamp] [varchar](max) NOT NULL,
	[TimeZoneSidKey] [varchar](max) NOT NULL,
	[Title] [varchar](max) NULL,
	[BannerPhotoUrl] [varchar](max) NOT NULL,
	[FullPhotoUrl] [varchar](max) NOT NULL,
	[MediumPhotoUrl] [varchar](max) NULL,
	[BadgeText] [varchar](max) NULL,
	[UserType] [varchar](max) NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[PostalCode] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
