/****** Object:  Table [dbo].[COA_MDM]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COA_MDM](
	[Country] [varchar](250) NULL,
	[Country Code] [varchar](250) NULL,
	[Division   Entity] [varchar](250) NULL,
	[Division Entity Code] [varchar](250) NULL,
	[Business Segment] [varchar](250) NULL,
	[Business Segment Code] [varchar](250) NULL,
	[Department   Center] [varchar](250) NULL,
	[Department Center Code] [varchar](250) NULL,
	[Subgroup] [varchar](250) NULL,
	[Codification] [varchar](250) NULL
) ON [PRIMARY]
GO
