/****** Object:  Table [dbo].[SLF_UAT2_ServiceTerritoryMember_V2]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_ServiceTerritoryMember_V2](
	[CITY] [varchar](250) NULL,
	[COUNTRY] [varchar](250) NOT NULL,
	[COUNTRYCODE] [varchar](250) NOT NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[EFFECTIVEENDDATE] [varchar](250) NULL,
	[EFFECTIVESTARTDATE] [varchar](250) NOT NULL,
	[GEOCODEACCURACY] [varchar](250) NULL,
	[ID] [varchar](250) NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[LATITUDE] [varchar](250) NULL,
	[LONGITUDE] [varchar](250) NULL,
	[MEMBERNUMBER] [varchar](250) NOT NULL,
	[OPERATINGHOURSID] [varchar](250) NULL,
	[POSTALCODE] [varchar](250) NULL,
	[ROLE] [varchar](250) NULL,
	[SERVICERESOURCEID] [varchar](250) NOT NULL,
	[SERVICETERRITORYID] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NULL,
	[STATECODE] [varchar](250) NULL,
	[STREET] [varchar](250) NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL,
	[TERRITORYTYPE] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
