/****** Object:  Table [dbo].[SLF_Prod_Leads_ORG_DELTA]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Leads_ORG_DELTA](
	[Id] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[MasterRecordId] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[Salutation] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[StateCode] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[Latitude] [decimal](38, 18) NULL,
	[Longitude] [decimal](38, 18) NULL,
	[GeocodeAccuracy] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[PhotoUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[LeadSource] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Industry] [nvarchar](max) NULL,
	[Rating] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[AnnualRevenue] [decimal](38, 18) NULL,
	[NumberOfEmployees] [int] NULL,
	[OwnerId] [nvarchar](max) NULL,
	[HasOptedOutOfEmail] [bit] NULL,
	[IsConverted] [bit] NULL,
	[ConvertedDate] [datetime2](7) NULL,
	[ConvertedAccountId] [nvarchar](max) NULL,
	[ConvertedContactId] [nvarchar](max) NULL,
	[ConvertedOpportunityId] [nvarchar](max) NULL,
	[IsUnreadByOwner] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[DoNotCall] [bit] NULL,
	[HasOptedOutOfFax] [bit] NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[LastTransferDate] [datetime2](7) NULL,
	[Jigsaw] [nvarchar](max) NULL,
	[JigsawContactId] [nvarchar](max) NULL,
	[EmailBouncedReason] [nvarchar](max) NULL,
	[EmailBouncedDate] [datetime2](7) NULL,
	[IndividualId] [nvarchar](max) NULL,
	[Gender__c] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL,
	[Center__c] [nvarchar](max) NULL,
	[OriginalCampaign__c] [nvarchar](max) NULL,
	[PromoCode__c] [nvarchar](max) NULL,
	[DoNotEmail__c] [bit] NULL,
	[DoNotMail__c] [bit] NULL,
	[DoNotText__c] [bit] NULL,
	[HairLossSpot__c] [nvarchar](max) NULL,
	[HairLossExperience__c] [nvarchar](max) NULL,
	[HairLossFamily__c] [nvarchar](max) NULL,
	[HairLossProductUsed__c] [nvarchar](max) NULL,
	[DoNotContact__c] [bit] NULL,
	[OpenTasks__c] [decimal](38, 18) NULL,
	[OnCSessionID__c] [nvarchar](max) NULL,
	[OnCAffiliateID__c] [nvarchar](max) NULL,
	[AgeRange__c] [nvarchar](max) NULL,
	[Age__c] [decimal](38, 18) NULL,
	[Birthday__c] [datetime2](7) NULL,
	[DateofLastAppoint__c] [datetime2](7) NULL,
	[ContactID__c] [nvarchar](max) NULL,
	[ContactStatus__c] [nvarchar](max) NULL,
	[HairLossProductOther__c] [nvarchar](max) NULL,
	[ZipCode__c] [nvarchar](max) NULL,
	[PhoneAbr__c] [nvarchar](max) NULL,
	[Accommodation__c] [nvarchar](max) NULL,
	[Promo_Code_Legacy__c] [nvarchar](max) NULL,
	[Source_Code_Legacy__c] [nvarchar](max) NULL,
	[TotalNumberofAppointments__c] [decimal](38, 18) NULL,
	[RecentCampaign__c] [nvarchar](max) NULL,
	[RecentPromoCode__c] [nvarchar](max) NULL,
	[DeviceType__c] [nvarchar](max) NULL,
	[IPAddress__c] [nvarchar](max) NULL,
	[HTTPReferrer__c] [nvarchar](max) NULL,
	[OnCtLastModifyDate__c] [datetime2](7) NULL,
	[OnCtCreatedDate__c] [datetime2](7) NULL,
	[Duplicate__c] [nvarchar](max) NULL,
	[OnCtCreatedByUser__c] [nvarchar](max) NULL,
	[TimeZone__c] [nvarchar](max) NULL,
	[ClientID__c] [nvarchar](max) NULL,
	[DISC__c] [nvarchar](max) NULL,
	[Ethnicity__c] [nvarchar](max) NULL,
	[LudwigScale__c] [nvarchar](max) NULL,
	[MaritalStatus__c] [nvarchar](max) NULL,
	[NorwoodScale__c] [nvarchar](max) NULL,
	[Occupation__c] [nvarchar](max) NULL,
	[OriginalCampaignID__c] [nvarchar](max) NULL,
	[SolutionOffered__c] [nvarchar](max) NULL,
	[CenterNumber__c] [nvarchar](max) NULL,
	[OncOriginalCampaign__c] [nvarchar](max) NULL,
	[OncLastUpdatedUserCode__c] [nvarchar](max) NULL,
	[CenterID__c] [nvarchar](max) NULL,
	[SiebelID__c] [nvarchar](max) NULL,
	[LastProcessedDate__c] [datetime2](7) NULL,
	[ToBeProcessed__c] [bit] NULL,
	[LastModifiedBy__c] [nvarchar](max) NULL,
	[FullName__c] [nvarchar](max) NULL,
	[RecentCampaignID__c] [nvarchar](max) NULL,
	[SCName__c] [nvarchar](max) NULL,
	[Notes__c] [nvarchar](max) NULL,
	[OncBatchProcessedDate__c] [nvarchar](max) NULL,
	[OncMinsSinceModified__c] [decimal](38, 18) NULL,
	[PCName__c] [nvarchar](max) NULL,
	[NoShows__c] [decimal](38, 18) NULL,
	[ShowNoSale__c] [decimal](38, 18) NULL,
	[ShowSales__c] [decimal](38, 18) NULL,
	[SCMatch__c] [nvarchar](max) NULL,
	[LastModifiedDate__c] [datetime2](7) NULL,
	[CampaignMatch__c] [nvarchar](max) NULL,
	[et4ae5__HasOptedOutOfMobile__c] [bit] NULL,
	[et4ae5__Mobile_Country_Code__c] [nvarchar](max) NULL,
	[CaseSafeID__c] [nvarchar](max) NULL,
	[Reschedules__c] [decimal](38, 18) NULL,
	[ReportCreateDate__c] [datetime2](7) NULL,
	[OpenAppointCount__c] [decimal](38, 18) NULL,
	[GCLID__c] [nvarchar](max) NULL,
	[Initial_Task_ID__c] [nvarchar](max) NULL,
	[State_Text__c] [nvarchar](max) NULL,
	[StatusMatch__c] [nvarchar](max) NULL,
	[SourceTest__c] [nvarchar](max) NULL,
	[UnbouncePageID__c] [nvarchar](max) NULL,
	[Source__c] [nvarchar](max) NULL,
	[SubmitterIP__c] [nvarchar](max) NULL,
	[UnbounceSubmissionTime__c] [nvarchar](max) NULL,
	[UnbouncePageVariant__c] [nvarchar](max) NULL,
	[UnbounceSubmissionDate__c] [datetime2](7) NULL,
	[leadcap__Facebook_Lead_ID__c] [nvarchar](max) NULL,
	[HairLossOrVolume__c] [nvarchar](max) NULL,
	[LeadCreationDate__c] [datetime2](7) NULL,
	[Consultation_Form__c] [nvarchar](max) NULL,
	[Active_User_Owner__c] [bit] NULL,
	[PostalCodeClean__c] [nvarchar](max) NULL,
	[BosleySFID__c] [nvarchar](max) NULL,
	[CancelAppointCount__c] [decimal](38, 18) NULL,
	[CompletionDate__c] [datetime2](7) NULL,
	[Current_Task_ActivityDate__c] [datetime2](7) NULL,
	[Current_Task_ActivityType__c] [nvarchar](max) NULL,
	[Current_Task_StartTime__c] [nvarchar](max) NULL,
	[Last_Activity__c] [datetime2](7) NULL,
	[Last_Task_ActivityDate__c] [datetime2](7) NULL,
	[Last_Task_Result__c] [nvarchar](max) NULL,
	[RecentSourceCode__c] [nvarchar](max) NULL,
	[ConsultationFormURL__c] [nvarchar](max) NULL,
	[ReferralCode__c] [nvarchar](max) NULL,
	[ReferralCodeExpireDate__c] [datetime2](7) NULL,
	[PreferredAppointmentTime__c] [nvarchar](max) NULL,
	[HardCopyPreferred__c] [bit] NULL,
	[SFMCExempt__c] [bit] NULL,
	[Lead_Activity_Status__c] [nvarchar](max) NULL,
	[Service_Territory__c] [nvarchar](max) NULL,
	[Allow_Virtual_Center__c] [bit] NULL,
	[HWFormID__c] [nvarchar](max) NULL,
	[Text_Reminer_Opt_In__c] [bit] NULL,
	[DB_Created_Date_without_Time__c] [datetime2](7) NULL,
	[DB_Lead_Age__c] [decimal](38, 18) NULL,
	[lead_age__c] [decimal](38, 18) NULL,
	[Normalized_phone_number__c] [nvarchar](max) NULL,
	[MobilePhone_Number_Normalized__c] [nvarchar](max) NULL,
	[DNC_Validation__c] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
