/****** Object:  Table [dbo].[SFL_NEW_ServiceAppointment]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_NEW_ServiceAppointment](
	[Id] [nvarchar](18) NULL,
	[OwnerId] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[AppointmentNumber] [nvarchar](765) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[ParentRecordId] [nvarchar](18) NULL,
	[ParentRecordType] [nvarchar](150) NULL,
	[AccountId] [nvarchar](18) NULL,
	[WorkTypeId] [nvarchar](18) NULL,
	[ContactId] [nvarchar](18) NULL,
	[Street] [nvarchar](765) NULL,
	[City] [nvarchar](120) NULL,
	[State] [nvarchar](240) NULL,
	[PostalCode] [nvarchar](60) NULL,
	[Country] [nvarchar](240) NULL,
	[StateCode] [nvarchar](765) NULL,
	[CountryCode] [nvarchar](765) NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](18, 15) NULL,
	[GeocodeAccuracy] [nvarchar](765) NULL,
	[Description] [nvarchar](max) NULL,
	[EarliestStartTime] [datetime2](0) NULL,
	[DueDate] [datetime2](0) NULL,
	[Duration] [decimal](18, 2) NULL,
	[ArrivalWindowStartTime] [datetime2](0) NULL,
	[ArrivalWindowEndTime] [datetime2](0) NULL,
	[Status] [nvarchar](765) NULL,
	[SchedStartTime] [datetime2](0) NULL,
	[SchedEndTime] [datetime2](0) NULL,
	[ActualStartTime] [datetime2](0) NULL,
	[ActualEndTime] [datetime2](0) NULL,
	[ActualDuration] [decimal](18, 2) NULL,
	[DurationType] [nvarchar](765) NULL,
	[DurationInMinutes] [decimal](18, 2) NULL,
	[ServiceTerritoryId] [nvarchar](18) NULL,
	[Subject] [nvarchar](765) NULL,
	[ParentRecordStatusCategory] [nvarchar](765) NULL,
	[StatusCategory] [nvarchar](765) NULL,
	[ServiceNote] [nvarchar](max) NULL,
	[AppointmentType] [nvarchar](765) NULL,
	[Email] [nvarchar](240) NULL,
	[Phone] [nvarchar](120) NULL,
	[CancellationReason] [nvarchar](765) NULL,
	[AdditionalInformation] [nvarchar](765) NULL,
	[Comments] [nvarchar](765) NULL,
	[Confirmer_User__c] [nvarchar](18) NULL,
	[External_Id__c] [nvarchar](765) NULL,
	[Meeting_Platform_Id__c] [nvarchar](765) NULL,
	[Meeting_Platform__c] [nvarchar](765) NULL,
	[Service_Appointment__c] [nvarchar](18) NULL,
	[Work_Type_Group__c] [nvarchar](18) NULL,
	[Appointment_Type__c] [nvarchar](3900) NULL,
	[Scheduled_End_Text__c] [nvarchar](765) NULL,
	[Scheduled_Start_Text__c] [nvarchar](765) NULL,
	[Agent_Appointment_Link__c] [nvarchar](765) NULL,
	[Automatic_Trigger__c] [bit] NULL,
	[Guest_Appointment_Link__c] [nvarchar](765) NULL,
	[Meeting_Point__c] [bit] NULL,
	[Video_Session_Mode__c] [nvarchar](765) NULL,
	[Agent_Link__c] [nvarchar](3900) NULL,
	[Guest_Link__c] [nvarchar](3900) NULL,
	[Is_Video_Appointment__c] [bit] NULL,
	[Sightcall_Appointment__c] [bit] NULL,
	[Test_date__c] [datetime2](0) NULL,
	[Are_you_sure_confirm__c] [nvarchar](3900) NULL,
	[Appointment_Start_Date__c] [datetime2](0) NULL,
	[Appointment_End_Date__c] [datetime2](0) NULL,
	[Lead__c] [nvarchar](18) NULL,
	[Person_Account__c] [nvarchar](18) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
