/****** Object:  Table [dbo].[SLF_Prod_WorkType]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_WorkType](
	[BLOCKTIMEAFTERAPPOINTMENT] [varchar](max) NULL,
	[BLOCKTIMEAFTERUNIT] [varchar](max) NOT NULL,
	[BLOCKTIMEBEFOREAPPOINTMENT] [varchar](max) NULL,
	[BLOCKTIMEBEFOREUNIT] [varchar](max) NOT NULL,
	[CREATEDBYID] [varchar](max) NOT NULL,
	[CREATEDDATE] [varchar](max) NOT NULL,
	[CURRENCYISOCODE] [varchar](max) NOT NULL,
	[DEFAULTAPPOINTMENTTYPE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[DURATIONINMINUTES] [varchar](max) NOT NULL,
	[DURATIONTYPE] [varchar](max) NOT NULL,
	[ESTIMATEDDURATION] [varchar](max) NOT NULL,
	[ID] [varchar](max) NOT NULL,
	[ISDELETED] [varchar](max) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](max) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](max) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](max) NULL,
	[LASTVIEWEDDATE] [varchar](max) NULL,
	[NAME] [varchar](max) NOT NULL,
	[OPERATINGHOURSID] [varchar](max) NULL,
	[OWNERID] [varchar](max) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](max) NOT NULL,
	[TIMEFRAMEENDUNIT] [varchar](max) NOT NULL,
	[TIMEFRAMESTARTUNIT] [varchar](max) NOT NULL,
	[TIMEFRAMEEND] [varchar](max) NULL,
	[TIMEFRAMESTART] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
