/****** Object:  Table [dbo].[SLF_Prod_ServiceResources]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_ServiceResources](
	[ACCOUNTID] [varchar](250) NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[ID] [varchar](250) NOT NULL,
	[ISACTIVE] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[LOCATIONID] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[OWNERID] [varchar](250) NOT NULL,
	[RELATEDRECORDID] [varchar](250) NOT NULL,
	[RESOURCETYPE] [varchar](250) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
