/****** Object:  Table [dbo].[SLF_Final_TimeSlot]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_TimeSlot](
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[DAYOFWEEK] [varchar](250) NOT NULL,
	[ENDTIME] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[ISDELETED] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[MAXAPPOINTMENTS] [varchar](250) NOT NULL,
	[OPERATINGHOURSID] [varchar](250) NOT NULL,
	[STARTTIME] [varchar](250) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL,
	[TIMESLOTNUMBER] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[WORKTYPEGROUPID] [varchar](250) NULL,
	[OPERATINGHOURSID_UAT] [varchar](250) NULL,
	[ID_UAT] [varchar](250) NULL,
	[external_id_c] [varchar](250) NULL
) ON [PRIMARY]
GO
