/****** Object:  Table [dbo].[SFL_NEW_Contact_INT]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_NEW_Contact_INT](
	[Id] [nvarchar](50) NOT NULL,
	[AccountId] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
