/****** Object:  Table [dbo].[SLF_Final_ServiceAppointment_Delta_First]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_ServiceAppointment_Delta_First](
	[ActualDuration] [nvarchar](100) NULL,
	[ActualEndTime] [nvarchar](4000) NOT NULL,
	[ActualStartTime] [nvarchar](4000) NOT NULL,
	[AdditionalInformation] [nvarchar](100) NULL,
	[AppointmentType] [varchar](7) NOT NULL,
	[ArrivalWindowEndTime] [nvarchar](4000) NOT NULL,
	[ArrivalWindowStartTime] [nvarchar](4000) NOT NULL,
	[CancellationReason] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Comments] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[CreatedById] [nvarchar](50) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](50) NULL,
	[Description] [nvarchar](1) NULL,
	[DueDate] [nvarchar](4000) NOT NULL,
	[Duration] [nvarchar](1) NULL,
	[DurationInMinutes] [nvarchar](1) NULL,
	[DurationType] [nvarchar](50) NULL,
	[EarliestStartTime] [nvarchar](4000) NOT NULL,
	[EmaiL] [nvarchar](100) NULL,
	[External_Id__c] [nvarchar](50) NULL,
	[GeocodeAccuracy] [nvarchar](50) NULL,
	[Id] [varchar](1) NOT NULL,
	[IsDeleted] [bit] NULL,
	[LastReferencedDate] [nvarchar](4000) NOT NULL,
	[LastViewedDate] [nvarchar](4000) NOT NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[ParentRecordId] [nvarchar](50) NULL,
	[ParentRecordStatusCategory] [nvarchar](1) NULL,
	[ParentRecordType] [varchar](7) NOT NULL,
	[Phone] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[SchedEndTime] [nvarchar](4000) NOT NULL,
	[SchedStartTime] [nvarchar](4000) NOT NULL,
	[ServiceNote] [nvarchar](1) NULL,
	[ServiceTerritoryId] [nvarchar](50) NULL,
	[Service_Appointment__c] [varchar](1) NOT NULL,
	[State] [nvarchar](100) NULL,
	[StateCode] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[Street] [nvarchar](100) NULL,
	[Subject] [nvarchar](1) NULL,
	[WorkTypeId] [nvarchar](250) NULL,
	[Work_Type_Group__c] [nvarchar](250) NULL,
	[FlagPersonLead] [int] NOT NULL
) ON [PRIMARY]
GO
