/****** Object:  Table [dbo].[SFL_NEW_PersonAccount_INT]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_NEW_PersonAccount_INT](
	[Id] [nvarchar](50) NOT NULL,
	[PersonContactId] [nvarchar](50) NOT NULL,
	[External_Id_c] [nvarchar](50) NULL
) ON [PRIMARY]
GO
