/****** Object:  Table [dbo].[SLF_NEW_Service_Territory]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Service_Territory](
	[ADDRESS] [nvarchar](1) NULL,
	[ALTERNATIVE_PHONE_C] [nvarchar](1) NULL,
	[AREAMANAGER_C] [nvarchar](50) NULL,
	[AREA_C] [nvarchar](50) NULL,
	[ASSISTANTMANAGER_C] [nvarchar](50) NULL,
	[BACKLINEPHONE_C] [nvarchar](50) NULL,
	[BESTTRESSEDOFFERED_C] [bit] NULL,
	[CALLER_ID_C] [nvarchar](1) NULL,
	[CENTERALERT_C] [nvarchar](1) NULL,
	[CENTERNUMBER_C] [int] NULL,
	[CENTEROWNER_C] [nvarchar](50) NULL,
	[CENTERTYPE_C] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[COMPANYID_C] [nvarchar](50) NULL,
	[COMPANY_C] [nvarchar](50) NULL,
	[CONFIRMATIONCALLERIDENGLISH_C] [nvarchar](1) NULL,
	[CONFIRMATIONCALLERIDFRENCH_C] [nvarchar](1) NULL,
	[CONFIRMATIONCALLERIDSPANISH_C] [nvarchar](1) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRYCODE] [nvarchar](50) NULL,
	[CREATEDBYID] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime2](7) NULL,
	[CURRENCYISOCODE] [nvarchar](50) NULL,
	[CUSTOMERSERVICELINE_C] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](1) NULL,
	[DISPLAYNAME_C] [nvarchar](50) NULL,
	[ENGLISH_DIRECTIONS_C] [nvarchar](max) NULL,
	[EXTERNAL_ID_C] [nvarchar](50) NULL,
	[FRENCH_DIRECTIONS_C] [nvarchar](max) NULL,
	[GEOCODEACCURACY] [nvarchar](50) NULL,
	[ID] [nvarchar](50) NULL,
	[IMAGECONSULTANT_C] [nvarchar](100) NULL,
	[ISACTIVE] [bit] NULL,
	[ISDELETED] [bit] NULL,
	[LASTMODIFIEDBYID] [nvarchar](50) NULL,
	[LASTMODIFIEDDATE] [datetime2](7) NULL,
	[LASTREFERENCEDDATE] [datetime2](7) NULL,
	[LASTVIEWEDDATE] [datetime2](7) NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
	[MDPOFFERED_C] [bit] NULL,
	[MDPPERFORMED_C] [bit] NULL,
	[MAIN_PHONE_C] [nvarchar](1) NULL,
	[MANAGERNAME_C] [nvarchar](50) NULL,
	[MAP_SHORT_LINK_C] [nvarchar](1) NULL,
	[MGRCELLPHONE_C] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[OFFERPRP_C] [bit] NULL,
	[OPERATINGHOURSID] [nvarchar](50) NULL,
	[OTHERCALLERIDENGLISH_C] [nvarchar](1) NULL,
	[OTHERCALLERIDFRENCH_C] [nvarchar](1) NULL,
	[OTHERCALLERIDSPANISH_C] [nvarchar](1) NULL,
	[OUTBOUNDDIALINGALLOWED_C] [bit] NULL,
	[OWNERID] [nvarchar](50) NULL,
	[PARENTTERRITORYID] [nvarchar](1) NULL,
	[POSTALCODE] [nvarchar](50) NULL,
	[PROFILECODE_C] [nvarchar](50) NULL,
	[REGION_C] [nvarchar](50) NULL,
	[SPANISH_DIRECTIONS_C] [nvarchar](max) NULL,
	[STATE] [nvarchar](50) NULL,
	[STATECODE] [nvarchar](50) NULL,
	[STATUS_C] [nvarchar](50) NULL,
	[STREET] [nvarchar](100) NULL,
	[SUPPORTED_APPOINTMENT_TYPES_C] [nvarchar](50) NULL,
	[SURGERYOFFERED_C] [bit] NULL,
	[SYSTEMMODSTAMP] [datetime2](7) NULL,
	[TIMEZONE_C] [nvarchar](50) NULL,
	[TOPLEVELTERRITORYID] [nvarchar](50) NULL,
	[TYPE_C] [nvarchar](50) NULL,
	[TYPICALINTERRITORYTRAVELTIME] [nvarchar](1) NULL,
	[VIRTUAL_C] [bit] NULL,
	[WEBPHONE_C] [nvarchar](50) NULL,
	[WEB_PHONE_C] [nvarchar](1) NULL,
	[X1APPTPERSLOT_C] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
