/****** Object:  Table [dbo].[SLF_Final_WorkType]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_WorkType](
	[BlockTimeAfterAppointment] [varchar](250) NULL,
	[BlockTimeAfterUnit] [varchar](250) NOT NULL,
	[BlockTimeBeforeAppointment] [varchar](250) NULL,
	[BlockTimeBeforeUnit] [varchar](250) NOT NULL,
	[CreatedById] [varchar](250) NOT NULL,
	[CreatedDate] [varchar](250) NOT NULL,
	[CurrencyIsoCode] [varchar](250) NOT NULL,
	[DefaultAppointmentType] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[DurationInMinutes] [varchar](250) NOT NULL,
	[DurationType] [varchar](250) NOT NULL,
	[EstimatedDuration] [varchar](250) NOT NULL,
	[External_Id__c] [varchar](250) NOT NULL,
	[ID] [varchar](1) NOT NULL,
	[IsDeleted] [varchar](250) NOT NULL,
	[LastModifiedById] [varchar](250) NOT NULL,
	[LastModifiedDate] [varchar](250) NOT NULL,
	[LastReferencedDate] [varchar](250) NULL,
	[LastViewedDate] [varchar](250) NULL,
	[Name] [varchar](250) NOT NULL,
	[OperatingHoursId] [varchar](250) NULL,
	[OwnerId] [varchar](250) NOT NULL,
	[SystemModstamp] [varchar](250) NOT NULL,
	[TimeFrameEndUnit] [varchar](250) NOT NULL,
	[TimeFrameStartUnit] [varchar](250) NOT NULL,
	[TimeframeEnd] [varchar](250) NULL,
	[TimeframeStart] [varchar](250) NULL
) ON [PRIMARY]
GO
