/****** Object:  Table [dbo].[SLF_Prod_Rebuttal]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Rebuttal](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[RecordTypeId] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[Description__c] [nvarchar](max) NULL,
	[Priority__c] [decimal](38, 18) NULL,
	[Keywords__c] [nvarchar](max) NULL,
	[Text__c] [nvarchar](max) NULL,
	[English__c] [bit] NULL,
	[Spanish__c] [bit] NULL,
	[French__c] [bit] NULL,
	[Male__c] [bit] NULL,
	[Female__c] [bit] NULL,
	[NotAvailableGender__c] [bit] NULL,
	[Active__c] [bit] NULL,
	[RebuttalViewCount__c] [decimal](38, 18) NULL,
	[Rebuttal__c] [nvarchar](max) NULL,
	[User__c] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL,
	[SortOrder__c] [decimal](38, 18) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
