/****** Object:  Table [dbo].[SLF_NEW_Campaign_Desktop]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Campaign_Desktop](
	[Id] [varchar](1) NOT NULL,
	[IsActive] [bit] NULL,
	[ActualCost] [decimal](18, 0) NULL,
	[BudgetedCost] [decimal](18, 0) NULL,
	[Channel__c] [nvarchar](765) NULL,
	[Company__c] [nvarchar](765) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[IsDeleted] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[DialerMiscCode__c] [nvarchar](3900) NULL,
	[EndDate] [nvarchar](4000) NULL,
	[ExpectedResponse] [decimal](10, 2) NULL,
	[ExpectedRevenue] [decimal](18, 0) NULL,
	[Language__c] [nvarchar](765) NULL,
	[Name] [nvarchar](243) NOT NULL,
	[OwnerId] [nvarchar](18) NULL,
	[ParentId] [nvarchar](18) NULL,
	[Promo_Code__c] [nvarchar](18) NULL,
	[RecordTypeId] [varchar](18) NOT NULL,
	[CampaignMemberRecordTypeId] [nvarchar](18) NULL,
	[StartDate] [nvarchar](4000) NULL,
	[Status] [nvarchar](765) NULL,
	[TollFreeNumber__c] [varchar](1) NOT NULL,
	[Toll_Free_Mobile__c] [varchar](1) NOT NULL,
	[Toll_Free_Desktop__c] [nvarchar](18) NULL,
	[Type] [nvarchar](765) NULL,
	[Format__c] [nvarchar](765) NULL,
	[Location__c] [nvarchar](765) NULL,
	[Media__c] [nvarchar](765) NULL,
	[Audience__c] [nvarchar](765) NULL,
	[SourceCode_L__c] [nvarchar](152) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
