/****** Object:  StoredProcedure [dbo].[LowerEmail]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LowerEmail](@SchemaName Varchar(100),@TableName Varchar(100), @ColumnName varchar(100))
AS
BEGIN

DECLARE @SQL VARCHAR(MAX)

SELECT @SQL = COALESCE(@SQL + ',[', '[') + COLUMN_NAME + ']=LOWER([' + COLUMN_NAME + ']))'
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = @SchemaName AND TABLE_NAME = @TableName AND COLUMN_NAME = @ColumnName

SET @SQL = 'UPDATE [' + @SchemaName + '].[' + @TableName + '] SET ' + @SQL

EXEC (@SQL)

END
GO
