/****** Object:  Table [dbo].[SLF_Final_ResourceAbsence]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_ResourceAbsence](
	[ABSENCENUMBER] [varchar](250) NOT NULL,
	[ADDRESS] [varchar](250) NULL,
	[CITY] [varchar](250) NULL,
	[COUNTRY] [varchar](250) NOT NULL,
	[COUNTRYCODE] [varchar](250) NOT NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[END] [varchar](250) NOT NULL,
	[GEOCODEACCURACY] [varchar](250) NULL,
	[ID] [varchar](250) NOT NULL,
	[ISDELETED] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [nvarchar](50) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[LATITUDE] [varchar](250) NULL,
	[LONGITUDE] [varchar](250) NULL,
	[POSTALCODE] [varchar](250) NULL,
	[RESOURCEID] [varchar](250) NOT NULL,
	[START] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NULL,
	[STATECODE] [varchar](250) NULL,
	[STREET] [varchar](250) NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
