/****** Object:  Table [dbo].[SLF_Final_User]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_User](
	[Id] [int] NULL,
	[AboutMe] [nvarchar](max) NULL,
	[AccountId] [nvarchar](max) NULL,
	[IsActive] [varchar](250) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ReceivesAdminInfoEmails] [bit] NULL,
	[Alias] [nvarchar](max) NULL,
	[ForecastEnabled] [bit] NULL,
	[UserPermissionsMobileUser] [bit] NULL,
	[UserPreferencesApexPagesDeveloperMode] [bit] NULL,
	[UserPermissionsCallCenterAutoLogin] [bit] NULL,
	[EmailPreferencesAutoBcc] [bit] NULL,
	[EmailPreferencesAutoBccStayInTouch] [bit] NULL,
	[UserPermissionsAvantgoUser] [bit] NULL,
	[UserPreferencesCacheDiagnostics] [bit] NULL,
	[CallCenterId] [nvarchar](max) NULL,
	[Chat_Display_Name__c] [nvarchar](max) NULL,
	[Chat_Photo_Small__c] [nvarchar](max) NULL,
	[UserPermissionsLiveAgentUser] [bit] NULL,
	[DigestFrequency] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ContactId] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[DefaultCurrencyIsoCode] [nvarchar](max) NULL,
	[DefaultGroupNotificationFrequency] [nvarchar](max) NULL,
	[DelegatedApproverId] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[DialerID__c] [nvarchar](max) NULL,
	[UserPreferencesDisableAllFeedsEmail] [bit] NULL,
	[UserPreferencesDisableBookmarkEmail] [bit] NULL,
	[UserPreferencesDisableChangeCommentEmail] [bit] NULL,
	[UserPreferencesDisableEndorsementEmail] [bit] NULL,
	[UserPreferencesDisableFileShareNotificationsForApi] [bit] NULL,
	[UserPreferencesDisableFollowersEmail] [bit] NULL,
	[UserPreferencesDisableLaterCommentEmail] [bit] NULL,
	[UserPreferencesDisableLikeEmail] [bit] NULL,
	[UserPreferencesDisableMentionsPostEmail] [bit] NULL,
	[UserPreferencesDisableMessageEmail] [bit] NULL,
	[UserPreferencesDisableProfilePostEmail] [bit] NULL,
	[UserPreferencesDisableSharePostEmail] [bit] NULL,
	[UserPreferencesDisCommentAfterLikeEmail] [bit] NULL,
	[UserPreferencesDisMentionsCommentEmail] [bit] NULL,
	[UserPreferencesDisProfPostCommentEmail] [bit] NULL,
	[Division] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[EmailEncodingKey] [nvarchar](max) NULL,
	[SenderEmail] [nvarchar](max) NULL,
	[SenderName] [nvarchar](max) NULL,
	[Signature] [nvarchar](max) NULL,
	[EmployeeNumber] [nvarchar](max) NULL,
	[UserPreferencesEnableAutoSubForFeeds] [bit] NULL,
	[Extension] [nvarchar](max) NULL,
	[External_Id__c] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[UserPermissionsInteractionUser] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[GeocodeAccuracy] [nvarchar](max) NULL,
	[IsProfilePhotoActive] [bit] NULL,
	[UserPreferencesHideBiggerPhotoCallout] [bit] NULL,
	[UserPreferencesHideChatterOnboardingSplash] [bit] NULL,
	[UserPreferencesHideCSNDesktopTask] [bit] NULL,
	[UserPreferencesHideCSNGetChatterMobileTask] [bit] NULL,
	[UserPreferencesHideEndUserOnboardingAssistantModal] [bit] NULL,
	[UserPreferencesHideLightningMigrationModal] [bit] NULL,
	[UserPreferencesHideS1BrowserUI] [bit] NULL,
	[UserPreferencesHideSecondChatterOnboardingSplash] [bit] NULL,
	[UserPreferencesHideSfxWelcomeMat] [bit] NULL,
	[ReceivesInfoEmails] [bit] NULL,
	[IsPortalEnabled] [bit] NULL,
	[UserPermissionsKnowledgeUser] [bit] NULL,
	[LanguageLocaleKey] [nvarchar](max) NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastName] [nvarchar](max) NULL,
	[LastPasswordChangeDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[Latitude] [decimal](38, 18) NULL,
	[UserPreferencesLightningExperiencePreferred] [bit] NULL,
	[LocaleSidKey] [nvarchar](max) NULL,
	[Longitude] [decimal](38, 18) NULL,
	[ManagerId] [nvarchar](max) NULL,
	[UserPermissionsMarketingUser] [bit] NULL,
	[MiddleName] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[CommunityNickname] [nvarchar](max) NULL,
	[OfflineTrialExpirationDate] [datetime2](7) NULL,
	[UserPermissionsOfflineUser] [bit] NULL,
	[UserPreferencesPathAssistantCollapsed] [bit] NULL,
	[Phone] [nvarchar](max) NULL,
	[SmallPhotoUrl] [nvarchar](max) NULL,
	[PortalRole] [nvarchar](max) NULL,
	[UserPreferencesPreviewLightning] [bit] NULL,
	[ProfileId] [nvarchar](max) NULL,
	[UserRoleId] [nvarchar](max) NULL,
	[OfflinePdaTrialExpirationDate] [datetime2](7) NULL,
	[UserPermissionsSFContentUser] [bit] NULL,
	[FederationIdentifier] [nvarchar](max) NULL,
	[UserPermissionsSupportUser] [bit] NULL,
	[UserPreferencesShowCityToExternalUsers] [bit] NULL,
	[UserPreferencesShowCityToGuestUsers] [bit] NULL,
	[UserPreferencesShowCountryToExternalUsers] [bit] NULL,
	[UserPreferencesShowCountryToGuestUsers] [bit] NULL,
	[UserPreferencesShowEmailToExternalUsers] [bit] NULL,
	[UserPreferencesShowEmailToGuestUsers] [bit] NULL,
	[UserPreferencesShowFaxToExternalUsers] [bit] NULL,
	[UserPreferencesShowFaxToGuestUsers] [bit] NULL,
	[UserPreferencesShowManagerToExternalUsers] [bit] NULL,
	[UserPreferencesShowManagerToGuestUsers] [bit] NULL,
	[UserPreferencesShowMobilePhoneToExternalUsers] [bit] NULL,
	[UserPreferencesShowMobilePhoneToGuestUsers] [bit] NULL,
	[UserPreferencesShowPostalCodeToExternalUsers] [bit] NULL,
	[UserPreferencesShowPostalCodeToGuestUsers] [bit] NULL,
	[UserPreferencesShowProfilePicToGuestUsers] [bit] NULL,
	[UserPreferencesShowStateToExternalUsers] [bit] NULL,
	[UserPreferencesShowStateToGuestUsers] [bit] NULL,
	[UserPreferencesShowStreetAddressToExternalUsers] [bit] NULL,
	[UserPreferencesShowStreetAddressToGuestUsers] [bit] NULL,
	[UserPreferencesShowTitleToExternalUsers] [bit] NULL,
	[UserPreferencesShowTitleToGuestUsers] [bit] NULL,
	[UserPreferencesShowWorkPhoneToExternalUsers] [bit] NULL,
	[UserPreferencesShowWorkPhoneToGuestUsers] [bit] NULL,
	[UserPreferencesSortFeedByComment] [bit] NULL,
	[State] [nvarchar](max) NULL,
	[StateCode] [nvarchar](max) NULL,
	[StayInTouchNote] [nvarchar](max) NULL,
	[StayInTouchSignature] [nvarchar](max) NULL,
	[StayInTouchSubject] [nvarchar](max) NULL,
	[EmailPreferencesStayInTouchReminder] [bit] NULL,
	[Street] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[TimeZoneSidKey] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[BannerPhotoUrl] [nvarchar](max) NULL,
	[FullPhotoUrl] [nvarchar](max) NULL,
	[MediumPhotoUrl] [nvarchar](max) NULL,
	[BadgeText] [nvarchar](max) NULL,
	[UserType] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
