/****** Object:  Table [dbo].[SLF_Prod_Roles]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Roles](
	[RoleID] [varchar](50) NULL,
	[AccountID] [varchar](50) NULL,
	[CaseAccessLevelforAccountOwner] [varchar](50) NULL,
	[ContactAccessLevelforAccountOwner] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[DeveloperName] [varchar](50) NULL,
	[LastModifiedByID] [varchar](50) NULL,
	[LastModifiedDate] [varchar](50) NULL,
	[MayForecastManagerShare] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[OpportunityAccessLevelforAccountOwner] [varchar](50) NULL,
	[ParentRoleID] [varchar](50) NULL,
	[PortalRole] [varchar](50) NULL,
	[PortalType] [varchar](50) NULL,
	[SystemModstamp] [varchar](50) NULL,
	[UserID ] [varchar](50) NULL
) ON [PRIMARY]
GO
