/****** Object:  Table [dbo].[SCR_Campaign_20200830]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCR_Campaign_20200830](
	[ID] [varchar](50) NULL,
	[Campaign_Name] [varchar](100) NULL,
	[Media] [varchar](50) NULL,
	[Source_Code] [varchar](50) NULL,
	[Date_Created] [datetime2](7) NULL
) ON [PRIMARY]
GO
