/****** Object:  Table [dbo].[SLF_Final_Script]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Script](
	[Id] [varchar](1) NOT NULL,
	[Active__c] [bit] NULL,
	[Category__c] [nvarchar](max) NULL,
	[Company__c] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DISC__c] [nvarchar](max) NULL,
	[External_ID__c] [nvarchar](max) NULL,
	[Female__c] [bit] NULL,
	[Language__c] [nvarchar](max) NULL,
	[Male__c] [bit] NULL,
	[NotAvailableGender__c] [bit] NULL,
	[NotAvailableLanguage__c] [bit] NULL,
	[OwnerId] [nvarchar](max) NULL,
	[ScriptDetails__c] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Upsert] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
