/****** Object:  Table [dbo].[SFL_UAT_ZipcodesRAW]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_UAT_ZipcodesRAW](
	[CurrencyIsoCode] [nvarchar](50) NULL,
	[Id] [nvarchar](50) NULL,
	[External_Id_c] [nvarchar](50) NULL,
	[IsDeleted] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[RowNum] [int] NULL
) ON [PRIMARY]
GO
