/****** Object:  Table [dbo].[SLF_Prod_QuickText]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_QuickText](
	[Quick_Text_ID] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Channel] [nvarchar](50) NOT NULL,
	[Created_By_ID] [nvarchar](50) NOT NULL,
	[Created_Date] [nvarchar](50) NOT NULL,
	[Currency_ISO_Code] [nvarchar](50) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Last_Modified_By_ID] [nvarchar](50) NOT NULL,
	[Last_Modified_Date] [nvarchar](50) NOT NULL,
	[Last_Referenced_Date] [nvarchar](1) NULL,
	[Last_Viewed_Date] [nvarchar](1) NULL,
	[Message] [nvarchar](800) NOT NULL,
	[Owner_ID] [nvarchar](50) NOT NULL,
	[Quick_Text_Name] [nvarchar](100) NOT NULL,
	[System_Modstamp] [nvarchar](50) NOT NULL,
	[ID_UAT] [varchar](250) NULL,
	[ID_PROD] [varchar](250) NULL
) ON [PRIMARY]
GO
