/****** Object:  Table [dbo].[SFL_INT_ServiceAppointment]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_INT_ServiceAppointment](
	[EXTERNAL_ID_C] [nvarchar](50) NULL,
	[ID] [nvarchar](50) NULL,
	[PARENTRECORDID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
