/****** Object:  Table [dbo].[SLF_Prod_Profiles]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_Profiles](
	[Profile_ID] [varchar](250) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Column_3] [nvarchar](1) NULL,
	[Column_4] [nvarchar](1) NULL,
	[Column_5] [nvarchar](1) NULL,
	[Column_6] [nvarchar](1) NULL,
	[Column_7] [nvarchar](1) NULL,
	[Column_8] [nvarchar](1) NULL,
	[Column_9] [nvarchar](1) NULL,
	[Column_10] [nvarchar](1) NULL,
	[Column_11] [nvarchar](1) NULL,
	[Column_12] [nvarchar](1) NULL,
	[Column_13] [nvarchar](1) NULL,
	[Column_14] [nvarchar](1) NULL,
	[Column_15] [nvarchar](1) NULL,
	[Column_16] [nvarchar](1) NULL,
	[Column_17] [nvarchar](1) NULL,
	[Column_18] [nvarchar](1) NULL,
	[Column_19] [nvarchar](1) NULL,
	[Column_20] [nvarchar](1) NULL,
	[Column_21] [nvarchar](1) NULL,
	[Column_22] [nvarchar](1) NULL,
	[Column_23] [nvarchar](1) NULL,
	[Column_24] [nvarchar](1) NULL,
	[Column_25] [nvarchar](1) NULL,
	[Column_26] [nvarchar](1) NULL,
	[Column_27] [nvarchar](1) NULL,
	[Column_28] [nvarchar](1) NULL,
	[Column_29] [nvarchar](1) NULL,
	[Column_30] [nvarchar](1) NULL,
	[Column_31] [nvarchar](1) NULL,
	[Column_32] [nvarchar](1) NULL,
	[User_License_ID] [nvarchar](50) NOT NULL,
	[User_Type] [nvarchar](50) NOT NULL,
	[View_All_Data] [bit] NOT NULL,
	[View_All_Forecasts] [bit] NOT NULL,
	[View_All_Users] [bit] NOT NULL,
	[View_Content_in_Portals] [bit] NOT NULL,
	[View_Dashboards_in_Public_Folders] [bit] NOT NULL,
	[View_Data_Categories_in_Setup] [bit] NOT NULL,
	[View_Encrypted_Data] [bit] NOT NULL,
	[View_Event_Log_Files] [bit] NOT NULL,
	[View_Global_Header] [bit] NOT NULL,
	[View_Help_Link] [bit] NOT NULL,
	[View_My_Team_s_Dashboards] [bit] NOT NULL,
	[View_Reports_in_Public_Folders] [bit] NOT NULL,
	[View_Setup_and_Configuration] [bit] NOT NULL,
	[Weekly_Data_Export] [bit] NOT NULL
) ON [PRIMARY]
GO
