/****** Object:  Table [dbo].[Business_New_Users_PROD]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_New_Users_PROD](
	[Employee_Name_Last_Suffix_First_MI] [varchar](250) NOT NULL,
	[Job] [varchar](250) NOT NULL,
	[Employee_Email] [varchar](250) NOT NULL,
	[Org_Level_2] [varchar](250) NOT NULL,
	[Org_Level_2_Code] [varchar](250) NOT NULL,
	[Time_Zone] [varchar](250) NOT NULL,
	[new_role] [varchar](250) NULL,
	[new_profile] [varchar](250) NULL,
	[profileid] [varchar](250) NULL,
	[roleid] [varchar](250) NULL
) ON [PRIMARY]
GO
