/****** Object:  Table [dbo].[SLF_UAT2_Profiles]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_Profiles](
	[ProfileID] [text] NOT NULL,
	[AccessCustomMobileApps] [bit] NOT NULL,
	[AccesstoviewDataAssessment] [bit] NOT NULL,
	[ActivateContracts] [bit] NOT NULL,
	[ActivateOrders] [bit] NOT NULL,
	[AllowInclusionofCodeSnippetsfromUI] [bit] NOT NULL,
	[AllowViewKnowledge] [bit] NOT NULL,
	[APIEnabled] [bit] NOT NULL,
	[ApiOnlyUser] [bit] NOT NULL,
	[AssignChatSkillstoUsers] [bit] NOT NULL,
	[AssignPermissionSets] [bit] NOT NULL,
	[AssignTopics] [bit] NOT NULL,
	[AuthorApex] [bit] NOT NULL,
	[BulkAPIHardDelete] [bit] NOT NULL,
	[CanApproveFeedPostandComment] [bit] NOT NULL,
	[ChatterInternalUser] [bit] NOT NULL,
	[ConfigureCustomRecommendations] [bit] NOT NULL,
	[ConnectOrganizationtoEnvironmentHub] [bit] NOT NULL,
	[ConvertLeads] [bit] NOT NULL,
	[CreateandCustomizeDashboards] [bit] NOT NULL,
	[CreateandCustomizeListViews] [bit] NOT NULL,
	[CreateandCustomizeReports] [bit] NOT NULL,
	[CreateandOwnNewChatterGroups] [bit] NOT NULL,
	[CreateandSetUpExperiences] [bit] NOT NULL,
	[CreateandUploadChangeSets] [bit] NOT NULL,
	[CreateAppExchangePackages] [bit] NOT NULL,
	[CreateContentDeliveries] [bit] NOT NULL,
	[CreatecustomBadgeDefinitions] [bit] NOT NULL,
	[CreateDashboardFolders] [bit] NOT NULL,
	[CreateLibraries] [bit] NOT NULL,
	[CreatePublicLinks] [bit] NOT NULL,
	[CreateReportFolders] [bit] NOT NULL,
	[CreateTopics] [bit] NOT NULL,
	[CreatedByID] [nvarchar](50) NOT NULL,
	[CreatedDate] [nvarchar](50) NOT NULL,
	[CustomizeApplication] [bit] NOT NULL,
	[DebugApex] [bit] NOT NULL,
	[DelegatedExternalUserAdministrator] [bit] NOT NULL,
	[DeleteActivatedContracts] [bit] NOT NULL,
	[DeleteTopics] [bit] NOT NULL,
	[DeployChangeSets] [bit] NOT NULL,
	[Description] [text] NULL,
	[DownloadAppExchangePackages] [bit] NOT NULL,
	[Drag_and_DropDashboardBuilder] [bit] NOT NULL,
	[EditActivatedOrders] [bit] NOT NULL,
	[EditCaseComments] [bit] NOT NULL,
	[EditEvents] [bit] NOT NULL,
	[EditHTMLTemplates] [bit] NOT NULL,
	[EditMyDashboards] [bit] NOT NULL,
	[EditMyReports] [bit] NOT NULL,
	[EditOpportunityProductSalesPrice] [bit] NOT NULL,
	[EditReadOnlyFields] [bit] NOT NULL,
	[EditTasks] [bit] NOT NULL,
	[EditTopics] [bit] NOT NULL,
	[EmailAdministration] [bit] NOT NULL,
	[Email_BasedIdentityVerificationOption] [bit] NOT NULL,
	[ExportReports] [bit] NOT NULL,
	[FilesConnectCloud] [bit] NOT NULL,
	[ImportCustomObjects] [bit] NOT NULL,
	[ImportLeads] [bit] NOT NULL,
	[ImportPersonalContacts] [bit] NOT NULL,
	[ImportSolutions] [bit] NOT NULL,
	[InsertSystemFieldValuesforChatterFeeds] [bit] NOT NULL,
	[InviteCustomersToChatter] [bit] NOT NULL,
	[KnowledgeOne] [bit] NOT NULL,
	[LastModifiedByID] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [nvarchar](50) NOT NULL,
	[LastReferencedDate] [nvarchar](1) NULL,
	[LastViewedDate] [nvarchar](1) NULL,
	[LightningExperienceUser] [bit] NOT NULL,
	[ManageAllPrivateReportsandDashboards] [bit] NOT NULL,
	[ManageArticles] [bit] NOT NULL,
	[ManageAuth_Providers] [bit] NOT NULL,
	[ManageBusinessHoursHolidays] [bit] NOT NULL,
	[ManageCallCenters] [bit] NOT NULL,
	[ManageCases] [bit] NOT NULL,
	[ManageCategories] [bit] NOT NULL,
	[ManageChatterMessagesandDirectMessages] [bit] NOT NULL,
	[ManageConnectedApps] [bit] NOT NULL,
	[ManageContentPermissions] [bit] NOT NULL,
	[ManageContentProperties] [bit] NOT NULL,
	[ManageCustomPermissions] [bit] NOT NULL,
	[ManageCustomReportTypes] [bit] NOT NULL,
	[ManageCustomerUsers] [bit] NOT NULL,
	[ManageDashboardsinPublicFolders] [bit] NOT NULL,
	[ManageDataCategories] [bit] NOT NULL,
	[ManageDataIntegrations] [bit] NOT NULL,
	[ManageDynamicDashboards] [bit] NOT NULL,
	[ManageEmailClientConfigurations] [bit] NOT NULL,
	[ManageEmailTemplates] [bit] NOT NULL,
	[ManageExperiences] [bit] NOT NULL,
	[ManageExternalUsers] [bit] NOT NULL,
	[ManageFlow] [bit] NOT NULL,
	[ManageInternalUsers] [bit] NOT NULL,
	[ManageIPAddresses] [bit] NOT NULL,
	[ManageKnowledgeArticleImport_Export] [bit] NOT NULL,
	[ManageLeads] [bit] NOT NULL,
	[ManageLetterheads] [bit] NOT NULL,
	[ManageLightningSync] [bit] NOT NULL,
	[ManageLoginAccessPolicies] [bit] NOT NULL,
	[ManageMacrosUsersCan_tUndo] [bit] NOT NULL,
	[ManageMobileConfigurations] [bit] NOT NULL,
	[ManageMulti_FactorAuthenticationinAPI] [bit] NOT NULL,
	[ManageMulti_FactorAuthenticationinUserInterface] [bit] NOT NULL,
	[ManagePasswordPolicies] [bit] NOT NULL,
	[ManageProfilesandPermissionSets] [bit] NOT NULL,
	[ManagePromotedSearchTerms] [bit] NOT NULL,
	[ManagePublicClassicEmailTemplates] [bit] NOT NULL,
	[ManagePublicDocuments] [bit] NOT NULL,
	[ManagePublishedSolutions] [bit] NOT NULL,
	[ManageQuotas] [bit] NOT NULL,
	[ManagerecordtypesandlayoutsforFiles] [bit] NOT NULL,
	[ManageReportingSnapshots] [bit] NOT NULL,
	[ManageReportsinPublicFolders] [bit] NOT NULL,
	[ManageRoles] [bit] NOT NULL,
	[ManageSalesforceCRMContent] [bit] NOT NULL,
	[ManageSalesforceKnowledge] [bit] NOT NULL,
	[ManageSandboxes] [bit] NOT NULL,
	[ManageSessionPermissionSetActivations] [bit] NOT NULL,
	[ManageSharing] [bit] NOT NULL,
	[ManageSynonyms] [bit] NOT NULL,
	[ManageTranslation] [bit] NOT NULL,
	[ManageUnlistedGroups] [bit] NOT NULL,
	[ManageUsers] [bit] NOT NULL,
	[MassEditsfromLists] [bit] NOT NULL,
	[MassEmail] [bit] NOT NULL,
	[MergeTopics] [bit] NOT NULL,
	[ModerateChatter] [bit] NOT NULL,
	[ModerateChatterMessagesinExperienceCloudSites] [bit] NOT NULL,
	[ModerateExperienceCloudSiteFeeds] [bit] NOT NULL,
	[ModerateExperienceCloudSiteUsers] [bit] NOT NULL,
	[ModerateFilesinExperienceCloudSites] [bit] NOT NULL,
	[ModifyAllData] [bit] NOT NULL,
	[Multi_FactorAuthenticationforAPILogins] [bit] NOT NULL,
	[Multi_FactorAuthenticationforUserInterfaceLogins] [bit] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[OverrideForecasts] [bit] NOT NULL,
	[PasswordNeverExpires] [bit] NOT NULL,
	[PortalSuperUser] [bit] NOT NULL,
	[ReportBuilder] [bit] NOT NULL,
	[RequireFlowUserFeatureLicense] [bit] NOT NULL,
	[ResetUserPasswordsandUnlockUsers] [bit] NOT NULL,
	[RunFlows] [bit] NOT NULL,
	[RunMacrosonMultipleRecords] [bit] NOT NULL,
	[RunReports] [bit] NOT NULL,
	[SalesConsole] [bit] NOT NULL,
	[ScheduleDashboards] [bit] NOT NULL,
	[ScheduleReports] [bit] NOT NULL,
	[SelectFilesfromSalesforce] [bit] NOT NULL,
	[Sendannouncementemails] [bit] NOT NULL,
	[SendEmail] [bit] NOT NULL,
	[SendEmailthroughExternalEmailService] [bit] NOT NULL,
	[SendOutboundMessages] [bit] NOT NULL,
	[SendStay_in_TouchRequests] [bit] NOT NULL,
	[SetAuditFieldsuponRecordCreation] [bit] NOT NULL,
	[ShareinternalKnowledgearticlesexternally] [bit] NOT NULL,
	[ShowCustomSidebarOnAllPages] [bit] NOT NULL,
	[SystemModstamp] [nvarchar](50) NOT NULL,
	[TransferCases] [bit] NOT NULL,
	[TransferLeads] [bit] NOT NULL,
	[TransferRecord] [bit] NOT NULL,
	[UpdateRecordswithInactiveOwners] [bit] NOT NULL,
	[UploadAppExchangePackages] [bit] NOT NULL,
	[UseEinsteinActivityCapture] [bit] NOT NULL,
	[UseIdentityConnect] [bit] NOT NULL,
	[UseIdentityFeatures] [bit] NOT NULL,
	[UseTeamReassignmentWizards] [bit] NOT NULL,
	[UserLicenseID] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[ViewAllData] [bit] NOT NULL,
	[ViewAllForecasts] [bit] NOT NULL,
	[ViewAllUsers] [bit] NOT NULL,
	[ViewContentinPortals] [bit] NOT NULL,
	[ViewDashboardsinPublicFolders] [bit] NOT NULL,
	[ViewDataCategoriesinSetup] [bit] NOT NULL,
	[ViewEncryptedData] [bit] NOT NULL,
	[ViewEventLogFiles] [bit] NOT NULL,
	[ViewGlobalHeader] [bit] NOT NULL,
	[ViewHelpLink] [bit] NOT NULL,
	[ViewMyTeam_sDashboards] [bit] NOT NULL,
	[ViewReportsinPublicFolders] [bit] NOT NULL,
	[ViewSetupandConfiguration] [bit] NOT NULL,
	[WeeklyDataExport] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
