/****** Object:  Table [dbo].[SLF_Final_Campaign_Member_INT]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Campaign_Member_INT](
	[Id] [varchar](1) NOT NULL,
	[CampaignId] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[CompanyOrAccount] [nvarchar](max) NULL,
	[ContactId] [nvarchar](50) NULL,
	[Country] [nvarchar](max) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [varchar](3) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DoNotCall] [bit] NULL,
	[Email] [nvarchar](max) NULL,
	[HasOptedOutOfEmail] [bit] NULL,
	[Fax] [nvarchar](max) NULL,
	[HasOptedOutOfFax] [bit] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[LastModifiedDate] [nvarchar](4000) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[LeadId] [nvarchar](max) NULL,
	[LeadSource] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Salutation] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Status] [varchar](9) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[FlagLeadPersonAcc] [int] NOT NULL,
	[RowNumber] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
