/****** Object:  Table [dbo].[SLF_NEW_LeadWithoutCampaign]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_LeadWithoutCampaign](
	[Id] [nvarchar](18) NULL
) ON [PRIMARY]
GO
