/****** Object:  Table [dbo].[SFL_INT_ServiceAppointment_initial]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFL_INT_ServiceAppointment_initial](
	[ACCOUNTID] [varchar](250) NOT NULL,
	[ACTUALDURATION] [varchar](250) NULL,
	[ACTUALENDTIME] [varchar](250) NULL,
	[ACTUALSTARTTIME] [varchar](250) NULL,
	[ADDITIONALINFORMATION] [varchar](250) NULL,
	[APPOINTMENTNUMBER] [varchar](250) NOT NULL,
	[APPOINTMENTTYPE] [varchar](250) NOT NULL,
	[APPOINTMENT_TYPE_C] [varchar](250) NOT NULL,
	[ARRIVALWINDOWENDTIME] [varchar](250) NOT NULL,
	[ARRIVALWINDOWSTARTTIME] [varchar](250) NULL,
	[CANCELLATIONREASON] [varchar](250) NULL,
	[CENTER_TYPE_C] [varchar](250) NULL,
	[CITY] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL,
	[CONTACTID] [varchar](250) NULL,
	[COUNTRY] [varchar](250) NULL,
	[COUNTRYCODE] [varchar](250) NULL,
	[CREATEDBYID] [varchar](250) NULL,
	[CREATEDDATE] [varchar](250) NULL,
	[CURRENCYISOCODE] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[DUEDATE] [varchar](250) NULL,
	[DURATION] [varchar](250) NULL,
	[DURATIONINMINUTES] [varchar](250) NULL,
	[DURATIONTYPE] [varchar](250) NULL,
	[EARLIESTSTARTTIME] [varchar](250) NULL,
	[EMAIL] [varchar](250) NULL,
	[EXTERNAL_ID_C] [varchar](250) NULL,
	[GEOCODEACCURACY] [varchar](250) NULL,
	[ID] [varchar](250) NULL,
	[ISANONYMOUSBOOKING] [varchar](250) NULL,
	[ISDELETED] [varchar](250) NULL,
	[LASTMODIFIEDBYID] [varchar](250) NULL,
	[LASTMODIFIEDDATE] [varchar](250) NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[LATITUDE] [varchar](250) NULL,
	[LONGITUDE] [varchar](250) NULL,
	[MEETING_PLATFORM_ID_C] [varchar](250) NULL,
	[MEETING_PLATFORM_C] [varchar](250) NULL,
	[OWNERID] [varchar](250) NULL,
	[PARENTRECORDID] [varchar](250) NULL,
	[PARENTRECORDSTATUSCATEGORY] [varchar](250) NULL,
	[PARENTRECORDTYPE] [varchar](250) NULL,
	[PHONE] [varchar](250) NULL,
	[POSTALCODE] [varchar](250) NULL,
	[SCHEDENDTIME] [varchar](250) NULL,
	[SCHEDSTARTTIME] [varchar](250) NULL,
	[SERVICENOTE] [varchar](250) NULL,
	[SERVICETERRITORYID] [varchar](250) NULL,
	[SERVICE_APPOINTMENT_C] [varchar](250) NULL,
	[STATE] [varchar](250) NULL,
	[STATECODE] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[STATUSCATEGORY] [varchar](250) NULL,
	[STREET] [varchar](250) NULL,
	[SUBJECT] [varchar](250) NULL,
	[SYSTEMMODSTAMP] [varchar](250) NULL,
	[WORKTYPEID] [varchar](250) NULL,
	[WORK_TYPE_GROUP_C] [varchar](250) NULL
) ON [PRIMARY]
GO
