/****** Object:  Table [dbo].[SLF_Prod_ServiceAppointment_DELTA_First]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_ServiceAppointment_DELTA_First](
	[Id] [nvarchar](50) NULL,
	[OwnerId] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[AppointmentNumber] [nvarchar](50) NULL,
	[CurrencyIsoCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](50) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](50) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[ParentRecordId] [nvarchar](50) NULL,
	[ParentRecordType] [nvarchar](50) NULL,
	[AccountId] [nvarchar](50) NULL,
	[WorkTypeId] [nvarchar](50) NULL,
	[ContactId] [nvarchar](50) NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[Country] [nvarchar](100) NULL,
	[StateCode] [nvarchar](100) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[GeocodeAccuracy] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Address_city] [nvarchar](50) NULL,
	[Address_country] [nvarchar](50) NULL,
	[Address_countryCode] [nvarchar](50) NULL,
	[Address_geocodeAccuracy] [nvarchar](50) NULL,
	[Address_latitude] [nvarchar](50) NULL,
	[Address_longitude] [nvarchar](50) NULL,
	[Address_postalCode] [nvarchar](50) NULL,
	[Address_state] [nvarchar](50) NULL,
	[Address_stateCode] [nvarchar](50) NULL,
	[Address_street] [nvarchar](100) NULL,
	[Description] [nvarchar](1) NULL,
	[EarliestStartTime] [datetime2](7) NULL,
	[DueDate] [datetime2](7) NULL,
	[Duration] [nvarchar](1) NULL,
	[ArrivalWindowStartTime] [datetime2](7) NULL,
	[ArrivalWindowEndTime] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[SchedStartTime] [datetime2](7) NULL,
	[SchedEndTime] [datetime2](7) NULL,
	[ActualStartTime] [datetime2](7) NULL,
	[ActualEndTime] [datetime2](7) NULL,
	[ActualDuration] [nvarchar](100) NULL,
	[DurationType] [nvarchar](50) NULL,
	[DurationInMinutes] [nvarchar](1) NULL,
	[ServiceTerritoryId] [nvarchar](50) NULL,
	[Subject] [nvarchar](1) NULL,
	[ParentRecordStatusCategory] [nvarchar](1) NULL,
	[StatusCategory] [nvarchar](50) NULL,
	[ServiceNote] [nvarchar](1) NULL,
	[AppointmentType] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[CancellationReason] [nvarchar](100) NULL,
	[AdditionalInformation] [nvarchar](100) NULL,
	[Comments] [nvarchar](100) NULL,
	[Scheduled_End_Text_c] [datetime2](7) NULL,
	[Scheduled_Start_Text_c] [datetime2](7) NULL,
	[Lead_c] [nvarchar](50) NULL,
	[Call_Url_c] [nvarchar](100) NULL,
	[Get_Account_Name_c] [nvarchar](100) NULL,
	[Get_Day_French_c] [nvarchar](50) NULL,
	[Get_Day_Spanish_c] [nvarchar](50) NULL,
	[Get_Day_c] [nvarchar](50) NULL,
	[Get_Hour_c] [datetime2](7) NULL,
	[Lead_First_Name_c] [nvarchar](50) NULL,
	[Owner_Email_c] [nvarchar](1) NULL,
	[Meeting_Platform_Id_c] [nvarchar](1) NULL,
	[Meeting_Platform_c] [nvarchar](50) NULL
) ON [PRIMARY]
GO
