/****** Object:  Table [dbo].[Membership_Dup_PA]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership_Dup_PA](
	[SalesforceContactID] [nvarchar](50) NULL,
	[ClientMembershipStatusDescription] [nvarchar](50) NULL
) ON [PRIMARY]
GO
