/****** Object:  Table [dbo].[SLF_Prod_PhoneScrub]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_PhoneScrub](
	[CreatedById] [varchar](250) NOT NULL,
	[CreatedDate] [varchar](250) NOT NULL,
	[CurrencyIsoCode] [varchar](250) NOT NULL,
	[Id] [varchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastModifiedById] [varchar](250) NOT NULL,
	[LastModifiedDate] [varchar](250) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[OwnerId] [varchar](250) NOT NULL,
	[SystemModstamp] [varchar](250) NOT NULL,
	[Tigerface5_Account_c] [varchar](250) NULL,
	[Tigerface5_API_Call_Failed_c] [bit] NOT NULL,
	[Tigerface5_API_Failed_Message_c] [varchar](250) NULL,
	[Tigerface5_API_Name_c] [varchar](250) NOT NULL,
	[Tigerface5_Carrier_c] [varchar](250) NULL,
	[Tigerface5_Contact_c] [varchar](250) NULL,
	[Tigerface5_DMA_c] [varchar](250) NOT NULL,
	[Tigerface5_Is_Cell_c] [varchar](250) NULL,
	[Tigerface5_Last_Updated_c] [varchar](250) NOT NULL,
	[Tigerface5_Lead_c] [varchar](250) NOT NULL,
	[Tigerface5_Litigator_c] [varchar](250) NOT NULL,
	[Tigerface5_National_DNC_c] [varchar](250) NOT NULL,
	[Tigerface5_Phone_Field_Name_c] [varchar](250) NOT NULL,
	[Tigerface5_Phone_Number_c] [varchar](250) NOT NULL,
	[Tigerface5_Response_Code_c] [varchar](250) NULL,
	[Tigerface5_State_DNC_c] [varchar](250) NULL,
	[Tigerface5_Status_c] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
