/****** Object:  Table [dbo].[SLF_NEW_cONECTCase]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_cONECTCase](
	[Id] [nvarchar](50) NULL,
	[ServiceAppointmentId] [nvarchar](50) NULL,
	[ServiceAppointment_Status] [nvarchar](50) NULL,
	[ServiceAppointment_StatusCategory] [nvarchar](50) NULL,
	[ServiceAppointment_SchedStartTime] [datetime2](7) NULL,
	[Opportunity_c] [nvarchar](50) NULL,
	[Opportunity_r_StageName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
