/****** Object:  Table [dbo].[SLF_Prod_ServiceAppointment_DELTA]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_ServiceAppointment_DELTA](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[AppointmentNumber] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[ParentRecordId] [nvarchar](max) NULL,
	[ParentRecordType] [nvarchar](max) NULL,
	[AccountId] [nvarchar](max) NULL,
	[WorkTypeId] [nvarchar](max) NULL,
	[ContactId] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[StateCode] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[Latitude] [decimal](38, 18) NULL,
	[Longitude] [decimal](38, 18) NULL,
	[GeocodeAccuracy] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[EarliestStartTime] [datetime2](7) NULL,
	[DueDate] [datetime2](7) NULL,
	[Duration] [decimal](38, 18) NULL,
	[ArrivalWindowStartTime] [datetime2](7) NULL,
	[ArrivalWindowEndTime] [datetime2](7) NULL,
	[Status] [nvarchar](max) NULL,
	[SchedStartTime] [datetime2](7) NULL,
	[SchedEndTime] [datetime2](7) NULL,
	[ActualStartTime] [datetime2](7) NULL,
	[ActualEndTime] [datetime2](7) NULL,
	[ActualDuration] [decimal](38, 18) NULL,
	[DurationType] [nvarchar](max) NULL,
	[DurationInMinutes] [decimal](38, 18) NULL,
	[ServiceTerritoryId] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[ParentRecordStatusCategory] [nvarchar](max) NULL,
	[StatusCategory] [nvarchar](max) NULL,
	[ServiceNote] [nvarchar](max) NULL,
	[AppointmentType] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[CancellationReason] [nvarchar](max) NULL,
	[AdditionalInformation] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[Scheduled_End_Text__c] [nvarchar](max) NULL,
	[Scheduled_Start_Text__c] [nvarchar](max) NULL,
	[Lead__c] [nvarchar](max) NULL,
	[Call_Url__c] [nvarchar](max) NULL,
	[Get_Account_Name__c] [nvarchar](max) NULL,
	[Get_Day_French__c] [nvarchar](max) NULL,
	[Get_Day_Spanish__c] [nvarchar](max) NULL,
	[Get_Day__c] [nvarchar](max) NULL,
	[Get_Hour__c] [datetime2](7) NULL,
	[Lead_First_Name__c] [nvarchar](max) NULL,
	[Owner_Email__c] [nvarchar](max) NULL,
	[Meeting_Platform_Id__c] [nvarchar](max) NULL,
	[Meeting_Platform__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
