/****** Object:  Table [dbo].[SLF_NEW_Event_WithoutOpp]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Event_WithoutOpp](
	[Id] [nvarchar](50) NULL,
	[WhatId] [nvarchar](50) NULL,
	[WhoId] [nvarchar](50) NULL,
	[Opportunity_c] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
