/****** Object:  StoredProcedure [dbo].[sp_NullsToBlanks]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_NullsToBlanks](@SchemaName Varchar(100), @TableName Varchar(100))
AS
BEGIN

DECLARE @ALL_TABLES VARCHAR(MAX) = ''
DECLARE @SQL VARCHAR(MAX) = ''

SELECT @ALL_TABLES = @ALL_TABLES + C.TABLE_NAME + ', '
	FROM INFORMATION_SCHEMA.COLUMNS c
	WHERE C.TABLE_NAME = @TableName

SELECT @SQL = @SQL	+ ' UPDATE ' + @SchemaName + '.' + C.TABLE_NAME 
					+ ' SET ' + c.COLUMN_NAME + ' = '''' ' 
					+ ' WHERE cast(' + c.COLUMN_NAME + ' as VARCHAR(250)) IS NULL ;' 
	FROM INFORMATION_SCHEMA.COLUMNS c
	WHERE C.TABLE_NAME  = @TableName
print @SQL
EXEC (@SQL)

END
GO
