/****** Object:  Table [dbo].[SLF_Final_Campaign_Delta]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Campaign_Delta](
	[Id] [varchar](1) NOT NULL,
	[IsActive] [bit] NULL,
	[ActualCost] [decimal](38, 18) NULL,
	[BudgetedCost] [decimal](38, 18) NULL,
	[Channel__c] [nvarchar](max) NULL,
	[Company__c] [nvarchar](max) NULL,
	[NumberOfContacts] [int] NULL,
	[NumberOfConvertedLeads] [int] NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[DialerMiscCode__c] [nvarchar](max) NULL,
	[EndDate] [nvarchar](4000) NULL,
	[ExpectedResponse] [decimal](38, 18) NULL,
	[ExpectedRevenue] [decimal](38, 18) NULL,
	[External_Id__c] [nvarchar](max) NULL,
	[Language__c] [nvarchar](max) NULL,
	[NumberOfLeads] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[NumberSent] [decimal](38, 18) NULL,
	[NumberOfOpportunities] [int] NULL,
	[OwnerId] [nvarchar](max) NULL,
	[ParentId] [nvarchar](max) NULL,
	[Promo_Code__c] [nvarchar](max) NULL,
	[RecordTypeId] [varchar](18) NOT NULL,
	[CampaignMemberRecordTypeId] [nvarchar](max) NULL,
	[NumberOfResponses] [int] NULL,
	[StartDate] [nvarchar](4000) NULL,
	[Status] [nvarchar](max) NULL,
	[TollFreeNumber__c] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[AmountAllOpportunities] [decimal](38, 18) NULL,
	[AmountWonOpportunities] [decimal](38, 18) NULL,
	[NumberOfWonOpportunities] [int] NULL,
	[Format__c] [nvarchar](max) NULL,
	[Location__c] [nvarchar](max) NULL,
	[Media__c] [nvarchar](max) NULL,
	[Audience__c] [nvarchar](50) NULL,
	[SourceCode_L__c] [nvarchar](max) NULL,
	[MWCCode__c] [nvarchar](max) NULL,
	[MPNCode__c] [nvarchar](max) NULL,
	[MWFCode__c] [nvarchar](max) NULL,
	[DPNCode__c] [nvarchar](max) NULL,
	[DWFCode__c] [nvarchar](max) NULL,
	[DWCCode__c] [nvarchar](max) NULL,
	[Flag] [varchar](6) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
