/****** Object:  Table [dbo].[SLF_NEW_Event_V6]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_Event_V6](
	[Id] [varchar](250) NULL,
	[AccountId] [varchar](250) NULL,
	[CurrencyIsoCode] [varchar](250) NULL,
	[Agent_Link_c] [varchar](250) NULL,
	[IsAllDayEvent] [bit] NULL,
	[IsArchived] [bit] NULL,
	[OwnerId] [varchar](250) NULL,
	[Center_Name_c] [varchar](250) NULL,
	[Completed_Date_c] [varchar](250) NULL,
	[IsRecurrence] [bit] NULL,
	[CreatedById] [varchar](250) NULL,
	[CreatedDate] [varchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[Description] [varchar](250) NULL,
	[ActivityDate] [varchar](250) NULL,
	[ActivityDateTime] [varchar](250) NULL,
	[DurationInMinutes] [int] NULL,
	[EndDateTime] [varchar](250) NULL,
	[EventSubtype] [varchar](250) NULL,
	[External_ID_c] [varchar](250) NULL,
	[GroupEventType] [varchar](250) NULL,
	[Guest_Link_c] [varchar](250) NULL,
	[IsChild] [bit] NULL,
	[IsGroupEvent] [bit] NULL,
	[LastModifiedById] [varchar](250) NULL,
	[LastModifiedDate] [varchar](250) NULL,
	[Lead_c] [varchar](250) NULL,
	[Location] [varchar](250) NULL,
	[Meeting_Platform_c] [varchar](250) NULL,
	[Meeting_Platform_Id_c] [varchar](250) NULL,
	[WhoId] [varchar](250) NULL,
	[Person_Account_c] [varchar](250) NULL,
	[IsPrivate] [bit] NULL,
	[Recording_Link_c] [varchar](250) NULL,
	[BrightPattern_SPRecordingOrTranscriptURL_c] [varchar](250) NULL,
	[RecurrenceActivityId] [varchar](250) NULL,
	[RecurrenceDayOfMonth] [varchar](250) NULL,
	[RecurrenceDayOfWeekMask] [varchar](250) NULL,
	[RecurrenceEndDateOnly] [varchar](250) NULL,
	[RecurrenceInstance] [varchar](250) NULL,
	[RecurrenceInterval] [varchar](250) NULL,
	[RecurrenceMonthOfYear] [varchar](250) NULL,
	[RecurrenceStartDateTime] [varchar](250) NULL,
	[RecurrenceTimeZoneSidKey] [varchar](250) NULL,
	[RecurrenceType] [varchar](250) NULL,
	[WhatCount] [varchar](250) NULL,
	[WhatId] [varchar](250) NULL,
	[WhoCount] [varchar](250) NULL,
	[ReminderDateTime] [varchar](250) NULL,
	[IsReminderSet] [bit] NULL,
	[Result_c] [varchar](250) NULL,
	[Service_Territory_Caller_Id_c] [float] NULL,
	[ShowAs] [varchar](250) NULL,
	[SPRecordingOrTranscriptURL_c] [varchar](250) NULL,
	[StartDateTime] [varchar](250) NULL,
	[Subject] [varchar](250) NULL,
	[SystemModstamp] [varchar](250) NULL,
	[Type] [varchar](250) NULL,
	[newsubject] [varchar](250) NULL,
	[newexternalid] [varchar](250) NULL,
	[RN] [int] NULL
) ON [PRIMARY]
GO
