/****** Object:  Table [dbo].[SLF_Prod_PermissionSet]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Prod_PermissionSet](
	[PermissionSet_ID] [varchar](250) NOT NULL,
	[Access_Custom_Mobile_Apps] [bit] NOT NULL,
	[Access_to_view_Data_Assessment] [bit] NOT NULL,
	[Activate_Contracts] [bit] NOT NULL,
	[Activate_Orders] [bit] NOT NULL,
	[Allow_Inclusion_of_Code_Snippets_from_UI] [bit] NOT NULL,
	[Allow_View_Knowledge] [bit] NOT NULL,
	[API_Enabled] [bit] NOT NULL,
	[Api_Only_User] [bit] NOT NULL,
	[Assign_Chat_Skills_to_Users] [bit] NOT NULL,
	[Assign_Permission_Sets] [bit] NOT NULL,
	[Assign_Topics] [bit] NOT NULL,
	[Author_Apex] [bit] NOT NULL,
	[Bulk_API_Hard_Delete] [bit] NOT NULL,
	[Can_Approve_Feed_Post_and_Comment] [bit] NOT NULL,
	[Chatter_Internal_User] [bit] NOT NULL,
	[Configure_Custom_Recommendations] [bit] NOT NULL,
	[Connect_Organization_to_Environment_Hub] [bit] NOT NULL,
	[Convert_Leads] [bit] NOT NULL,
	[Create_and_Customize_Dashboards] [bit] NOT NULL,
	[Create_and_Customize_List_Views] [bit] NOT NULL,
	[Create_and_Customize_Reports] [bit] NOT NULL,
	[Create_and_Own_New_Chatter_Groups] [bit] NOT NULL,
	[Create_and_Set_Up_Experiences] [bit] NOT NULL,
	[Create_and_Upload_Change_Sets] [bit] NOT NULL,
	[Create_AppExchange_Packages] [bit] NOT NULL,
	[Create_Content_Deliveries] [bit] NOT NULL,
	[Create_custom_Badge_Definitions] [bit] NOT NULL,
	[Create_Dashboard_Folders] [bit] NOT NULL,
	[Create_Libraries] [bit] NOT NULL,
	[Create_Public_Links] [bit] NOT NULL,
	[Create_Report_Folders] [bit] NOT NULL,
	[Create_Topics] [bit] NOT NULL,
	[Created_By_ID] [varchar](250) NOT NULL,
	[Created_Date] [varchar](250) NOT NULL,
	[Customize_Application] [bit] NOT NULL,
	[Debug_Apex] [bit] NOT NULL,
	[Delete_Activated_Contracts] [bit] NOT NULL,
	[Delete_Topics] [bit] NOT NULL,
	[Deploy_Change_Sets] [bit] NOT NULL,
	[Description] [varchar](250) NULL,
	[Download_AppExchange_Packages] [bit] NOT NULL,
	[Drag_and_Drop_Dashboard_Builder] [bit] NOT NULL,
	[Edit_Activated_Orders] [bit] NOT NULL,
	[Edit_Case_Comments] [bit] NOT NULL,
	[Edit_Events] [bit] NOT NULL,
	[Edit_HTML_Templates] [bit] NOT NULL,
	[Edit_My_Dashboards] [bit] NOT NULL,
	[Edit_My_Own_Posts] [bit] NOT NULL,
	[Edit_My_Reports] [bit] NOT NULL,
	[Edit_Opportunity_Product_Sales_Price] [bit] NOT NULL,
	[Edit_Posts_on_Records_I_Own] [bit] NOT NULL,
	[Edit_Read_Only_Fields] [bit] NOT NULL,
	[Edit_Tasks] [bit] NOT NULL,
	[Edit_Topics] [bit] NOT NULL,
	[Email_Administration] [bit] NOT NULL,
	[Email_Based_Identity_Verification_Option] [bit] NOT NULL,
	[Export_Reports] [bit] NOT NULL,
	[Files_Connect_Cloud] [bit] NOT NULL,
	[Import_Custom_Objects] [bit] NOT NULL,
	[Import_Leads] [bit] NOT NULL,
	[Import_Personal_Contacts] [bit] NOT NULL,
	[Import_Solutions] [bit] NOT NULL,
	[Insert_System_Field_Values_for_Chatter_Feeds] [bit] NOT NULL,
	[Invite_Customers_To_Chatter] [bit] NOT NULL,
	[Is_Owned_By_Profile] [bit] NOT NULL,
	[Knowledge_One] [bit] NOT NULL,
	[Last_Modified_By_ID] [varchar](250) NOT NULL,
	[Last_Modified_Date] [varchar](250) NOT NULL,
	[Lightning_Experience_User] [bit] NOT NULL,
	[Manage_All_Private_Reports_and_Dashboards] [bit] NOT NULL,
	[Manage_Articles] [bit] NOT NULL,
	[Manage_Auth_Providers] [bit] NOT NULL,
	[Manage_Business_Hours_Holidays] [bit] NOT NULL,
	[Manage_Call_Centers] [bit] NOT NULL,
	[Manage_Cases] [bit] NOT NULL,
	[Manage_Categories] [bit] NOT NULL,
	[Manage_Chatter_Messages_and_Direct_Messages] [bit] NOT NULL,
	[Manage_Connected_Apps] [bit] NOT NULL,
	[Manage_Content_Permissions] [bit] NOT NULL,
	[Manage_Content_Properties] [bit] NOT NULL,
	[Manage_Custom_Permissions] [bit] NOT NULL,
	[Manage_Custom_Report_Types] [bit] NOT NULL,
	[Manage_Dashboards_in_Public_Folders] [bit] NOT NULL,
	[Manage_Data_Categories] [bit] NOT NULL,
	[Manage_Data_Integrations] [bit] NOT NULL,
	[Manage_Dynamic_Dashboards] [bit] NOT NULL,
	[Manage_Email_Client_Configurations] [bit] NOT NULL,
	[Manage_Email_Templates] [bit] NOT NULL,
	[Manage_Entitlements] [bit] NOT NULL,
	[Manage_Experiences] [bit] NOT NULL,
	[Manage_Flow] [bit] NOT NULL,
	[Manage_Internal_Users] [bit] NOT NULL,
	[Manage_IP_Addresses] [bit] NOT NULL,
	[Manage_Knowledge_Article_Import_Export] [bit] NOT NULL,
	[Manage_Leads] [bit] NOT NULL,
	[Manage_Letterheads] [bit] NOT NULL,
	[Manage_Lightning_Sync] [bit] NOT NULL,
	[Manage_Login_Access_Policies] [bit] NOT NULL,
	[Manage_Macros_Users_Can_t_Undo] [bit] NOT NULL,
	[Manage_Mobile_Configurations] [bit] NOT NULL,
	[Manage_Multi_Factor_Authentication_in_API] [bit] NOT NULL,
	[Manage_Multi_Factor_Authentication_in_User_Interface] [bit] NOT NULL,
	[Manage_Password_Policies] [bit] NOT NULL,
	[Manage_Profiles_and_Permission_Sets] [bit] NOT NULL,
	[Manage_Promoted_Search_Terms] [bit] NOT NULL,
	[Manage_Public_Classic_Email_Templates] [bit] NOT NULL,
	[Manage_Public_Documents] [bit] NOT NULL,
	[Manage_Published_Solutions] [bit] NOT NULL,
	[Manage_Quotas] [bit] NOT NULL,
	[Manage_record_types_and_layouts_for_Files] [bit] NOT NULL,
	[Manage_Reporting_Snapshots] [bit] NOT NULL,
	[Manage_Reports_in_Public_Folders] [bit] NOT NULL,
	[Manage_Roles] [bit] NOT NULL,
	[Manage_Salesforce_CRM_Content] [bit] NOT NULL,
	[Manage_Salesforce_Knowledge] [bit] NOT NULL,
	[Manage_Sandboxes] [bit] NOT NULL,
	[Manage_Session_Permission_Set_Activations] [bit] NOT NULL,
	[Manage_Sharing] [bit] NOT NULL,
	[Manage_Synonyms] [bit] NOT NULL,
	[Manage_Unlisted_Groups] [bit] NOT NULL,
	[Manage_Users] [bit] NOT NULL,
	[Mass_Edits_from_Lists] [bit] NOT NULL,
	[Mass_Email] [bit] NOT NULL,
	[Merge_Topics] [bit] NOT NULL,
	[Moderate_Chatter] [bit] NOT NULL,
	[Moderate_Experience_Cloud_Site_Users] [bit] NOT NULL,
	[Modify_All_Data] [bit] NOT NULL,
	[Multi_Factor_Authentication_for_API_Logins] [bit] NOT NULL,
	[Multi_Factor_Authentication_for_User_Interface_Logins] [bit] NOT NULL,
	[Namespace_Prefix] [varchar](250) NULL,
	[Override_Forecasts] [bit] NOT NULL,
	[Password_Never_Expires] [bit] NOT NULL,
	[Permission_Set_Label] [varchar](250) NOT NULL,
	[Permission_Set_Name] [varchar](250) NOT NULL,
	[Profile_ID] [varchar](250) NULL,
	[Report_Builder] [bit] NOT NULL,
	[Require_Flow_User_Feature_License] [bit] NOT NULL,
	[Reset_User_Passwords_and_Unlock_Users] [bit] NOT NULL,
	[Run_Flows] [bit] NOT NULL,
	[Run_Macros_on_Multiple_Records] [bit] NOT NULL,
	[Run_Reports] [bit] NOT NULL,
	[Sales_Console] [bit] NOT NULL,
	[Schedule_Dashboards] [bit] NOT NULL,
	[Schedule_Reports] [bit] NOT NULL,
	[Select_Files_from_Salesforce] [bit] NOT NULL,
	[Send_announcement_emails] [bit] NOT NULL,
	[Send_Email] [bit] NOT NULL,
	[Send_Email_through_External_Email_Service] [bit] NOT NULL,
	[Send_Outbound_Messages] [bit] NOT NULL,
	[Send_Stay_in_Touch_Requests] [bit] NOT NULL,
	[Session_Activation_Required] [bit] NOT NULL,
	[Set_Audit_Fields_upon_Record_Creation] [bit] NOT NULL,
	[Share_internal_Knowledge_articles_externally] [bit] NOT NULL,
	[Show_Custom_Sidebar_On_All_Pages] [bit] NOT NULL,
	[System_Modstamp] [varchar](250) NOT NULL,
	[Transfer_Cases] [bit] NOT NULL,
	[Transfer_Leads] [bit] NOT NULL,
	[Transfer_Record] [bit] NOT NULL,
	[Update_Records_with_Inactive_Owners] [bit] NOT NULL,
	[Upload_AppExchange_Packages] [bit] NOT NULL,
	[Use_Case_Feed] [bit] NOT NULL,
	[Use_Einstein_Activity_Capture] [bit] NOT NULL,
	[Use_Identity_Connect] [bit] NOT NULL,
	[Use_Identity_Features] [bit] NOT NULL,
	[Use_Team_Reassignment_Wizards] [bit] NOT NULL,
	[User_License_ID] [varchar](250) NULL,
	[View_All_Data] [bit] NOT NULL,
	[View_All_Forecasts] [bit] NOT NULL,
	[View_All_Users] [bit] NOT NULL,
	[View_Content_in_Portals] [bit] NOT NULL,
	[View_Dashboards_in_Public_Folders] [bit] NOT NULL,
	[View_Data_Categories_in_Setup] [bit] NOT NULL,
	[View_Encrypted_Data] [bit] NOT NULL,
	[View_Event_Log_Files] [bit] NOT NULL,
	[View_Help_Link] [bit] NOT NULL,
	[View_My_Team_s_Dashboards] [bit] NOT NULL,
	[View_Reports_in_Public_Folders] [bit] NOT NULL,
	[View_Setup_and_Configuration] [bit] NOT NULL,
	[Weekly_Data_Export] [bit] NOT NULL
) ON [PRIMARY]
GO
