/****** Object:  Table [dbo].[SLF_Final_Rebuttal]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_Rebuttal](
	[Id] [varchar](1) NOT NULL,
	[Active__c] [bit] NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](4000) NOT NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Description__c] [nvarchar](max) NULL,
	[English__c] [bit] NULL,
	[External_ID__c] [nvarchar](max) NULL,
	[Female__c] [bit] NULL,
	[French__c] [bit] NULL,
	[Keywords__c] [nvarchar](max) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[LastModifiedDate] [nvarchar](4000) NOT NULL,
	[Male__c] [bit] NULL,
	[NotAvailableGender__c] [bit] NULL,
	[OwnerId] [nvarchar](max) NULL,
	[Priority__c] [decimal](38, 18) NULL,
	[Name] [nvarchar](max) NULL,
	[Spanish__c] [bit] NULL,
	[Text__c] [nvarchar](max) NULL,
	[User__c] [nvarchar](max) NULL,
	[Upsert] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
