/****** Object:  Table [dbo].[SLF_NEW_CampaignMember]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_NEW_CampaignMember](
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[CampaignId] [nvarchar](18) NULL,
	[LeadId] [nvarchar](18) NULL,
	[ContactId] [nvarchar](18) NULL,
	[Status] [nvarchar](765) NULL,
	[HasResponded] [bit] NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[FirstRespondedDate] [datetime2](0) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[Salutation] [nvarchar](765) NULL,
	[Name] [nvarchar](765) NULL,
	[FirstName] [nvarchar](120) NULL,
	[LastName] [nvarchar](240) NULL,
	[Title] [nvarchar](384) NULL,
	[Street] [nvarchar](765) NULL,
	[City] [nvarchar](120) NULL,
	[State] [nvarchar](240) NULL,
	[PostalCode] [nvarchar](60) NULL,
	[Country] [nvarchar](240) NULL,
	[Email] [nvarchar](240) NULL,
	[Phone] [nvarchar](120) NULL,
	[Fax] [nvarchar](120) NULL,
	[MobilePhone] [nvarchar](120) NULL,
	[Description] [nvarchar](max) NULL,
	[DoNotCall] [bit] NULL,
	[HasOptedOutOfEmail] [bit] NULL,
	[HasOptedOutOfFax] [bit] NULL,
	[LeadSource] [nvarchar](765) NULL,
	[CompanyOrAccount] [nvarchar](765) NULL,
	[Type] [nvarchar](120) NULL,
	[LeadOrContactId] [nvarchar](18) NULL,
	[LeadOrContactOwnerId] [nvarchar](18) NULL,
	[Opportunity__c] [nvarchar](18) NULL,
	[SourceCode__c] [nvarchar](765) NULL,
	[Device_Type__c] [nvarchar](3900) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
