/****** Object:  Table [dbo].[SLF_UAT2_WorkTypeGroup_V2]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT2_WorkTypeGroup_V2](
	[ADDITIONALINFORMATION] [varchar](250) NULL,
	[CREATEDBYID] [varchar](250) NOT NULL,
	[CREATEDDATE] [varchar](250) NOT NULL,
	[CURRENCYISOCODE] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[EXTERNAL_ID_C] [varchar](250) NULL,
	[GROUPTYPE] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[ISACTIVE] [varchar](250) NOT NULL,
	[ISDELETED] [varchar](250) NOT NULL,
	[LANGUAGE_C] [varchar](250) NOT NULL,
	[LASTMODIFIEDBYID] [varchar](250) NOT NULL,
	[LASTMODIFIEDDATE] [varchar](250) NOT NULL,
	[LASTREFERENCEDDATE] [varchar](250) NULL,
	[LASTVIEWEDDATE] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[OWNERID] [varchar](250) NOT NULL,
	[SYSTEMMODSTAMP] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
