/****** Object:  Table [dbo].[SLF_UAT_TollFree]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT_TollFree](
	[Id] [nvarchar](18) NULL,
	[OwnerId] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](240) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastActivityDate] [datetime2](0) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[ACEDescription__c] [nvarchar](765) NULL,
	[ActiveCampaignsDesktop__c] [decimal](3, 0) NULL,
	[ActiveCampaignsMobile__c] [decimal](3, 0) NULL,
	[Company__c] [nvarchar](765) NULL,
	[DNIS__c] [decimal](4, 0) NULL,
	[Description__c] [nvarchar](765) NULL,
	[LanguageCode__c] [decimal](2, 0) NULL,
	[LocationCode__c] [decimal](3, 0) NULL,
	[Misc_Code__c] [decimal](4, 0) NULL,
	[Notes__c] [nvarchar](765) NULL,
	[Number__c] [nvarchar](120) NULL,
	[PDNIS__c] [decimal](10, 0) NULL,
	[PromoCode__c] [nvarchar](60) NULL,
	[SourceCode__c] [nvarchar](765) NULL,
	[TotalActiveCampaigns__c] [decimal](18, 0) NULL,
	[TotalCampaignsDesktop__c] [decimal](18, 0) NULL,
	[TotalCampaignsMobile__c] [decimal](18, 0) NULL,
	[TotalCampaigns__c] [decimal](18, 0) NULL,
	[External_Id__c] [nvarchar](765) NULL
) ON [PRIMARY]
GO
