/****** Object:  Table [dbo].[DimLead]    Script Date: 1/10/2022 10:03:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLead]
(
	[LeadKey] [int] IDENTITY(1,1) NOT NULL,
	[LeadId] [nvarchar](50) NOT NULL,
	[LeadName] [nvarchar](100) NULL,
	[LeadLastname] [nvarchar](100) NULL,
	[LeadFullName] [nvarchar](250) NULL,
	[LeadBirthday] [date] NULL,
	[LeadAddress] [nvarchar](2000) NULL,
	[IsActive] [int] NULL,
	[IsConsultFormComplete] [int] NULL,
	[Isvalid] [int] NULL,
	[IsReferral] [int] NULL,
	[LeadScore] [numeric](18, 0) NULL,
	[LeadEmail] [nvarchar](255) NULL,
	[LeadPhone] [nvarchar](50) NULL,
	[LeadMobilePhone] [nvarchar](50) NULL,
	[LeadAddress1] [nvarchar](400) NULL,
	[NorwoodScale] [nvarchar](200) NULL,
	[LudwigScale] [nvarchar](200) NULL,
	[HairLossScaleKey] [numeric](18, 0) NULL,
	[HairLossInFamily] [nvarchar](100) NULL,
	[HairLossProductUsed] [nvarchar](50) NULL,
	[HairLossSpot] [nvarchar](200) NULL,
	[SourceSystem] [nvarchar](100) NULL,
	[SegmentKey] [numeric](18, 0) NULL,
	[GeographyKey] [int] NULL,
	[LeadPostalCode] [nvarchar](50) NULL,
	[EthnicityKey] [numeric](18, 0) NULL,
	[LeadEthnicity] [nvarchar](100) NULL,
	[GenderKey] [numeric](18, 0) NULL,
	[LeadGender] [nvarchar](100) NULL,
	[OriginalCampaignKey] [numeric](18, 0) NULL,
	[OriginalCampaignCode] [varchar](100) NULL,
	[OriginalSourceCode] [nvarchar](100) NULL,
	[CenterKey] [numeric](18, 0) NULL,
	[CenterNumber] [varchar](100) NULL,
	[LanguageKey] [numeric](18, 0) NULL,
	[LeadLanguage] [nvarchar](100) NULL,
	[StatusKey] [numeric](18, 0) NULL,
	[LeadStatus] [nvarchar](100) NULL,
	[FunnelStepKey] [numeric](18, 0) NULL,
	[LeadCreatedDate] [datetime] NOT NULL,
	[CreatedDateKey] [int] NULL,
	[CreatedTimeKey] [int] NULL,
	[RecentCampaignKey] [int] NULL,
	[RecentCampaignCode] [nvarchar](50) NULL,
	[RecentSourceCode] [nvarchar](100) NULL,
	[LeadLastActivityDate] [datetime] NULL,
	[LastActivityDateKey] [int] NULL,
	[LastActivityTimekey] [int] NULL,
	[DISCStyle] [nvarchar](100) NULL,
	[LeadMaritalStatus] [nvarchar](100) NULL,
	[LeadOccupation] [nvarchar](100) NULL,
	[LeadConsultReady] [int] NULL,
	[ConsultationFormReady] [int] NULL,
	[DWHLoadDate] [datetime] NULL,
	[DWHLastUpdateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[DoNotCall] [bit] NULL,
	[DoNotContact] [bit] NULL,
	[DoNotEmail] [bit] NULL,
	[DoNotMail] [bit] NULL,
	[DoNotText] [bit] NULL,
	[CreateUser] [varchar](100) NULL,
	[UpdateUser] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[OccupationKey] [int] NULL,
	[MaritalStatusKey] [int] NULL,
	[LeadSource] [varchar](100) NULL,
	[SourceKey] [int] NULL,
	[FunnelStep] [varchar](150) NULL,
	[OriginalCommMethodkey] [int] NULL,
	[RecentCommMethodKey] [int] NULL,
	[CommunicationMethod] [varchar](250) NULL,
	[IsValidLeadName] [bit] NULL,
	[IsValidLeadLastName] [bit] NULL,
	[IsValidLeadFullName] [bit] NULL,
	[IsValidLeadPhone] [bit] NULL,
	[IsValidLeadMobilePhone] [bit] NULL,
	[IsValidLeadEmail] [bit] NULL,
	[ReviewNeeded] [bit] NULL,
	[ConvertedContactId] [nvarchar](200) NULL,
	[ConvertedAccountId] [nvarchar](200) NULL,
	[ConvertedOpportunityId] [varchar](1024) NULL,
	[ConvertedDate] [datetime2](7) NULL,
	[ReportCreateDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NULL
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED INDEX
	(
		[LeadKey] ASC
	)
)
GO
