/****** Object:  Table [dbo].[SLF_UAT_Campaign]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_UAT_Campaign](
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](240) NULL,
	[ParentId] [nvarchar](18) NULL,
	[Type] [nvarchar](765) NULL,
	[RecordTypeId] [nvarchar](18) NULL,
	[Status] [nvarchar](765) NULL,
	[StartDate] [datetime2](0) NULL,
	[EndDate] [datetime2](0) NULL,
	[CurrencyIsoCode] [nvarchar](765) NULL,
	[ExpectedRevenue] [decimal](18, 0) NULL,
	[BudgetedCost] [decimal](18, 0) NULL,
	[ActualCost] [decimal](18, 0) NULL,
	[ExpectedResponse] [decimal](10, 2) NULL,
	[NumberSent] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[NumberOfLeads] [int] NULL,
	[NumberOfConvertedLeads] [int] NULL,
	[NumberOfContacts] [int] NULL,
	[NumberOfResponses] [int] NULL,
	[NumberOfOpportunities] [int] NULL,
	[NumberOfWonOpportunities] [int] NULL,
	[AmountAllOpportunities] [decimal](18, 0) NULL,
	[AmountWonOpportunities] [decimal](18, 0) NULL,
	[OwnerId] [nvarchar](18) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime2](0) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[SystemModstamp] [datetime2](0) NULL,
	[LastActivityDate] [datetime2](0) NULL,
	[LastViewedDate] [datetime2](0) NULL,
	[LastReferencedDate] [datetime2](0) NULL,
	[CampaignMemberRecordTypeId] [nvarchar](18) NULL,
	[Channel__c] [nvarchar](765) NULL,
	[Company__c] [nvarchar](765) NULL,
	[External_Id__c] [nvarchar](765) NULL,
	[Language__c] [nvarchar](765) NULL,
	[Promo_Code__c] [nvarchar](18) NULL,
	[SourceCode_L__c] [nvarchar](150) NULL,
	[TollFreeNumber__c] [nvarchar](18) NULL,
	[Format__c] [nvarchar](765) NULL,
	[Audience__c] [nvarchar](765) NULL,
	[Media__c] [nvarchar](765) NULL,
	[Location__c] [nvarchar](765) NULL,
	[DPNCode__c] [nvarchar](90) NULL,
	[DWCCode__c] [nvarchar](90) NULL,
	[DWFCode__c] [nvarchar](90) NULL,
	[MPNCode__c] [nvarchar](90) NULL,
	[MWCCode__c] [nvarchar](90) NULL,
	[MWFCode__c] [nvarchar](90) NULL,
	[Gleam_Id__c] [nvarchar](150) NULL,
	[Dialer_Misc_Code__c] [nvarchar](3900) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
