/****** Object:  Table [dbo].[SLF_Final_ZipCode]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLF_Final_ZipCode](
	[Id] [nvarchar](max) NULL,
	[OwnerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[CurrencyIsoCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedById] [nvarchar](max) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[LastModifiedById] [nvarchar](max) NULL,
	[SystemModstamp] [datetime2](7) NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[LastViewedDate] [datetime2](7) NULL,
	[LastReferencedDate] [datetime2](7) NULL,
	[State__c] [nvarchar](max) NULL,
	[City__c] [nvarchar](max) NULL,
	[CityType__c] [nvarchar](max) NULL,
	[County__c] [nvarchar](max) NULL,
	[DMA__c] [nvarchar](max) NULL,
	[Timezone__c] [nvarchar](max) NULL,
	[Country__c] [nvarchar](max) NULL,
	[zipid__c] [nvarchar](max) NULL,
	[ZipCityStateID__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
