/****** Object:  Table [dss].[task]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[task](
	[id] [uniqueidentifier] NOT NULL,
	[actionid] [uniqueidentifier] NOT NULL,
	[taskNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[lastheartbeat] [datetime] NULL,
	[state] [int] NULL,
	[type] [int] NULL,
	[agentid] [uniqueidentifier] NULL,
	[owning_instanceid] [uniqueidentifier] NULL,
	[creationtime] [datetime] NULL,
	[pickuptime] [datetime] NULL,
	[completedtime] [datetime] NULL,
	[request] [dss].[TASK_REQUEST_RESPONSE] NULL,
	[response] [dss].[TASK_REQUEST_RESPONSE] NULL,
	[priority] [int] NULL,
	[retry_count] [int] NOT NULL,
	[dependency_count] [int] NOT NULL,
	[version] [bigint] NOT NULL,
	[lastresettime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [index_task_actionid]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_actionid] ON [dss].[task]
(
	[actionid] ASC
)
INCLUDE([id],[state]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_task_agentid_state]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_agentid_state] ON [dss].[task]
(
	[agentid] ASC,
	[state] ASC
)
INCLUDE([type]) 
WHERE ([state]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_task_completedtime]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_completedtime] ON [dss].[task]
(
	[completedtime] ASC
)
INCLUDE([actionid]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_task_gettask]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_gettask] ON [dss].[task]
(
	[state] ASC,
	[agentid] ASC,
	[dependency_count] ASC,
	[priority] ASC,
	[creationtime] ASC
)
INCLUDE([owning_instanceid],[version]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_task_state]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_state] ON [dss].[task]
(
	[state] ASC,
	[completedtime] ASC
)
INCLUDE([type]) 
WHERE ([state]=(2))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_task_state_lastheartbeat]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_task_state_lastheartbeat] ON [dss].[task]
(
	[lastheartbeat] ASC,
	[state] ASC
)
INCLUDE([id],[owning_instanceid]) 
WHERE ([state]<(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT (getutcdate()) FOR [creationtime]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT ((100)) FOR [priority]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT ((0)) FOR [retry_count]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT ((0)) FOR [dependency_count]
GO
ALTER TABLE [dss].[task] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dss].[task]  WITH CHECK ADD  CONSTRAINT [FK__task__actionid] FOREIGN KEY([actionid])
REFERENCES [dss].[action] ([id])
GO
ALTER TABLE [dss].[task] CHECK CONSTRAINT [FK__task__actionid]
GO
