/****** Object:  StoredProcedure [dss].[GetAgentById]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[GetAgentById]
    @AgentId	UNIQUEIDENTIFIER
AS
BEGIN
    SELECT
        [id],
        [name],
        [subscriptionid],
        [state],
        [lastalivetime],
        [is_on_premise],
        [version],
        [password_hash],
        [password_salt]
    FROM [dss].[agent]
    WHERE [id] = @AgentId
END
GO
