/****** Object:  Table [dss].[UIHistory]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[UIHistory](
	[id] [uniqueidentifier] NOT NULL,
	[completionTime] [datetime2](7) NOT NULL,
	[taskType] [int] NOT NULL,
	[recordType] [int] NOT NULL,
	[serverid] [uniqueidentifier] NOT NULL,
	[agentid] [uniqueidentifier] NOT NULL,
	[databaseid] [uniqueidentifier] NOT NULL,
	[syncgroupId] [uniqueidentifier] NOT NULL,
	[detailEnumId] [nvarchar](400) NOT NULL,
	[detailStringParameters] [nvarchar](max) NULL,
	[isWritable] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_ServerId]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE CLUSTERED INDEX [Idx_UIHistory_ServerId] ON [dss].[UIHistory]
(
	[serverid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_AgentId]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [Idx_UIHistory_AgentId] ON [dss].[UIHistory]
(
	[agentid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_CompletionTime]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [Idx_UIHistory_CompletionTime] ON [dss].[UIHistory]
(
	[completionTime] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_DatabaseId]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [Idx_UIHistory_DatabaseId] ON [dss].[UIHistory]
(
	[databaseid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_Id]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [Idx_UIHistory_Id] ON [dss].[UIHistory]
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Idx_UIHistory_SyncgroupId]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [Idx_UIHistory_SyncgroupId] ON [dss].[UIHistory]
(
	[syncgroupId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dss].[UIHistory] ADD  DEFAULT ((1)) FOR [isWritable]
GO
