/****** Object:  StoredProcedure [dss].[GetObjectDataWithType]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                    CREATE PROCEDURE [dss].[GetObjectDataWithType]
                        @ObjectId UNIQUEIDENTIFIER,
                        @DataType INT
                    AS
                    BEGIN
                        SELECT [ObjectId]
                            ,[CreatedTime]
                            ,[DroppedTime]
                            ,[LastModified]
                            ,[ObjectData]
                        FROM [dss].[SyncObjectData]
                        WHERE [ObjectId] = @ObjectId AND [DataType] = @DataType AND [DroppedTime] IS NULL
                    END
GO
