/****** Object:  StoredProcedure [dss].[SetDatabaseState]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[SetDatabaseState]
    @DatabaseID	UNIQUEIDENTIFIER,
    @DatabaseState int,
    @JobId      UNIQUEIDENTIFIER
AS
BEGIN
    -- Change the database state
    UPDATE [dss].[userdatabase]
    SET
        [state] = @DatabaseState,
        [jobId] = @JobId
    WHERE [id] = @DatabaseID
END
GO
