/****** Object:  StoredProcedure [dss].[GetServerCount]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[GetServerCount]
AS
BEGIN
    SELECT COUNT(id) FROM [dss].[subscription]
END
GO
