/****** Object:  StoredProcedure [dss].[GetRecurringTaskCountWithMaxDequeueCount]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[GetRecurringTaskCountWithMaxDequeueCount]
AS
BEGIN
    SELECT COUNT([Id]) AS [TaskCount]
    FROM [dss].[ScheduleTask]
    WHERE [DequeueCount] >= 254
END
GO
