/****** Object:  Table [dss].[userdatabase]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[userdatabase](
	[id] [uniqueidentifier] NOT NULL,
	[server] [nvarchar](256) NULL,
	[database] [nvarchar](256) NULL,
	[state] [int] NOT NULL,
	[subscriptionid] [uniqueidentifier] NOT NULL,
	[agentid] [uniqueidentifier] NOT NULL,
	[connection_string] [varbinary](max) NULL,
	[db_schema] [dss].[DB_SCHEMA] NULL,
	[is_on_premise] [bit] NOT NULL,
	[sqlazure_info] [xml] NULL,
	[last_schema_updated] [datetime] NULL,
	[last_tombstonecleanup] [datetime] NULL,
	[region] [nvarchar](256) NULL,
	[jobId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dss].[userdatabase] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dss].[userdatabase] ADD  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dss].[userdatabase]  WITH CHECK ADD  CONSTRAINT [FK__userdatab__subsc] FOREIGN KEY([subscriptionid])
REFERENCES [dss].[subscription] ([id])
GO
ALTER TABLE [dss].[userdatabase] CHECK CONSTRAINT [FK__userdatab__subsc]
GO
