/****** Object:  StoredProcedure [dss].[SetUserDatabaseTombstoneCleanupTime]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[SetUserDatabaseTombstoneCleanupTime]
    @DatabaseId UNIQUEIDENTIFIER,
    @LastTombstoneCleanup datetime
AS
    UPDATE [dss].[userdatabase]
    SET
        [last_tombstonecleanup] = @LastTombstoneCleanup
    WHERE [id] = @DatabaseId

    RETURN @@ROWCOUNT
GO
