/****** Object:  Table [dss].[EnumType]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[EnumType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[EnumId] [int] NOT NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dss].[EnumType] ADD  DEFAULT (getutcdate()) FOR [LastModified]
GO
