/****** Object:  Table [dss].[agent]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[agent](
	[id] [uniqueidentifier] NOT NULL,
	[name] [dss].[DISPLAY_NAME] NULL,
	[subscriptionid] [uniqueidentifier] NULL,
	[state] [int] NULL,
	[lastalivetime] [datetime] NULL,
	[is_on_premise] [bit] NOT NULL,
	[version] [dss].[VERSION] NULL,
	[password_hash] [dss].[PASSWORD_HASH] NULL,
	[password_salt] [dss].[PASSWORD_SALT] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Agent_SubId_Name]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Agent_SubId_Name] ON [dss].[agent]
(
	[subscriptionid] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dss].[agent] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dss].[agent] ADD  DEFAULT ((1)) FOR [state]
GO
ALTER TABLE [dss].[agent]  WITH CHECK ADD  CONSTRAINT [FK__agent__subscript] FOREIGN KEY([subscriptionid])
REFERENCES [dss].[subscription] ([id])
GO
ALTER TABLE [dss].[agent] CHECK CONSTRAINT [FK__agent__subscript]
GO
