/****** Object:  Table [dss].[action]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[action](
	[id] [uniqueidentifier] NOT NULL,
	[syncgroupid] [uniqueidentifier] NULL,
	[type] [int] NOT NULL,
	[state] [int] NOT NULL,
	[creationtime] [datetime] NULL,
	[lastupdatetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [index_action_state_lastupdatetime]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_action_state_lastupdatetime] ON [dss].[action]
(
	[state] ASC,
	[lastupdatetime] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dss].[action] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dss].[action] ADD  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dss].[action] ADD  DEFAULT (getutcdate()) FOR [creationtime]
GO
