/****** Object:  UserDefinedTableType [dss].[TaskDependencyTableType]    Script Date: 1/10/2022 10:01:47 PM ******/
CREATE TYPE [dss].[TaskDependencyTableType] AS TABLE(
	[nexttaskid] [uniqueidentifier] NULL,
	[prevtaskid] [uniqueidentifier] NULL
)
GO
