/****** Object:  UserDefinedTableType [dss].[TaskTableTypeV2]    Script Date: 1/10/2022 10:01:47 PM ******/
CREATE TYPE [dss].[TaskTableTypeV2] AS TABLE(
	[id] [uniqueidentifier] NULL,
	[actionid] [uniqueidentifier] NULL,
	[agentid] [uniqueidentifier] NULL,
	[request] [dss].[TASK_REQUEST_RESPONSE] NULL,
	[dependency_count] [int] NULL,
	[priority] [int] NULL DEFAULT ((100)),
	[type] [int] NULL,
	[version] [bigint] NULL DEFAULT ((0))
)
GO
