/****** Object:  UserDefinedFunction [dss].[IsAgentInstanceValid]    Script Date: 1/10/2022 10:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dss].[IsAgentInstanceValid]
(
    @AgentId			UNIQUEIDENTIFIER,
    @AgentInstanceId	UNIQUEIDENTIFIER
)
RETURNS INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM [dss].[agent_instance] WHERE [id] = @AgentInstanceId AND [agentid] = @AgentId)
    BEGIN
        RETURN 1
    END

    RETURN 0
END
GO
