/****** Object:  Table [dss].[SyncObjectData]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[SyncObjectData](
	[ObjectId] [uniqueidentifier] NOT NULL,
	[DataType] [int] NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[DroppedTime] [datetime2](7) NULL,
	[LastModified] [timestamp] NOT NULL,
	[ObjectData] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_SyncObjectExtInfo] PRIMARY KEY CLUSTERED 
(
	[ObjectId] ASC,
	[DataType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dss].[SyncObjectData] ADD  DEFAULT (getutcdate()) FOR [CreatedTime]
GO
