/****** Object:  Table [dss].[subscription]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[subscription](
	[id] [uniqueidentifier] NOT NULL,
	[name] [dss].[DISPLAY_NAME] NULL,
	[creationtime] [datetime] NULL,
	[lastlogintime] [datetime] NULL,
	[tombstoneretentionperiodindays] [int] NOT NULL,
	[policyid] [int] NULL,
	[subscriptionstate] [tinyint] NOT NULL,
	[WindowsAzureSubscriptionId] [uniqueidentifier] NULL,
	[EnableDetailedProviderTracing] [bit] NULL,
	[syncserveruniquename] [nvarchar](256) NULL,
	[version] [dss].[VERSION] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SyncServerUniqueName]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SyncServerUniqueName] ON [dss].[subscription]
(
	[syncserveruniquename] ASC
)
WHERE ([syncserveruniquename] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dss].[subscription] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dss].[subscription] ADD  DEFAULT ((0)) FOR [policyid]
GO
ALTER TABLE [dss].[subscription] ADD  DEFAULT ((0)) FOR [subscriptionstate]
GO
ALTER TABLE [dss].[subscription] ADD  DEFAULT ((0)) FOR [EnableDetailedProviderTracing]
GO
