/****** Object:  StoredProcedure [dss].[UpdateSyncGroupHubHasData]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[UpdateSyncGroupHubHasData]
    @syncGroupId uniqueidentifier,
    @hasData bit
AS
BEGIN
    UPDATE [dss].[syncgroup]
    SET
        [hubhasdata] = @hasData
    WHERE [id] = @syncGroupId
END
GO
