/****** Object:  StoredProcedure [dss].[UpdateSyncGroupState]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dss].[UpdateSyncGroupState]
    @SyncGroupId UNIQUEIDENTIFIER,
    @State		 INT
AS
BEGIN
    UPDATE [dss].[syncgroup]
    SET
        [state] = @State
    WHERE [id] = @SyncGroupId
END
GO
