/****** Object:  Table [dss].[ScheduleTask]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dss].[ScheduleTask](
	[Id] [uniqueidentifier] NOT NULL,
	[SyncGroupId] [uniqueidentifier] NOT NULL,
	[Interval] [bigint] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[State] [tinyint] NOT NULL,
	[ExpirationTime] [datetime] NULL,
	[PopReceipt] [uniqueidentifier] NULL,
	[DequeueCount] [tinyint] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_ScheduleTask] PRIMARY KEY CLUSTERED 
(
	[SyncGroupId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dss].[ScheduleTask] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dss].[ScheduleTask] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dss].[ScheduleTask] ADD  DEFAULT ((0)) FOR [DequeueCount]
GO
ALTER TABLE [dss].[ScheduleTask] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dss].[ScheduleTask]  WITH CHECK ADD  CONSTRAINT [FK__ScheduleT__SyncG] FOREIGN KEY([SyncGroupId])
REFERENCES [dss].[syncgroup] ([id])
GO
ALTER TABLE [dss].[ScheduleTask] CHECK CONSTRAINT [FK__ScheduleT__SyncG]
GO
