/****** Object:  StoredProcedure [TaskHosting].[CancelJob]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cancel Job SP
CREATE PROCEDURE [TaskHosting].[CancelJob]
  @JobId     uniqueidentifier
AS
BEGIN
    IF @JobId IS NULL
    BEGIN
      RAISERROR('@JobId argument is wrong.', 16, 1)
      RETURN
    END

    SET NOCOUNT ON
    UPDATE TaskHosting.Job SET IsCancelled = 1 WHERE JobId = @JobId
END
GO
