/****** Object:  Table [TaskHosting].[ScheduleTask]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaskHosting].[ScheduleTask](
	[ScheduleTaskId] [uniqueidentifier] NOT NULL,
	[TaskType] [int] NOT NULL,
	[TaskName] [nvarchar](128) NOT NULL,
	[Schedule] [int] NULL,
	[State] [int] NOT NULL,
	[NextRunTime] [datetime] NOT NULL,
	[MessageId] [uniqueidentifier] NULL,
	[TaskInput] [nvarchar](max) NULL,
	[QueueId] [uniqueidentifier] NOT NULL,
	[TracingId] [uniqueidentifier] NOT NULL,
	[JobId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleTaskId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ScheduleTask_MessageId_Index]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [ScheduleTask_MessageId_Index] ON [TaskHosting].[ScheduleTask]
(
	[MessageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [TaskHosting].[ScheduleTask] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [JobId]
GO
ALTER TABLE [TaskHosting].[ScheduleTask]  WITH CHECK ADD FOREIGN KEY([Schedule])
REFERENCES [TaskHosting].[Schedule] ([ScheduleId])
GO
