/****** Object:  StoredProcedure [TaskHosting].[ResetMessageById]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create ResetMessageById SP.

CREATE PROCEDURE [TaskHosting].[ResetMessageById]
  @MessageId uniqueidentifier
AS
BEGIN
    IF @MessageId IS NULL
    BEGIN
      RAISERROR('@MessageId argument is wrong.', 16, 1)
      RETURN
    END

    SET NOCOUNT ON
    UPDATE TaskHosting.MessageQueue
    SET [InsertTimeUTC] = GETUTCDATE(),
        [UpdateTimeUTC] = NULL,
        [ExecTimes] = 0,
        [WorkerId] = NULL,
        [ResetTimes] = [ResetTimes] + 1
    WHERE [MessageId] = @MessageId
END

GO
