/****** Object:  StoredProcedure [TaskHosting].[CountMessages]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [TaskHosting].[CountMessages]
AS
BEGIN
SELECT COUNT([MessageId]) FROM TaskHosting.MessageQueue
END

GO
