/****** Object:  Table [TaskHosting].[MetaInformation]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaskHosting].[MetaInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VersionMajor] [int] NOT NULL,
	[VersionMinor] [int] NOT NULL,
	[VersionBuild] [int] NOT NULL,
	[VersionService] [int] NOT NULL,
	[VersionString] [varchar](50) NULL,
	[Version] [bigint] NULL,
	[State] [bit] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TaskHosting].[MetaInformation] ADD  DEFAULT ((0)) FOR [VersionService]
GO
ALTER TABLE [TaskHosting].[MetaInformation] ADD  DEFAULT ('1.0.0.0') FOR [VersionString]
GO
ALTER TABLE [TaskHosting].[MetaInformation] ADD  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [TaskHosting].[MetaInformation] ADD  DEFAULT (getutcdate()) FOR [Timestamp]
GO
