/****** Object:  Table [TaskHosting].[MessageQueue]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaskHosting].[MessageQueue](
	[MessageId] [uniqueidentifier] NOT NULL,
	[JobId] [uniqueidentifier] NULL,
	[MessageType] [int] NOT NULL,
	[MessageData] [nvarchar](max) NULL,
	[InitialInsertTimeUTC] [datetime] NOT NULL,
	[InsertTimeUTC] [datetime] NOT NULL,
	[UpdateTimeUTC] [datetime] NULL,
	[ExecTimes] [tinyint] NOT NULL,
	[ResetTimes] [int] NOT NULL,
	[Version] [bigint] NOT NULL,
	[TracingId] [uniqueidentifier] NULL,
	[QueueId] [uniqueidentifier] NULL,
	[WorkerId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [index_messagequeue_getnextmessage]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_messagequeue_getnextmessage] ON [TaskHosting].[MessageQueue]
(
	[QueueId] ASC,
	[UpdateTimeUTC] ASC,
	[InsertTimeUTC] ASC,
	[ExecTimes] ASC,
	[Version] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_messagequeue_getnextmessagebytype]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_messagequeue_getnextmessagebytype] ON [TaskHosting].[MessageQueue]
(
	[QueueId] ASC,
	[MessageType] ASC,
	[UpdateTimeUTC] ASC,
	[InsertTimeUTC] ASC,
	[ExecTimes] ASC,
	[Version] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_messagequeue_jobid]    Script Date: 1/10/2022 10:01:48 PM ******/
CREATE NONCLUSTERED INDEX [index_messagequeue_jobid] ON [TaskHosting].[MessageQueue]
(
	[JobId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT (newid()) FOR [MessageId]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT ((0)) FOR [MessageType]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT (getutcdate()) FOR [InitialInsertTimeUTC]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT ((0)) FOR [ExecTimes]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT ((0)) FOR [ResetTimes]
GO
ALTER TABLE [TaskHosting].[MessageQueue] ADD  DEFAULT ((0)) FOR [Version]
GO
ALTER TABLE [TaskHosting].[MessageQueue]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [TaskHosting].[Job] ([JobId])
GO
ALTER TABLE [TaskHosting].[MessageQueue]  WITH CHECK ADD  CONSTRAINT [Chk_ExecTimes_GreaterOrEqualZero] CHECK  (([ExecTimes]>=(0)))
GO
ALTER TABLE [TaskHosting].[MessageQueue] CHECK CONSTRAINT [Chk_ExecTimes_GreaterOrEqualZero]
GO
