/****** Object:  StoredProcedure [TaskHosting].[GetPendingMessageCount]    Script Date: 1/10/2022 10:01:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [TaskHosting].[GetPendingMessageCount]
AS
    SELECT [MessageType], COUNT(*) as [MessageCount] FROM [TaskHosting].[MessageQueue] WITH (NOLOCK) WHERE UpdateTimeUTC IS NULL
    GROUP BY [MessageType]
    RETURN 0
GO
